Repository OmniNode-ai/omnibase_spi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-protocols: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/|src/omnibase_spi/exceptions\.py).*$)
  validate-protocol-duplicates: any of: ^src/.*protocol.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-typing-patterns: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-naming-conventions: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-naming-patterns: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-namespace-isolation-new: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$

chore(ci): propagate normalization-symmetry-hook [bot] (#201)
  .pre-commit-config.yaml
Due: none

chore(release): omnibase-spi 0.20.6
  pyproject.toml
  uv.lock
Due: none

chore(release): omnibase-spi 0.20.6 (#202)
  pyproject.toml
  uv.lock
Due: none

feat(omnibase_spi): add ProtocolCodeRepository, ProtocolArtifactStore, ProtocolNotificationService (OMN-8062)
  src/omnibase_spi/protocols/overseer/__init__.py
  src/omnibase_spi/protocols/overseer/protocol_artifact_store.py
  src/omnibase_spi/protocols/overseer/protocol_code_repository.py
  src/omnibase_spi/protocols/overseer/protocol_notification_service.py
  tests/protocols/overseer/__init__.py
  tests/protocols/overseer/test_protocol_definitions.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(omnibase_spi): widen send_batch payload type to dict[str, Any] (OMN-8062)
  src/omnibase_spi/protocols/overseer/protocol_notification_service.py
  tests/protocols/overseer/test_protocol_definitions.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

docs(OMN-10556): ProtocolSecretStore semantics locked (nullable, no batch)
  src/omnibase_spi/protocols/services/protocol_secret_store.py
  tests/protocols/services/__init__.py
  tests/protocols/services/test_protocol_secret_store_semantics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

docs(OMN-10556): ProtocolSecretStore semantics locked (nullable, no batch) (#204)
  src/omnibase_spi/protocols/services/protocol_secret_store.py
  tests/protocols/services/__init__.py
  tests/protocols/services/test_protocol_secret_store_semantics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(OMN-8062): add ProtocolCodeRepository, ProtocolArtifactStore, ProtocolNotificationService (#203)
  src/omnibase_spi/protocols/overseer/__init__.py
  src/omnibase_spi/protocols/overseer/protocol_artifact_store.py
  src/omnibase_spi/protocols/overseer/protocol_code_repository.py
  src/omnibase_spi/protocols/overseer/protocol_notification_service.py
  tests/protocols/overseer/__init__.py
  tests/protocols/overseer/test_protocol_definitions.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(OMN-10651): remove lab endpoint from delegation contract test
  .pre-commit-config.yaml
  tests/unit/contracts/delegation/test_delegation_contracts.py
Due: ruff-format, ruff-fix

fix(OMN-10651): remove lab endpoint from delegation contract test (#205)
  .pre-commit-config.yaml
  tests/unit/contracts/delegation/test_delegation_contracts.py
Due: ruff-format, ruff-fix

feat(OMN-10758): port change-aware test selection to omnibase_spi
  .github/workflows/ci.yml
  pyproject.toml
  scripts/ci/__init__.py
  scripts/ci/detect_test_paths.py
  scripts/ci/test_selection_adjacency.yaml
  scripts/ci/test_selection_loader.py
  scripts/ci/test_selection_models.py
  tests/unit/test_smart_test_selection.py
  uv.lock
Due: ruff-format, ruff-fix

feat(OMN-10758): port change-aware test selection to omnibase_spi (#206)
  .github/workflows/ci.yml
  pyproject.toml
  scripts/ci/__init__.py
  scripts/ci/detect_test_paths.py
  scripts/ci/test_selection_adjacency.yaml
  scripts/ci/test_selection_loader.py
  scripts/ci/test_selection_models.py
  tests/unit/test_smart_test_selection.py
  uv.lock
Due: ruff-format, ruff-fix

feat(OMN-10603): migrate runner selector to vars.OMNI_TRUSTED_CI_RUNS_ON_JSON
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/ci.yml
  .github/workflows/contract-validation.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/stale-todo-gate.yml
Due: none

feat(OMN-10603): migrate runner selector to vars.OMNI_TRUSTED_CI_RUNS_ON_JSON (#207)
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/ci.yml
  .github/workflows/contract-validation.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/stale-todo-gate.yml
Due: none

fix(OMN-10970): wire skip-token rejection CI gate
  .github/workflows/call-reject-skip.yml
Due: none

fix(OMN-10970): wire skip-token rejection CI gate (#208)
  .github/workflows/call-reject-skip.yml
Due: none

chore: release v0.21.0
  pyproject.toml
  uv.lock
Due: none

chore: pin omnibase-core>=0.41.0 (tag v0.41.0)
  pyproject.toml
  uv.lock
Due: none

chore: release v0.21.0 (#209)
  pyproject.toml
  uv.lock
Due: none

fix(OMN-11164,OMN-11165): flip 2 advisory gates to blocking in omnibase_spi
  .github/workflows/namespace-validation.yml
  .github/workflows/spi-validation.yml
  scripts/validation/check_results.py
Due: ruff-format, ruff-fix

fix(OMN-11164,OMN-11165): flip 2 advisory gates to blocking in omnibase_spi (#210)
  .github/workflows/namespace-validation.yml
  .github/workflows/spi-validation.yml
  scripts/validation/check_results.py
Due: ruff-format, ruff-fix

chore: release omnibase_spi v0.21.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: release omnibase_spi v0.21.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: release omnibase_spi v0.21.0 (#212)
  CHANGELOG.md
Due: none

chore(OMN-11555): delete obsolete cloud-pool protocols (3,661 lines)
  src/omnibase_spi/protocols/event_bus/protocol_event_orchestrator.py
  src/omnibase_spi/protocols/memory/protocol_agent_config_interfaces.py
  src/omnibase_spi/protocols/memory/protocol_agent_configuration.py
  src/omnibase_spi/protocols/memory/protocol_agent_manager.py
  src/omnibase_spi/protocols/memory/protocol_agent_pool.py
  src/omnibase_spi/protocols/memory/protocol_distributed_agent_orchestrator.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_work_coordinator.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_work_queue.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_executor.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_testing.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(OMN-11555): delete obsolete cloud-pool protocols (3,661 lines) (#213)
  src/omnibase_spi/protocols/event_bus/protocol_event_orchestrator.py
  src/omnibase_spi/protocols/memory/protocol_agent_config_interfaces.py
  src/omnibase_spi/protocols/memory/protocol_agent_configuration.py
  src/omnibase_spi/protocols/memory/protocol_agent_manager.py
  src/omnibase_spi/protocols/memory/protocol_agent_pool.py
  src/omnibase_spi/protocols/memory/protocol_distributed_agent_orchestrator.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_work_coordinator.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_work_queue.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_executor.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_testing.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

ci(OMN-11622): gate merges on spi validation
  .github/workflows/ci.yml
Due: none

test(OMN-11621): cover ai slop validator
  tests/unit/scripts/__init__.py
  tests/unit/scripts/test_check_ai_slop.py
Due: ruff-format, ruff-fix

test(OMN-11620): cover comprehensive SPI validator
  tests/unit/validation/__init__.py
  tests/unit/validation/test_comprehensive_spi_validator.py
Due: ruff-format, ruff-fix

test(OMN-11619): cover SPI protocol validator
  scripts/validation/validate_spi_protocols.py
  tests/unit/validation/__init__.py
  tests/unit/validation/test_validate_spi_protocols.py
Due: ruff-format, ruff-fix

test(OMN-11619): cover SPI protocol validator (#217)
  scripts/validation/validate_spi_protocols.py
  tests/unit/validation/__init__.py
  tests/unit/validation/test_validate_spi_protocols.py
Due: ruff-format, ruff-fix

test(OMN-11620): cover comprehensive SPI validator (#216)
  tests/unit/validation/test_comprehensive_spi_validator.py
Due: ruff-format, ruff-fix

test(OMN-11621): cover ai slop validator (#215)
  tests/unit/scripts/__init__.py
  tests/unit/scripts/test_check_ai_slop.py
Due: ruff-format, ruff-fix

ci(OMN-11622): gate merges on spi validation (#214)
  .github/workflows/ci.yml
Due: none

ci: add dev PR workflow triggers
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/call-reject-skip.yml
  .github/workflows/check-handshake.yml
  .github/workflows/ci.yml
  .github/workflows/contract-validation.yml
  .github/workflows/namespace-validation.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/security-scan.yml
  .github/workflows/spi-validation.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/todo-audit-on-merge.yml
Due: none

ci: add dev PR workflow triggers (#218)
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/call-reject-skip.yml
  .github/workflows/check-handshake.yml
  .github/workflows/ci.yml
  .github/workflows/contract-validation.yml
  .github/workflows/namespace-validation.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/security-scan.yml
  .github/workflows/spi-validation.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/todo-audit-on-merge.yml
Due: none

refactor(OMN-11820): reduce complexity in check_ai_slop.py
  scripts/validation/check_ai_slop.py
  tests/fixtures/ai_slop_check_baseline.txt
  tests/unit/scripts/test_check_ai_slop.py
Due: ruff-format, ruff-fix

refactor(OMN-11821): reduce complexity in validate_spi_protocols.py and validate_protocol_duplicates.py
  scripts/validation/validate_protocol_duplicates.py
  scripts/validation/validate_spi_protocols.py
  tests/fixtures/validate_protocol_duplicates_baseline.txt
  tests/fixtures/validate_spi_protocols_baseline.txt
  uv.lock
Due: ruff-format, ruff-fix

refactor(OMN-11819): decompose comprehensive_spi_validator.py into spi_validator package
  pyproject.toml
  scripts/validation/comprehensive_spi_validator.py
  scripts/validation/spi_validator/__init__.py
  scripts/validation/spi_validator/ast_checks.py
  scripts/validation/spi_validator/autofix.py
  scripts/validation/spi_validator/config.py
  scripts/validation/spi_validator/duplicate_analyzer.py
  scripts/validation/spi_validator/engine.py
  scripts/validation/spi_validator/file_validator.py
  scripts/validation/spi_validator/models.py
  scripts/validation/spi_validator/reporter.py
  tests/fixtures/comprehensive_validator_baseline.txt
  tests/unit/validation/test_comprehensive_spi_validator.py
Due: ruff-format, ruff-fix
