Repository OmniNode-ai/omnibase_spi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (lint + import sort)
  entry: poetry run ruff check --fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: poetry run mypy
  language: system
  args:
  - --strict
  - --ignore-missing-imports
  - --show-error-codes
  - --no-error-summary
  stages:
  - pre-commit

validate-spi-protocols:
  name: SPI Protocol Architecture Validation
  entry: poetry run python scripts/validation/validate_spi_protocols.py
  language: system
  pass_filenames: false
  args:
  - src/
  - --exclude-pattern
  - exceptions.py
  stages:
  - pre-commit

validate-protocol-duplicates:
  name: SPI Protocol Duplicate Detection
  entry: poetry run python scripts/validation/validate_protocol_duplicates.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-spi-typing-patterns:
  name: SPI Typing Pattern Validation
  entry: poetry run python scripts/validation/validate_spi_typing_patterns.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-spi-naming-conventions:
  name: SPI Naming Convention Validation
  entry: poetry run python scripts/validation/validate_spi_naming.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-naming-patterns:
  name: SPI Naming Pattern Validation
  entry: python scripts/validation/validate_naming_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-namespace-isolation-new:
  name: SPI Namespace Isolation (No Infra, No Pydantic)
  entry: python scripts/validation/validate_namespace_isolation.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-secrets:
  name: SPI Secret Detection
  entry: poetry run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-hardcoded-env-vars:
  name: SPI Hardcoded Environment Variable Prevention
  entry: poetry run python scripts/validation/validate_hardcoded_env_vars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

chore(OMN-16640): standardize MIT copyright holder to OmniNode.ai Inc. (#278)
  LICENSE
Due: none

docs(OMN-16663): add official OmniNode brand <picture> README header
  README.md
  docs/assets/brand/BRAND.md
  docs/assets/brand/omninode-icon-black.png
  docs/assets/brand/omninode-icon-full-color.svg
  docs/assets/brand/omninode-icon-white.png
  docs/assets/brand/omninode-inline-black.png
  docs/assets/brand/omninode-inline-full-color.svg
  docs/assets/brand/omninode-inline-white.png
  docs/assets/brand/omninode-stacked-black.png
  docs/assets/brand/omninode-stacked-full-color.svg
  docs/assets/brand/omninode-stacked-white.png
  docs/assets/brand/omninode-wordmark-black.svg
  docs/assets/brand/omninode-wordmark-grey.svg
  docs/assets/brand/omninode-wordmark-white.svg
Due: none

docs(OMN-16663): add official OmniNode brand <picture> README header (#279)
  README.md
  docs/assets/brand/BRAND.md
  docs/assets/brand/omninode-icon-black.png
  docs/assets/brand/omninode-icon-full-color.svg
  docs/assets/brand/omninode-icon-white.png
  docs/assets/brand/omninode-inline-black.png
  docs/assets/brand/omninode-inline-full-color.svg
  docs/assets/brand/omninode-inline-white.png
  docs/assets/brand/omninode-stacked-black.png
  docs/assets/brand/omninode-stacked-full-color.svg
  docs/assets/brand/omninode-stacked-white.png
  docs/assets/brand/omninode-wordmark-black.svg
  docs/assets/brand/omninode-wordmark-grey.svg
  docs/assets/brand/omninode-wordmark-white.svg
Due: none

fix(OMN-16697): restore the OCC manual-replay precheck + gate workflow script refs
  .github/workflows/workflow-script-refs.yml
  .pre-commit-config.yaml
  scripts/ci/occ_manual_replay_precheck.py
  tests/ci/test_workflow_script_refs_exist.py
Due: ruff-format, ruff-fix

fix: detach the workflow-script-refs gate from repo pytest wiring
  .github/workflows/workflow-script-refs.yml
Due: none

fix(OMN-16697): restore the OCC manual-replay precheck + gate workflow script refs (#280)
  .github/workflows/workflow-script-refs.yml
  .pre-commit-config.yaml
  scripts/ci/occ_manual_replay_precheck.py
  tests/ci/test_workflow_script_refs_exist.py
Due: ruff-format, ruff-fix

fix(OMN-16691): pin occ-*-manual-replay off the shared runner seam (OMN-16682 carried-forward item 1)
  .github/workflows/call-occ-autobind.yml
  .github/workflows/call-occ-companion-effect.yml
Due: none

fix(OMN-16691): pin occ-*-manual-replay off the shared runner seam (OMN-16682 carried-forward item 1) (#281)
  .github/workflows/call-occ-autobind.yml
  .github/workflows/call-occ-companion-effect.yml
Due: none

chore(OMN-16933): remove CodeRabbit thread-gate workflows
  .github/workflows/auto-merge.yml
  .github/workflows/cr-thread-gate-caller.yml
  .github/workflows/cr-thread-gate.yml
Due: none

chore(OMN-16933): remove CodeRabbit thread-gate workflows (#282)
  .github/workflows/auto-merge.yml
  .github/workflows/cr-thread-gate-caller.yml
  .github/workflows/cr-thread-gate.yml
Due: none

chore(OMN-17148): admit omnibase-core 0.47.x, release 0.23.3
  CHANGELOG.md
  docs/api-reference/CONTAINER.md
  docs/api-reference/CONTRACTS.md
  docs/api-reference/CORE.md
  docs/api-reference/EVENT-BUS.md
  docs/api-reference/EXCEPTIONS.md
  docs/api-reference/FILE-HANDLING.md
  docs/api-reference/HANDLERS.md
  docs/api-reference/MCP.md
  docs/api-reference/MEMORY.md
  docs/api-reference/NETWORKING.md
  docs/api-reference/NODES.md
  docs/api-reference/PROJECTIONS.md
  docs/api-reference/README.md
  docs/api-reference/REGISTRY.md
  docs/api-reference/VALIDATION.md
  docs/api-reference/WORKFLOW-ORCHESTRATION.md
  pyproject.toml
  uv.lock
Due: none

chore(OMN-17148): admit omnibase-core 0.47.x, release 0.23.3 (#283)
  CHANGELOG.md
  docs/api-reference/CONTAINER.md
  docs/api-reference/CONTRACTS.md
  docs/api-reference/CORE.md
  docs/api-reference/EVENT-BUS.md
  docs/api-reference/EXCEPTIONS.md
  docs/api-reference/FILE-HANDLING.md
  docs/api-reference/HANDLERS.md
  docs/api-reference/MCP.md
  docs/api-reference/MEMORY.md
  docs/api-reference/NETWORKING.md
  docs/api-reference/NODES.md
  docs/api-reference/PROJECTIONS.md
  docs/api-reference/README.md
  docs/api-reference/REGISTRY.md
  docs/api-reference/VALIDATION.md
  docs/api-reference/WORKFLOW-ORCHESTRATION.md
  pyproject.toml
  uv.lock
Due: none

fix(OMN-17272): release main-sync must push as onexbot-occ-writer, not github-actions[bot]
  .github/workflows/release.yml
Due: none

fix(OMN-17272): release main-sync must push as onexbot-occ-writer, not github-actions[bot] (#284)
  .github/workflows/release.yml
Due: none

ci(OMN-17172): require the KB doc gate on omnibase_spi PRs
  .github/workflows/kb-doc-gate.yml
Due: none

ci(OMN-17172): require the KB doc gate on omnibase_spi PRs (#285)
  .github/workflows/kb-doc-gate.yml
Due: none

docs(OMN-16608): remove 20 migrated/superseded docs, chunk 1
  docs/CONTRIBUTING.md
  docs/GLOSSARY.md
  docs/PROTOCOL_SEQUENCE_DIAGRAMS.md
  docs/QUICK-START.md
  docs/README.md
  docs/TESTING.md
  docs/architecture/DEPENDENCY-DIRECTION.md
  docs/architecture/README.md
  docs/developer-guide/README.md
  docs/examples/IMPLEMENTATION-EXAMPLES.md
  docs/examples/MEMORY_PROTOCOLS_GUIDE.md
  docs/examples/README.md
  docs/patterns/PROTOCOL-COMPOSITION-PATTERNS.md
  docs/patterns/PROTOCOL-SELECTION-GUIDE.md
  docs/standards/README.md
  docs/templates/README.md
  src/omnibase_spi/protocols/README.md
  src/omnibase_spi/protocols/validation/README.md
  src/omnibase_spi/protocols/validation/USAGE.md
  tests/integration/README.md
Due: none

docs(OMN-16608): repoint doc references at the knowledge base and flip kb-doc-gate to strict
  .github/CONTRIBUTING.md
  .github/workflows/kb-doc-gate.yml
  .kb-doc-gate.yaml
  AGENT.md
  CLAUDE.md
  README.md
  docs/api-reference/README.md
  docs/assets/brand/BRAND.md
  pyproject.toml
  src/omnibase_spi/protocols/contracts/protocol_handler_contract.py
  src/omnibase_spi/protocols/contracts/protocol_handler_contract_types.py
  src/omnibase_spi/protocols/dashboard/protocol_renderer.py
  src/omnibase_spi/protocols/dashboard/protocol_renderer_capability_negotiator.py
  src/omnibase_spi/protocols/handlers/protocol_handler_source.py
  src/omnibase_spi/protocols/handlers/types.py
  src/omnibase_spi/protocols/protocol_execution_constrainable.py
  src/omnibase_spi/protocols/verification/protocol_package_verifier.py
  tests/unit/test_doc_protocol_imports.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

docs(OMN-16608): fold AGENT.md into CLAUDE.md and drop it from the doc-gate allowlist
  .github/workflows/kb-doc-gate.yml
  .kb-doc-gate.yaml
  AGENT.md
  CLAUDE.md
  README.md
  tests/unit/test_doc_protocol_imports.py
Due: ruff-format, ruff-fix

docs(OMN-16608): migrate omnibase_spi documentation to the knowledge base and flip kb-doc-gate to strict (#286)
  .github/CONTRIBUTING.md
  .github/workflows/kb-doc-gate.yml
  .kb-doc-gate.yaml
  AGENT.md
  CLAUDE.md
  README.md
  docs/CONTRIBUTING.md
  docs/GLOSSARY.md
  docs/PROTOCOL_SEQUENCE_DIAGRAMS.md
  docs/QUICK-START.md
  docs/README.md
  docs/TESTING.md
  docs/api-reference/README.md
  docs/architecture/DEPENDENCY-DIRECTION.md
  docs/architecture/README.md
  docs/assets/brand/BRAND.md
  docs/developer-guide/README.md
  docs/examples/IMPLEMENTATION-EXAMPLES.md
  docs/examples/MEMORY_PROTOCOLS_GUIDE.md
  docs/examples/README.md
  docs/patterns/PROTOCOL-COMPOSITION-PATTERNS.md
  docs/patterns/PROTOCOL-SELECTION-GUIDE.md
  docs/standards/README.md
  docs/templates/README.md
  pyproject.toml
  src/omnibase_spi/protocols/README.md
  src/omnibase_spi/protocols/contracts/protocol_handler_contract.py
  src/omnibase_spi/protocols/contracts/protocol_handler_contract_types.py
  src/omnibase_spi/protocols/dashboard/protocol_renderer.py
  src/omnibase_spi/protocols/dashboard/protocol_renderer_capability_negotiator.py
  src/omnibase_spi/protocols/handlers/protocol_handler_source.py
  src/omnibase_spi/protocols/handlers/types.py
  src/omnibase_spi/protocols/protocol_execution_constrainable.py
  src/omnibase_spi/protocols/validation/README.md
  src/omnibase_spi/protocols/validation/USAGE.md
  src/omnibase_spi/protocols/verification/protocol_package_verifier.py
  tests/integration/README.md
  tests/unit/test_doc_protocol_imports.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

docs(OMN-17997): stop naming the private knowledge base in the public README
  README.md
Due: none

fix(OMN-17993): the runner-IP gate's paths filter excluded the tree it now scans
  .github/workflows/ban-hardcoded-runner-ip.yml
  tests/ci/test_ban_hardcoded_runner_ip_scope.py
Due: ruff-format, ruff-fix

docs(OMN-17997): stop naming the private knowledge base in the public README (#289)
  README.md
Due: none

fix(OMN-17993): the runner-IP gate's paths filter excluded the tree it now scans (#288)
  .github/workflows/ban-hardcoded-runner-ip.yml
  tests/ci/test_ban_hardcoded_runner_ip_scope.py
Due: ruff-format, ruff-fix

feat(OMN-18016): adopt the public-repo hygiene gate in report mode
  .github/workflows/public-repo-hygiene.yml
  .public-repo-hygiene.yaml
Due: none

feat(OMN-18016): adopt the public-repo hygiene gate in report mode (#290)
  .github/workflows/public-repo-hygiene.yml
  .public-repo-hygiene.yaml
Due: none

ci(OMN-17993): pin ban-hardcoded-runner-ip to the widened scanner SHA, not @main
  .github/workflows/ban-hardcoded-runner-ip.yml
  tests/ci/test_ban_hardcoded_runner_ip_scope.py
Due: ruff-format, ruff-fix

ci(OMN-17993): pin ban-hardcoded-runner-ip to the widened scanner SHA, not @main (#291)
  .github/workflows/ban-hardcoded-runner-ip.yml
  tests/ci/test_ban_hardcoded_runner_ip_scope.py
Due: ruff-format, ruff-fix

ci(OMN-18016): refresh omniclaude reusable workflow pins
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/kb-doc-gate.yml
  .github/workflows/public-repo-hygiene.yml
Due: none

ci(OMN-18016): pin remaining omniclaude workflow callers
  .github/workflows/call-reject-skip.yml
  .github/workflows/required-check-skip-guard-caller.yml
Due: none

ci(OMN-18016): refresh omniclaude reusable workflow pins (#295)
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/call-reject-skip.yml
  .github/workflows/kb-doc-gate.yml
  .github/workflows/public-repo-hygiene.yml
  .github/workflows/required-check-skip-guard-caller.yml
Due: none

wip(OMN-17272): preserved from dirty worktree 2026-09-13
  .github/workflows/release.yml
Due: none

feat(OMN-18334): listen for a description edit on the companion-effect caller
  .github/workflows/call-occ-companion-effect.yml
  tests/test_occ_companion_effect_edited_trigger_omn_18334.py
Due: ruff-format, ruff-fix

feat(OMN-18334): listen for a description edit on the companion-effect caller (#296)
  .github/workflows/call-occ-companion-effect.yml
  tests/test_occ_companion_effect_edited_trigger_omn_18334.py
Due: ruff-format, ruff-fix

fix(OMN-18012): pass SASL secrets to companion effect
  .github/workflows/call-occ-companion-effect.yml
Due: none

fix(OMN-18012): pass SASL secrets to companion effect (#298)
  .github/workflows/call-occ-companion-effect.yml
Due: none

chore(OMN-17474): remove pre-commit hooks measured at zero fires (#297)
  .pre-commit-config.yaml
Due: none

chore: add commit-msg hook to strip AI Co-Authored-By trailers
  .pre-commit-config.yaml
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-protocols: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/|src/omnibase_spi/exceptions\.py).*$)
  validate-protocol-duplicates: any of: ^src/.*protocol.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-typing-patterns: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-naming-conventions: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-naming-patterns: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-namespace-isolation-new: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
