Repository OmniNode-ai/omnibase_spi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (lint + import sort)
  entry: poetry run ruff check --fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: poetry run mypy
  language: system
  args:
  - --strict
  - --ignore-missing-imports
  - --show-error-codes
  - --no-error-summary
  stages:
  - pre-commit

validate-spi-protocols:
  name: SPI Protocol Architecture Validation
  entry: poetry run python scripts/validation/validate_spi_protocols.py
  language: system
  pass_filenames: false
  args:
  - src/
  - --exclude-pattern
  - exceptions.py
  stages:
  - pre-commit

validate-protocol-duplicates:
  name: SPI Protocol Duplicate Detection
  entry: poetry run python scripts/validation/validate_protocol_duplicates.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-spi-typing-patterns:
  name: SPI Typing Pattern Validation
  entry: poetry run python scripts/validation/validate_spi_typing_patterns.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-spi-naming-conventions:
  name: SPI Naming Convention Validation
  entry: poetry run python scripts/validation/validate_spi_naming.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-naming-patterns:
  name: SPI Naming Pattern Validation
  entry: python scripts/validation/validate_naming_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-namespace-isolation-new:
  name: SPI Namespace Isolation (No Infra, No Pydantic)
  entry: python scripts/validation/validate_namespace_isolation.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-secrets:
  name: SPI Secret Detection
  entry: poetry run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-hardcoded-env-vars:
  name: SPI Hardcoded Environment Variable Prevention
  entry: poetry run python scripts/validation/validate_hardcoded_env_vars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

docs(protocols): codify ProtocolEventPublisher semantics and policy [OMN-1615]
  docs/api-reference/EVENT-BUS.md
  src/omnibase_spi/protocols/event_bus/protocol_event_publisher.py
  tests/unit/protocols/event_bus/test_protocol_event_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(tests): cleanup unused imports and simplify assertions [OMN-1615]
  tests/unit/protocols/event_bus/test_protocol_event_publisher.py
Due: ruff-format, ruff-fix

fix(protocols): make docstring transport-agnostic and improve test robustness [OMN-1615]
  src/omnibase_spi/protocols/event_bus/protocol_event_publisher.py
  tests/unit/protocols/event_bus/test_protocol_event_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(tests): remove unused Protocol import [OMN-1615]
  tests/unit/protocols/event_bus/test_protocol_event_publisher.py
Due: ruff-format, ruff-fix

chore(validation): add SPDX header prevention hook [OMN-1615]
  .pre-commit-config.yaml
  scripts/validation/__init__.py
  scripts/validation/validate_no_spdx_headers.py
  src/omnibase_spi/protocols/intelligence/__init__.py
  src/omnibase_spi/protocols/intelligence/protocol_intent_classifier.py
  src/omnibase_spi/protocols/intelligence/protocol_intent_graph.py
  src/omnibase_spi/protocols/intelligence/protocol_pattern_extractor.py
  tests/unit/protocols/intelligence/__init__.py
  tests/unit/protocols/intelligence/conftest.py
  tests/unit/protocols/intelligence/test_protocol_intent_classifier.py
  tests/unit/protocols/intelligence/test_protocol_intent_graph.py
  tests/unit/protocols/intelligence/test_protocol_pattern_extractor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(release): bump version to 0.6.2 [OMN-1615]
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): address PR #69 CodeRabbit feedback [OMN-1615]
  CHANGELOG.md
  tests/unit/protocols/event_bus/test_protocol_event_publisher.py
Due: ruff-format, ruff-fix

docs(protocols): codify ProtocolEventPublisher semantics and policy [OMN-1615] (#69)
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/api-reference/EVENT-BUS.md
  pyproject.toml
  scripts/validation/__init__.py
  scripts/validation/validate_no_spdx_headers.py
  src/omnibase_spi/__init__.py
  src/omnibase_spi/protocols/event_bus/protocol_event_publisher.py
  src/omnibase_spi/protocols/intelligence/__init__.py
  src/omnibase_spi/protocols/intelligence/protocol_intent_classifier.py
  src/omnibase_spi/protocols/intelligence/protocol_intent_graph.py
  src/omnibase_spi/protocols/intelligence/protocol_pattern_extractor.py
  tests/unit/protocols/event_bus/test_protocol_event_publisher.py
  tests/unit/protocols/intelligence/__init__.py
  tests/unit/protocols/intelligence/conftest.py
  tests/unit/protocols/intelligence/test_protocol_intent_classifier.py
  tests/unit/protocols/intelligence/test_protocol_intent_graph.py
  tests/unit/protocols/intelligence/test_protocol_pattern_extractor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): add ProtocolConstraintValidator and update ProtocolIntentGraph [OMN-1227] [OMN-1479]
  pyproject.toml
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/intelligence/protocol_intent_graph.py
  src/omnibase_spi/protocols/validation/__init__.py
  src/omnibase_spi/protocols/validation/protocol_constraint_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): make ProtocolConstraintValidator methods async
  src/omnibase_spi/protocols/validation/protocol_constraint_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

test(protocols): add ProtocolConstraintValidator tests and update ProtocolIntentGraph tests [OMN-1227] [OMN-1479]
  src/omnibase_spi/protocols/validation/protocol_constraint_validator.py
  tests/unit/protocols/intelligence/test_protocol_intent_graph.py
  tests/unit/protocols/validation/__init__.py
  tests/unit/protocols/validation/test_protocol_constraint_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(protocols): clean up redundant code from PR review [OMN-1227]
  src/omnibase_spi/protocols/validation/__init__.py
  tests/unit/protocols/validation/test_protocol_constraint_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): add ProtocolConstraintValidator and update ProtocolIntentGraph [OMN-1227] [OMN-1479] (#70)
  pyproject.toml
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/intelligence/protocol_intent_graph.py
  src/omnibase_spi/protocols/validation/__init__.py
  src/omnibase_spi/protocols/validation/protocol_constraint_validator.py
  tests/unit/protocols/intelligence/test_protocol_intent_graph.py
  tests/unit/protocols/validation/__init__.py
  tests/unit/protocols/validation/test_protocol_constraint_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(release): bump version to 0.6.3 and update omnibase-core to 0.9.10
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(release): bump version to 0.6.3 and update omnibase-core to 0.9.10 (#71)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): update ProtocolIntentGraph to use ModelIntentClassificationOutput [OMN-1729]
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/__init__.py
  src/omnibase_spi/protocols/intelligence/protocol_intent_graph.py
  tests/unit/protocols/intelligence/test_protocol_intent_graph.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(tests): improve MockIntentGraph and fix CHANGELOG version table [OMN-1729]
  CHANGELOG.md
  tests/unit/protocols/intelligence/test_protocol_intent_graph.py
Due: ruff-format, ruff-fix

fix(protocols): update ProtocolIntentGraph to use ModelIntentClassificationOutput [OMN-1729] (#72)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/__init__.py
  src/omnibase_spi/protocols/intelligence/protocol_intent_graph.py
  tests/unit/protocols/intelligence/test_protocol_intent_graph.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore: install architecture handshake constraint map [OMN-1983]
  .claude/architecture-handshake.md
Due: none

ci: add architecture handshake verification workflow [OMN-1983]
  .github/workflows/check-handshake.yml
Due: none

fix(review): [major] CI workflow auth and script execution
  .claude/architecture-handshake.md
  .github/workflows/check-handshake.yml
Due: none

fix(review): [major] pin omnibase_core ref and complete naming conventions
  .claude/architecture-handshake.md
  .github/workflows/check-handshake.yml
Due: none

fix(review): pin omnibase_core to commit SHA and add code block language specifier
  .claude/architecture-handshake.md
  .github/workflows/check-handshake.yml
Due: none

chore: install architecture handshake constraint map [OMN-1983] (#73)
  .claude/architecture-handshake.md
  .github/workflows/check-handshake.yml
Due: none

refactor(contracts): rename serialization/versioning to contract_wire_codec/contract_schema_compat [OMN-2004]
  src/omnibase_spi/contracts/pipeline/contract_schema_compat.py
  src/omnibase_spi/contracts/pipeline/contract_wire_codec.py
  tests/unit/contracts/pipeline/test_contract_schema_compat.py
  tests/unit/contracts/pipeline/test_contract_wire_codec.py
  tests/unit/contracts/test_no_forbidden_imports.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): [major+minor] type safety, API completeness, and documentation [OMN-2004]
  CLAUDE.md
  src/omnibase_spi/contracts/__init__.py
  src/omnibase_spi/contracts/pipeline/contract_wire_codec.py
  src/omnibase_spi/contracts/validation/contract_attribution_record.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): [minor] remove unused Any import from contract_wire_codec [OMN-2004]
  src/omnibase_spi/contracts/pipeline/contract_wire_codec.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): add types-PyYAML stubs, fix import sorting and stale type: ignore [OMN-2004]
  pyproject.toml
  src/omnibase_spi/contracts/__init__.py
  src/omnibase_spi/contracts/pipeline/contract_wire_codec.py
  tests/unit/contracts/pipeline/test_contract_schema_compat.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): rename stale MockIntentStoredEvent to MockIntentStorageResult [OMN-2004]
  tests/unit/protocols/intelligence/test_protocol_intent_graph.py
Due: ruff-format, ruff-fix

feat(contracts): add measurement pipeline wire-format contracts [OMN-2024]
  scripts/validation/validate_namespace_isolation.py
  src/omnibase_spi/contracts/__init__.py
  src/omnibase_spi/contracts/measurement/__init__.py
  src/omnibase_spi/contracts/measurement/contract_aggregated_run.py
  src/omnibase_spi/contracts/measurement/contract_measured_attribution.py
  src/omnibase_spi/contracts/measurement/contract_measurement_context.py
  src/omnibase_spi/contracts/measurement/contract_measurement_event.py
  src/omnibase_spi/contracts/measurement/contract_phase_metrics.py
  src/omnibase_spi/contracts/measurement/contract_producer.py
  src/omnibase_spi/contracts/measurement/contract_promotion_gate.py
  src/omnibase_spi/contracts/measurement/enum_measurement_check.py
  src/omnibase_spi/contracts/measurement/enum_pipeline_phase.py
  src/omnibase_spi/contracts/measurement/enum_result_classification.py
  src/omnibase_spi/contracts/shared/contract_check_result.py
  tests/unit/contracts/measurement/__init__.py
  tests/unit/contracts/measurement/test_measurement_contracts.py
  tests/unit/contracts/test_no_forbidden_imports.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(contracts): address PR #75 review feedback on measurement contracts [OMN-2024]
  src/omnibase_spi/contracts/__init__.py
  src/omnibase_spi/contracts/measurement/__init__.py
  src/omnibase_spi/contracts/measurement/contract_aggregated_run.py
  src/omnibase_spi/contracts/measurement/contract_measurement_context.py
  src/omnibase_spi/contracts/measurement/contract_phase_metrics.py
  src/omnibase_spi/contracts/measurement/contract_promotion_gate.py
  src/omnibase_spi/contracts/measurement/enum_measurement_check.py
  tests/unit/contracts/measurement/test_measurement_contracts.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): [minor] update docstrings and add cross-field validation
  src/omnibase_spi/contracts/measurement/contract_aggregated_run.py
  src/omnibase_spi/contracts/shared/contract_check_result.py
  tests/unit/contracts/measurement/test_measurement_contracts.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): [minor] add sufficient_count <= total_count validation to PromotionGate
  src/omnibase_spi/contracts/measurement/contract_promotion_gate.py
  tests/unit/contracts/measurement/test_measurement_contracts.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): [minor] use null-byte separator in derive_baseline_key to prevent delimiter collision
  src/omnibase_spi/contracts/measurement/contract_measurement_context.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(contracts): add measurement pipeline wire-format contracts [OMN-2024] (#75)
  scripts/validation/validate_namespace_isolation.py
  src/omnibase_spi/contracts/__init__.py
  src/omnibase_spi/contracts/measurement/__init__.py
  src/omnibase_spi/contracts/measurement/contract_aggregated_run.py
  src/omnibase_spi/contracts/measurement/contract_measured_attribution.py
  src/omnibase_spi/contracts/measurement/contract_measurement_context.py
  src/omnibase_spi/contracts/measurement/contract_measurement_event.py
  src/omnibase_spi/contracts/measurement/contract_phase_metrics.py
  src/omnibase_spi/contracts/measurement/contract_producer.py
  src/omnibase_spi/contracts/measurement/contract_promotion_gate.py
  src/omnibase_spi/contracts/measurement/enum_measurement_check.py
  src/omnibase_spi/contracts/measurement/enum_pipeline_phase.py
  src/omnibase_spi/contracts/measurement/enum_result_classification.py
  src/omnibase_spi/contracts/shared/contract_check_result.py
  tests/unit/contracts/measurement/__init__.py
  tests/unit/contracts/measurement/test_measurement_contracts.py
  tests/unit/contracts/test_no_forbidden_imports.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): [minor] add ge=0 constraints to float duration and cost fields
  src/omnibase_spi/contracts/measurement/contract_aggregated_run.py
  src/omnibase_spi/contracts/measurement/contract_phase_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): [minor] add ge=0 constraints to float duration and cost fields (#76)
  src/omnibase_spi/contracts/measurement/contract_aggregated_run.py
  src/omnibase_spi/contracts/measurement/contract_phase_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(release): bump version to 0.7.0 and update omnibase-core to 0.16.0
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-protocols: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/|src/omnibase_spi/exceptions\.py).*$)
  validate-protocol-duplicates: any of: ^src/.*protocol.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-typing-patterns: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-naming-conventions: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-naming-patterns: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-namespace-isolation-new: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
