Repository OmniNode-ai/omnibase_spi: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

validate-spi-protocols:
  name: SPI Protocol Architecture Validation
  entry: poetry run python scripts/validation/validate_spi_protocols.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-protocol-duplicates:
  name: SPI Protocol Duplicate Detection
  entry: poetry run python scripts/validation/validate_protocol_duplicates.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-spi-typing-patterns:
  name: SPI Typing Pattern Validation
  entry: poetry run python scripts/validation/validate_spi_typing_patterns.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-spi-naming-conventions:
  name: SPI Naming Convention Validation
  entry: poetry run python scripts/validation/validate_spi_naming.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-naming-patterns:
  name: SPI Naming Pattern Validation
  entry: python scripts/validation/validate_naming_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-namespace-isolation-new:
  name: SPI Namespace Isolation (No Infra, No Pydantic)
  entry: python scripts/validation/validate_namespace_isolation.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: Update CLAUDE.md with validation commands and scripts
  CLAUDE.md
Due: none

fix: Rename INode to ProtocolNode in test file
  tests/protocols/nodes/test_base.py
Due: none

fix: Fix validator errors and add legacy protocols
  .gitignore
  scripts/validation/comprehensive_spi_validator.py
  src/omnibase_spi/protocols/contracts/effect_compiler.py
  src/omnibase_spi/protocols/contracts/fsm_compiler.py
  src/omnibase_spi/protocols/contracts/workflow_compiler.py
  src/omnibase_spi/protocols/nodes/legacy/__init__.py
  src/omnibase_spi/protocols/nodes/legacy/compute.py
  src/omnibase_spi/protocols/nodes/legacy/effect.py
  src/omnibase_spi/protocols/nodes/legacy/orchestrator.py
  src/omnibase_spi/protocols/nodes/legacy/reducer.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

fix: Resolve all CI validation failures for PR #30
  src/omnibase_spi/__init__.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/advanced/protocol_contract_analyzer.py
  src/omnibase_spi/protocols/discovery/__init__.py
  src/omnibase_spi/protocols/discovery/protocol_handler_discovery.py
  src/omnibase_spi/protocols/onex/__init__.py
  src/omnibase_spi/protocols/onex/protocol_compute_node.py
  src/omnibase_spi/protocols/onex/protocol_effect_node.py
  src/omnibase_spi/protocols/onex/protocol_orchestrator_node.py
  src/omnibase_spi/protocols/onex/protocol_reducer_node.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

fix: Sync version in __init__.py with pyproject.toml (0.2.0)
  src/omnibase_spi/__init__.py
Due: validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

fix: Address all PR #30 review feedback
  scripts/validation/comprehensive_spi_validator.py
  scripts/validation/run_all_validations.py
  scripts/validation/validate_architecture.py
  scripts/validation/validate_namespace_isolation.py
  scripts/validation/validate_naming_patterns.py
  scripts/validation/validate_spi_protocols.py
  scripts/validation/validate_spi_typing_patterns.py
  src/omnibase_spi/__init__.py
  src/omnibase_spi/exceptions.py
  src/omnibase_spi/protocols/advanced/protocol_direct_knowledge_pipeline.py
  src/omnibase_spi/protocols/contracts/__init__.py
  src/omnibase_spi/protocols/contracts/effect_compiler.py
  src/omnibase_spi/protocols/contracts/fsm_compiler.py
  src/omnibase_spi/protocols/contracts/workflow_compiler.py
  src/omnibase_spi/protocols/core/protocol_canonical_serializer.py
  src/omnibase_spi/protocols/core/protocol_service_discovery.py
  src/omnibase_spi/protocols/core/protocol_uri_parser.py
  src/omnibase_spi/protocols/event_bus/protocol_dlq_handler.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_in_memory.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_mixin.py
  src/omnibase_spi/protocols/event_bus/protocol_event_publisher.py
  src/omnibase_spi/protocols/event_bus/protocol_schema_registry.py
  src/omnibase_spi/protocols/test/protocol_testable_cli.py
  src/omnibase_spi/protocols/types/protocol_contract.py
  src/omnibase_spi/protocols/types/protocol_core_types.py
  src/omnibase_spi/protocols/types/protocol_event_bus_types.py
  src/omnibase_spi/protocols/types/protocol_llm_types.py
  src/omnibase_spi/protocols/types/protocol_mcp_types.py
  src/omnibase_spi/protocols/types/protocol_semantic_types.py
  src/omnibase_spi/protocols/types/protocol_workflow_orchestration_types.py
  src/omnibase_spi/protocols/validation/protocol_compliance_validator.py
  src/omnibase_spi/protocols/validation/protocol_validation_orchestrator.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_work_queue.py
  tests/protocols/nodes/test_base.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

fix: Address remaining CodeRabbit nitpicks for PR #30
  .github/workflows/namespace-validation.yml
  CLAUDE.md
  docs/MVP_PLAN.md
  docs/VALIDATION_INTEGRATION_PLAN.md
  scripts/validation/check_results.py
  src/omnibase_spi/__init__.py
  src/omnibase_spi/protocols/nodes/legacy/__init__.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

fix: Resolve CI failures for import isolation and async patterns
  src/omnibase_spi/__init__.py
  src/omnibase_spi/protocols/contracts/effect_compiler.py
  src/omnibase_spi/protocols/contracts/fsm_compiler.py
  src/omnibase_spi/protocols/contracts/workflow_compiler.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

refactor: Split large protocol files for domain cohesion compliance
  scripts/validate-spi-purity.sh
  scripts/validation/check_results.py
  scripts/validation/comprehensive_spi_validator.py
  scripts/validation/run_all_validations.py
  scripts/validation/validate_architecture.py
  scripts/validation/validate_namespace_isolation.py
  scripts/validation/validate_naming_patterns.py
  src/omnibase_spi/protocols/memory/protocol_memory_advanced_requests.py
  src/omnibase_spi/protocols/memory/protocol_memory_advanced_responses.py
  src/omnibase_spi/protocols/memory/protocol_memory_base.py
  src/omnibase_spi/protocols/memory/protocol_memory_data_types.py
  src/omnibase_spi/protocols/memory/protocol_memory_requests.py
  src/omnibase_spi/protocols/memory/protocol_memory_responses.py
  src/omnibase_spi/protocols/types/__init__.py
  src/omnibase_spi/protocols/types/protocol_advanced_types.py
  src/omnibase_spi/protocols/types/protocol_agent_ai_types.py
  src/omnibase_spi/protocols/types/protocol_analytics_types.py
  src/omnibase_spi/protocols/types/protocol_base_types.py
  src/omnibase_spi/protocols/types/protocol_connection_types.py
  src/omnibase_spi/protocols/types/protocol_core_types.py
  src/omnibase_spi/protocols/types/protocol_error_types.py
  src/omnibase_spi/protocols/types/protocol_event_agent_types.py
  src/omnibase_spi/protocols/types/protocol_event_bus_types.py
  src/omnibase_spi/protocols/types/protocol_file_handling_types.py
  src/omnibase_spi/protocols/types/protocol_file_result_types.py
  src/omnibase_spi/protocols/types/protocol_health_types.py
  src/omnibase_spi/protocols/types/protocol_logging_types.py
  src/omnibase_spi/protocols/types/protocol_marker_types.py
  src/omnibase_spi/protocols/types/protocol_mcp_tool_types.py
  src/omnibase_spi/protocols/types/protocol_mcp_types.py
  src/omnibase_spi/protocols/types/protocol_node_types.py
  src/omnibase_spi/protocols/types/protocol_retry_types.py
  src/omnibase_spi/protocols/types/protocol_service_types.py
  src/omnibase_spi/protocols/types/protocol_state_types.py
  src/omnibase_spi/protocols/types/protocol_validation_types.py
  src/omnibase_spi/protocols/types/protocol_workflow_execution_types.py
  src/omnibase_spi/protocols/types/protocol_workflow_orchestration_types.py
  src/omnibase_spi/protocols/types/protocol_workflow_value_types.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

fix: Add @runtime_checkable and fix naming for ProtocolWorkflowEventRef
  src/omnibase_spi/protocols/types/protocol_workflow_execution_types.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

fix: Address Claude Code review feedback
  .github/workflows/namespace-validation-PROPOSED.yml
  .gitignore
  WORKFLOW_TEST_ANALYSIS.md
  tmp/pr-review-cache/pr_30_OmniNode-ai-omnibase_spi_full.json
  tmp/pr-review-cache/pr_5_OmniNode-ai-omnibase_spi_full.json
Due: none

fix: Address Claude Code review documentation feedback
  src/omnibase_spi/protocols/advanced/protocol_contract_analyzer.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

fix: Address PR #31 review feedback for release readiness
  src/omnibase_spi/protocols/cli/protocol_cli.py
  src/omnibase_spi/protocols/cli/protocol_cli_dir_fixture_case.py
  src/omnibase_spi/protocols/cli/protocol_cli_dir_fixture_registry.py
  src/omnibase_spi/protocols/cli/protocol_cli_tool_discovery.py
  src/omnibase_spi/protocols/container/protocol_registry.py
  src/omnibase_spi/protocols/container/protocol_schema_exclusion_registry.py
  src/omnibase_spi/protocols/container/protocol_testable_registry.py
  src/omnibase_spi/protocols/event_bus/protocol_event_orchestrator.py
  src/omnibase_spi/protocols/event_bus/protocol_kafka_adapter.py
  src/omnibase_spi/protocols/file_handling/protocol_file_discovery_source.py
  src/omnibase_spi/protocols/file_handling/protocol_file_io.py
  src/omnibase_spi/protocols/file_handling/protocol_file_writer.py
  src/omnibase_spi/protocols/memory/protocol_memory_advanced_responses.py
  src/omnibase_spi/protocols/networking/protocol_http_client.py
  src/omnibase_spi/protocols/networking/protocol_kafka_client.py
  src/omnibase_spi/protocols/node/protocol_node_runner.py
  src/omnibase_spi/protocols/types/protocol_connection_types.py
  src/omnibase_spi/protocols/types/protocol_container_types.py
  src/omnibase_spi/protocols/types/protocol_event_agent_types.py
  src/omnibase_spi/protocols/types/protocol_marker_types.py
  src/omnibase_spi/protocols/types/protocol_storage_types.py
  src/omnibase_spi/protocols/validation/protocol_input_validation_tool.py
  src/omnibase_spi/protocols/validation/protocol_precommit_checker.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_work_coordinator.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_event_bus.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_orchestrator.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

chore: Bump version to 0.3.0 with omnibase_core dependency
  CLAUDE.md
  pyproject.toml
Due: none

fix: Sync __version__ with pyproject.toml (0.3.0)
  src/omnibase_spi/__init__.py
Due: validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

feat: Add comprehensive node protocol tests and update ProtocolEventBus
  README.md
  docs/api-reference/EVENT-BUS.md
  docs/developer-guide/README.md
  docs/examples/README.md
  src/omnibase_spi/__init__.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/event_bus/__init__.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_context_manager.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_in_memory.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_service.py
  src/omnibase_spi/protocols/event_bus/protocol_kafka_adapter.py
  src/omnibase_spi/protocols/event_bus/protocol_redpanda_adapter.py
  src/omnibase_spi/protocols/validation/protocol_contract_compliance.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_event_bus.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_event_coordinator.py
  tests/protocols/handlers/__init__.py
  tests/protocols/handlers/test_protocol_handler.py
  tests/protocols/nodes/test_compute.py
  tests/protocols/nodes/test_effect.py
  tests/protocols/nodes/test_orchestrator.py
  tests/protocols/nodes/test_reducer.py
  tests/protocols/registry/__init__.py
  tests/protocols/registry/test_handler_registry.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

refactor(spi): Fix event bus protocol layer separation
  README.md
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/event_bus/__init__.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_context_manager.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_provider.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_service.py
  src/omnibase_spi/protocols/validation/protocol_contract_compliance.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_event_bus.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_event_coordinator.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

docs(spi): Add comprehensive docstrings and documentation for PR #32
  docs/api-reference/EVENT-BUS.md
  docs/api-reference/WORKFLOW-ORCHESTRATION.md
  docs/developer-guide/README.md
  docs/examples/README.md
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_context_manager.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_provider.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_service.py
  src/omnibase_spi/protocols/event_bus/protocol_kafka_adapter.py
  src/omnibase_spi/protocols/event_bus/protocol_redpanda_adapter.py
  src/omnibase_spi/protocols/validation/protocol_contract_compliance.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_event_bus.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_event_coordinator.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

fix(spi): Resolve validation failures - duplicate protocol and namespace isolation
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_context_manager.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_provider.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_service.py
  src/omnibase_spi/protocols/types/protocol_core_types.py
  src/omnibase_spi/protocols/types/protocol_validation_types.py
  src/omnibase_spi/protocols/validation/protocol_contract_compliance.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_event_bus.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_event_coordinator.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

fix(spi): Address PR #32 review feedback
  docs/api-reference/EVENT-BUS.md
  docs/api-reference/WORKFLOW-ORCHESTRATION.md
  src/omnibase_spi/protocols/cli/protocol_cli.py
  src/omnibase_spi/protocols/validation/protocol_contract_compliance.py
  tests/protocols/handlers/test_protocol_handler.py
  tests/protocols/nodes/test_base.py
  tests/protocols/nodes/test_compute.py
  tests/protocols/nodes/test_effect.py
  tests/protocols/nodes/test_orchestrator.py
  tests/protocols/nodes/test_reducer.py
  tests/protocols/registry/test_handler_registry.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

fix(spi): Address all PR #32 review feedback
  docs/api-reference/EVENT-BUS.md
  docs/api-reference/WORKFLOW-ORCHESTRATION.md
  src/omnibase_spi/protocols/types/protocol_file_handling_types.py
  tests/protocols/nodes/test_base.py
  tests/protocols/nodes/test_effect.py
  tests/protocols/nodes/test_reducer.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

fix(spi): Address remaining PR #32 review feedback
  docs/api-reference/WORKFLOW-ORCHESTRATION.md
  src/omnibase_spi/protocols/cli/protocol_cli.py
  tests/protocols/handlers/test_protocol_handler.py
  tests/protocols/nodes/test_compute.py
  tests/protocols/nodes/test_effect.py
  tests/protocols/nodes/test_reducer.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

fix(spi): Address PR #22 review feedback
  docs/api-reference/EVENT-BUS.md
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_provider.py
  tests/protocols/event_bus/__init__.py
  tests/protocols/event_bus/test_event_bus_provider.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

fix(spi): Address additional PR #32 review feedback
  src/omnibase_spi/protocols/cli/protocol_cli.py
  src/omnibase_spi/protocols/validation/protocol_contract_compliance.py
  tests/protocols/nodes/test_effect.py
  tests/protocols/registry/test_handler_registry.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

fix(spi): Add __all__ exports and fix test file path
  scripts/validation/test_signature_improvements.py
  src/omnibase_spi/protocols/memory/protocol_memory_responses.py
  src/omnibase_spi/protocols/types/protocol_advanced_types.py
  src/omnibase_spi/protocols/types/protocol_file_handling_types.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

fix(spi): Address final PR #32 review feedback for release readiness
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/advanced/__init__.py
  src/omnibase_spi/protocols/cli/__init__.py
  src/omnibase_spi/protocols/container/__init__.py
  src/omnibase_spi/protocols/event_bus/__init__.py
  src/omnibase_spi/protocols/file_handling/__init__.py
  src/omnibase_spi/protocols/llm/__init__.py
  src/omnibase_spi/protocols/memory/__init__.py
  src/omnibase_spi/protocols/memory/protocol_memory_base.py
  src/omnibase_spi/protocols/memory/protocol_memory_requests.py
  src/omnibase_spi/protocols/memory/protocol_memory_responses.py
  src/omnibase_spi/protocols/node/__init__.py
  src/omnibase_spi/protocols/onex/__init__.py
  src/omnibase_spi/protocols/schema/__init__.py
  src/omnibase_spi/protocols/security/__init__.py
  src/omnibase_spi/protocols/types/__init__.py
  src/omnibase_spi/protocols/types/protocol_advanced_types.py
  src/omnibase_spi/protocols/types/protocol_core_types.py
  src/omnibase_spi/protocols/types/protocol_event_bus_types.py
  src/omnibase_spi/protocols/types/protocol_file_handling_types.py
  src/omnibase_spi/protocols/types/protocol_llm_types.py
  src/omnibase_spi/protocols/types/protocol_mcp_tool_types.py
  src/omnibase_spi/protocols/types/protocol_mcp_types.py
  src/omnibase_spi/protocols/types/protocol_semantic_types.py
  src/omnibase_spi/protocols/types/protocol_workflow_orchestration_types.py
  src/omnibase_spi/protocols/validation/protocol_contract_compliance.py
  src/omnibase_spi/protocols/workflow_orchestration/__init__.py
  tests/protocols/event_bus/test_event_bus_provider.py
  tests/protocols/nodes/test_orchestrator.py
  tests/test_protocol_service_resolver.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

feat(spi): Add improvements from PR #32 review and comprehensive CHANGELOG
  .github/workflows/namespace-validation.yml
  .gitignore
  CHANGELOG.md
  docs/examples/IMPLEMENTATION-EXAMPLES.md
  docs/examples/README.md
  pyproject.toml
  src/omnibase_spi/protocols/advanced/protocol_direct_knowledge_pipeline.py
  src/omnibase_spi/protocols/cli/protocol_cli_dir_fixture_case.py
  src/omnibase_spi/protocols/container/protocol_connection_manageable.py
  src/omnibase_spi/protocols/core/protocol_service_discovery.py
  src/omnibase_spi/protocols/discovery/protocol_discovery_client.py
  src/omnibase_spi/protocols/event_bus/protocol_dlq_handler.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_provider.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_service.py
  src/omnibase_spi/protocols/event_bus/protocol_event_publisher.py
  src/omnibase_spi/protocols/event_bus/protocol_kafka_adapter.py
  src/omnibase_spi/protocols/event_bus/protocol_redpanda_adapter.py
  src/omnibase_spi/protocols/event_bus/protocol_schema_registry.py
  src/omnibase_spi/protocols/handlers/protocol_handler.py
  src/omnibase_spi/protocols/networking/protocol_http_client.py
  src/omnibase_spi/protocols/networking/protocol_http_extended.py
  src/omnibase_spi/protocols/networking/protocol_kafka_client.py
  src/omnibase_spi/protocols/networking/protocol_kafka_extended.py
  src/omnibase_spi/protocols/nodes/effect.py
  src/omnibase_spi/protocols/storage/protocol_database_connection.py
  tests/integration/README.md
  tests/integration/__init__.py
  tests/integration/conftest.py
  tests/integration/test_protocol_integration.py
  tests/protocols/event_bus/test_event_bus_provider.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

chore(spi): Add pytest-cov for test coverage metrics
  pyproject.toml
Due: none

fix(spi): Remove circular import of ProtocolEventBusProvider from core_types
  src/omnibase_spi/protocols/types/__init__.py
  src/omnibase_spi/protocols/types/protocol_core_types.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

refactor(spi): Clean up protocol_core_types re-exports
  src/omnibase_spi/protocols/analytics/protocol_analytics_provider.py
  src/omnibase_spi/protocols/types/__init__.py
  src/omnibase_spi/protocols/types/protocol_core_types.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

fix(spi): Address PR #33 review feedback
  .pre-commit-config.yaml
  scripts/validation/validate_architecture.py
  scripts/validation/validate_hardcoded_env_vars.py
  scripts/validation/validate_no_empty_directories.py
  scripts/validation/validate_secrets.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_types.py
  src/omnibase_spi/protocols/nodes/legacy/compute.py
  src/omnibase_spi/protocols/nodes/legacy/effect.py
  src/omnibase_spi/protocols/nodes/legacy/orchestrator.py
  src/omnibase_spi/protocols/nodes/legacy/reducer.py
  tests/test_deprecation_warnings.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

fix(spi): Address PR #33 review feedback - security, protocols, tests
  scripts/validation/comprehensive_spi_validator.py
  scripts/validation/shared_utils.py
  scripts/validation/validate_hardcoded_env_vars.py
  scripts/validation/validate_namespace_isolation.py
  scripts/validation/validate_naming_patterns.py
  scripts/validation/validate_secrets.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_types.py
  tests/test_deprecation_warnings.py
Due: validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new

feat(spi): Add forward reference validation tests [OMN-358]
  tests/test_forward_references.py
Due: none

fix(spi): Address PR #34 review feedback for forward reference tests
  tests/test_forward_references.py
Due: none

Path conditions:
  validate-spi-protocols: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$) and not (^\.git/)
  validate-protocol-duplicates: any of: ^src/.*protocol.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$) and not (^\.git/)
  validate-spi-typing-patterns: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$) and not (^\.git/)
  validate-spi-naming-conventions: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$) and not (^\.git/)
  validate-naming-patterns: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$) and not (^\.git/)
  validate-namespace-isolation-new: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$) and not (^\.git/)
