Repository OmniNode-ai/omnibase_spi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (lint + import sort)
  entry: poetry run ruff check --fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: poetry run mypy
  language: system
  args:
  - --strict
  - --ignore-missing-imports
  - --show-error-codes
  - --no-error-summary
  stages:
  - pre-commit

validate-spi-protocols:
  name: SPI Protocol Architecture Validation
  entry: poetry run python scripts/validation/validate_spi_protocols.py
  language: system
  pass_filenames: false
  args:
  - src/
  - --exclude-pattern
  - exceptions.py
  stages:
  - pre-commit

validate-protocol-duplicates:
  name: SPI Protocol Duplicate Detection
  entry: poetry run python scripts/validation/validate_protocol_duplicates.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-spi-typing-patterns:
  name: SPI Typing Pattern Validation
  entry: poetry run python scripts/validation/validate_spi_typing_patterns.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-spi-naming-conventions:
  name: SPI Naming Convention Validation
  entry: poetry run python scripts/validation/validate_spi_naming.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-naming-patterns:
  name: SPI Naming Pattern Validation
  entry: python scripts/validation/validate_naming_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-namespace-isolation-new:
  name: SPI Namespace Isolation (No Infra, No Pydantic)
  entry: python scripts/validation/validate_namespace_isolation.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-secrets:
  name: SPI Secret Detection
  entry: poetry run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-hardcoded-env-vars:
  name: SPI Hardcoded Environment Variable Prevention
  entry: poetry run python scripts/validation/validate_hardcoded_env_vars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

refactor: consolidate runtime protocol models inline, remove dead module files [OMN-8550]
  src/omnibase_spi/protocols/runtime/model_domain_plugin_config.py
  src/omnibase_spi/protocols/runtime/model_domain_plugin_result.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix: resolve SPI purity violations for ProtocolDomainPlugin [OMN-8550]
  scripts/validation/comprehensive_spi_validator.py
  src/omnibase_spi/models/__init__.py
  src/omnibase_spi/models/domain_plugin.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/runtime/protocol_domain_plugin.py
  validation_config.yaml
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix: ruff format test_protocol_domain_plugin.py
  tests/protocols/runtime/test_protocol_domain_plugin.py
Due: ruff-format, ruff-fix

fix: lazy-load omnibase_spi.models to pass namespace isolation check [OMN-8550]
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/runtime/__init__.py
  src/omnibase_spi/protocols/runtime/protocol_domain_plugin.py
  tests/protocols/runtime/test_protocol_domain_plugin.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

refactor: move ModelDomainPluginConfig/Result to omnibase_core, delete omnibase_spi/models [OMN-8550]
  scripts/validation/comprehensive_spi_validator.py
  src/omnibase_spi/models/__init__.py
  src/omnibase_spi/models/domain_plugin.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/runtime/__init__.py
  src/omnibase_spi/protocols/runtime/protocol_domain_plugin.py
  tests/protocols/runtime/test_protocol_domain_plugin.py
  validation_config.yaml
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

ci: add contract_compliance_check gate [OMN-8636] (#171)
  .github/workflows/ci.yml
Due: none

ci: remove duplicate CodeQL check and fix omni-standards dual-trigger
  .github/workflows/codeql.yml
  .github/workflows/omni-standards-compliance.yml
Due: none

ci: remove duplicate CodeQL check and fix omni-standards dual-trigger (#172)
  .github/workflows/codeql.yml
  .github/workflows/omni-standards-compliance.yml
Due: none

fix(ci): use gh pr merge --merge for merge-queue compatibility [OMN-8653]
  .github/workflows/auto-merge.yml
Due: none

fix(ci): use gh pr merge --merge for merge-queue compatibility [OMN-8653] (#173)
  .github/workflows/auto-merge.yml
Due: none

fix(ci): use canonical onex_change_control path on self-hosted runner [OMN-8636]
  .github/workflows/ci.yml
Due: none

fix(ci): replace broken clone-to-tmp contract compliance check with actions/checkout
  .github/workflows/ci.yml
Due: none

fix(ci): scope contract YAML validation to OMN-*.yaml files only [OMN-8636]
  .github/workflows/ci.yml
Due: none

fix(ci): replace broken clone-to-tmp contract compliance check with actions/checkout [OMN-8636] (#174)
  .github/workflows/ci.yml
Due: none

refactor: move ProtocolDomainPlugin to omnibase_spi [OMN-8550] (#170)
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/runtime/__init__.py
  src/omnibase_spi/protocols/runtime/protocol_domain_plugin.py
  tests/protocols/runtime/__init__.py
  tests/protocols/runtime/test_protocol_domain_plugin.py
  tests/snapshots/protocol_signatures.json
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(tests): remove omnibase_infra import from omnibase_spi test — models not in scope [OMN-8550]
  tests/protocols/runtime/test_protocol_domain_plugin.py
Due: ruff-format, ruff-fix

fix(ci): run contract-compliance on merge_group to unblock queue [OMN-8664]
  .github/workflows/ci.yml
Due: none

fix(ci): also run contract-compliance on push events [OMN-8664]
  .github/workflows/ci.yml
Due: none

feat(spi): SkillRoutingError + ProtocolNodeReceipt schema [OMN-8748]
  .pre-commit-config.yaml
  scripts/validate-spi-purity.sh
  src/omnibase_spi/__init__.py
  src/omnibase_spi/contracts/services/contract_node_receipt.py
  src/omnibase_spi/exceptions_skill_routing.py
  tests/unit/contracts/test_node_receipt.py
  tests/unit/test_skill_routing_error.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(spi): fix ruff UP017/UP037 in contract_node_receipt [OMN-8748]
  src/omnibase_spi/contracts/services/contract_node_receipt.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(deps): pin omnibase-core to git HEAD to pull in model_domain_plugin [OMN-8748]
  pyproject.toml
  uv.lock
Due: none

fix(spi): address 3 CodeRabbit review findings on PR #177 [OMN-8748]
  src/omnibase_spi/__init__.py
  src/omnibase_spi/contracts/services/contract_node_receipt.py
  src/omnibase_spi/exceptions_skill_routing.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(spi): add SkillRoutingError TYPE_CHECKING import to satisfy CodeQL [OMN-8748]
  src/omnibase_spi/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(spi): SkillRoutingError + ProtocolNodeReceipt schema [OMN-8748] (#177)
  .pre-commit-config.yaml
  pyproject.toml
  scripts/validate-spi-purity.sh
  src/omnibase_spi/__init__.py
  src/omnibase_spi/contracts/services/contract_node_receipt.py
  src/omnibase_spi/exceptions_skill_routing.py
  tests/unit/contracts/test_node_receipt.py
  tests/unit/test_skill_routing_error.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(deps): pin omnibase-core to git main to resolve model_domain_plugin import [OMN-8829]
  pyproject.toml
  uv.lock
Due: none

fix(ci): move secret to secrets: block, add pr_review_comment trigger [OMN-8829]
  .github/workflows/cr-thread-gate.yml
Due: none

fix(ci): add review_thread trigger and dependabot guard [OMN-8829]
  .github/workflows/cr-thread-gate.yml
Due: none

fix(ci): pass github-token via with: not secrets:
  .github/workflows/cr-thread-gate.yml
Due: none

ci: fix cr-thread-gate caller signature (OMN-8829 follow-up)
  .github/workflows/cr-thread-gate.yml
Due: none

ci: fix cr-thread-gate caller signature (OMN-8829 follow-up) (#179)
  .github/workflows/cr-thread-gate.yml
Due: none

fix(ci): update cr-thread-gate to @main ref (OMN-8898)
  .github/workflows/cr-thread-gate.yml
Due: none

fix(ci): update cr-thread-gate to @main ref (OMN-8898) (#182)
  .github/workflows/cr-thread-gate.yml
Due: none

fix(ci): CR Thread Gate — add merge_group trigger + format() pr-number to fix 0-job failures
  .github/workflows/cr-thread-gate.yml
Due: none

fix(ci): port working cr-gate workflow files from omniclaude [OMN-9032]
  .github/workflows/cr-thread-gate.yml
Due: none

fix(ci): port working cr-gate workflow files from omniclaude [OMN-9032]
  .github/workflows/cr-thread-gate-caller.yml
Due: none

fix(ci): use local path for reusable workflow [OMN-9032]
  .github/workflows/cr-thread-gate-caller.yml
Due: none

fix(ci): resolve-repo respects caller-supplied owner/repo [OMN-9032]
  .github/workflows/cr-thread-gate.yml
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-protocols: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/|src/omnibase_spi/exceptions\.py).*$)
  validate-protocol-duplicates: any of: ^src/.*protocol.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-typing-patterns: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-naming-conventions: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-naming-patterns: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-namespace-isolation-new: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
