Repository OmniNode-ai/omnibase_spi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-protocols: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/|src/omnibase_spi/exceptions\.py).*$)
  validate-protocol-duplicates: any of: ^src/.*protocol.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-typing-patterns: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-naming-conventions: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-naming-patterns: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-namespace-isolation-new: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$

test(exceptions): add comprehensive tests and enforce coverage thresholds [OMN-789] (#46)
  CLAUDE.md
  pyproject.toml
  src/omnibase_spi/exceptions.py
  tests/conftest.py
  tests/integration/test_exception_integration.py
  tests/unit/test_exception_handlers.py
  tests/unit/test_exceptions.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): add typed-dynamic pattern for handler protocols [OMN-710]
  pyproject.toml
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_producer_handler.py
  src/omnibase_spi/protocols/storage/protocol_graph_database_handler.py
  src/omnibase_spi/protocols/storage/protocol_vector_store_handler.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): address PR review feedback and CI failures [OMN-710]
  pyproject.toml
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_producer_handler.py
  src/omnibase_spi/protocols/storage/protocol_graph_database_handler.py
  src/omnibase_spi/protocols/storage/protocol_vector_store_handler.py
  tests/unit/protocols/event_bus/__init__.py
  tests/unit/protocols/event_bus/test_protocol_event_bus_producer_handler.py
  tests/unit/protocols/storage/test_protocol_graph_database_handler.py
  tests/unit/protocols/storage/test_protocol_vector_store_handler.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(tests): add pytest markers and fix import sorting [OMN-710]
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_producer_handler.py
  tests/protocols/event_bus/conftest.py
  tests/protocols/event_bus/test_event_bus_client.py
  tests/protocols/event_bus/test_event_bus_consumer.py
  tests/protocols/event_bus/test_event_bus_extended.py
  tests/protocols/event_bus/test_event_bus_inheritance.py
  tests/protocols/event_bus/test_event_bus_producers.py
  tests/test_forward_references.py
  tests/unit/protocols/event_bus/test_protocol_event_bus_producer_handler.py
  tests/unit/protocols/storage/test_protocol_graph_database_handler.py
  tests/unit/protocols/storage/test_protocol_vector_store_handler.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(deps): address PR review feedback for pyproject and docs [OMN-710]
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/protocols/storage/protocol_graph_database_handler.py
  src/omnibase_spi/protocols/storage/protocol_vector_store_handler.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

docs(changelog): add comprehensive breaking changes for typed handler protocols [OMN-710]
  CHANGELOG.md
  src/omnibase_spi/protocols/storage/protocol_graph_database_handler.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(deps): standardize package name and document input param changes [OMN-710]
  CHANGELOG.md
  pyproject.toml
Due: none

feat(protocols): add typed-dynamic pattern for handler protocols [OMN-710] (#47)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_producer_handler.py
  src/omnibase_spi/protocols/storage/protocol_graph_database_handler.py
  src/omnibase_spi/protocols/storage/protocol_vector_store_handler.py
  tests/protocols/event_bus/conftest.py
  tests/protocols/event_bus/test_event_bus_client.py
  tests/protocols/event_bus/test_event_bus_consumer.py
  tests/protocols/event_bus/test_event_bus_extended.py
  tests/protocols/event_bus/test_event_bus_inheritance.py
  tests/protocols/event_bus/test_event_bus_producers.py
  tests/test_forward_references.py
  tests/unit/protocols/event_bus/__init__.py
  tests/unit/protocols/event_bus/test_protocol_event_bus_producer_handler.py
  tests/unit/protocols/storage/test_protocol_graph_database_handler.py
  tests/unit/protocols/storage/test_protocol_vector_store_handler.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): add ProtocolHandlerSource and EnumHandlerSourceType [OMN-1084]
  src/omnibase_spi/protocols/handlers/__init__.py
  src/omnibase_spi/protocols/handlers/protocol_handler_source.py
  src/omnibase_spi/protocols/handlers/types.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(handlers): update test expected protocols and improve docstrings [OMN-1084]
  src/omnibase_spi/protocols/handlers/protocol_handler_source.py
  tests/test_forward_references.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(exceptions): add HandlerDiscoveryError and comprehensive tests [OMN-1084]
  src/omnibase_spi/__init__.py
  src/omnibase_spi/exceptions.py
  tests/unit/protocols/handlers/__init__.py
  tests/unit/protocols/handlers/test_handler_discovery_error.py
  tests/unit/protocols/handlers/test_handler_source_types.py
  tests/unit/protocols/handlers/test_protocol_handler_descriptor.py
  tests/unit/protocols/handlers/test_protocol_handler_source.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

docs(handlers): enhance protocol docstrings with safety and usage guidance [OMN-1084]
  src/omnibase_spi/protocols/handlers/protocol_handler_source.py
  src/omnibase_spi/protocols/handlers/types.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

docs(handlers): clarify metadata mutability and priority semantics [OMN-1084]
  src/omnibase_spi/protocols/handlers/types.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): add ProtocolHandlerSource and EnumHandlerSourceType [OMN-1084] (#48)
  src/omnibase_spi/__init__.py
  src/omnibase_spi/exceptions.py
  src/omnibase_spi/protocols/handlers/__init__.py
  src/omnibase_spi/protocols/handlers/protocol_handler_source.py
  src/omnibase_spi/protocols/handlers/types.py
  tests/test_forward_references.py
  tests/unit/protocols/handlers/__init__.py
  tests/unit/protocols/handlers/test_handler_discovery_error.py
  tests/unit/protocols/handlers/test_handler_source_types.py
  tests/unit/protocols/handlers/test_protocol_handler_descriptor.py
  tests/unit/protocols/handlers/test_protocol_handler_source.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): add ProtocolProviderRegistry and ProtocolCapabilityRegistry [OMN-1165]
  pyproject.toml
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/registry/__init__.py
  src/omnibase_spi/protocols/registry/protocol_capability_registry.py
  src/omnibase_spi/protocols/registry/protocol_provider_registry.py
  tests/test_forward_references.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): enhance ProtocolHandler.describe() to return ModelHandlerDescriptor [OMN-1118]
  pyproject.toml
  src/omnibase_spi/protocols/handlers/protocol_handler.py
  tests/conftest.py
  tests/protocols/handlers/test_protocol_handler.py
  tests/test_forward_references.py
  tests/unit/protocols/handlers/test_handler_discovery_error.py
  tests/unit/protocols/handlers/test_handler_source_types.py
  tests/unit/protocols/handlers/test_protocol_handler_descriptor.py
  tests/unit/protocols/handlers/test_protocol_handler_source.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): add ProtocolHandlerContract interface for type-safe handler contracts [OMN-1164]
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/contracts/__init__.py
  src/omnibase_spi/protocols/contracts/protocol_handler_contract.py
  src/omnibase_spi/protocols/contracts/protocol_handler_contract_types.py
  src/omnibase_spi/protocols/protocol_execution_constrainable.py
  tests/unit/protocols/contracts/__init__.py
  tests/unit/protocols/contracts/test_protocol_handler_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix: update expected exports and fix empty directory validator
  scripts/validation/validate_no_empty_directories.py
  tests/test_forward_references.py
Due: ruff-format, ruff-fix

refactor(tests): address PR #50 review feedback
  pyproject.toml
  src/omnibase_spi/protocols/handlers/protocol_handler.py
  src/omnibase_spi/protocols/handlers/protocol_handler_source.py
  src/omnibase_spi/protocols/handlers/types.py
  tests/unit/protocols/handlers/conftest.py
  tests/unit/protocols/handlers/test_handler_source_types.py
  tests/unit/protocols/handlers/test_protocol_handler_descriptor.py
  tests/unit/protocols/handlers/test_protocol_handler_source.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(contracts): add default handler contract templates [OMN-1120]
  pyproject.toml
  src/omnibase_spi/__init__.py
  src/omnibase_spi/contracts/__init__.py
  src/omnibase_spi/contracts/defaults/__init__.py
  src/omnibase_spi/contracts/defaults/default_compute_handler.yaml
  src/omnibase_spi/contracts/defaults/default_effect_handler.yaml
  src/omnibase_spi/contracts/defaults/default_nondeterministic_compute_handler.yaml
  src/omnibase_spi/factories/__init__.py
  src/omnibase_spi/factories/handler_contract_factory.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/factories/__init__.py
  src/omnibase_spi/protocols/factories/protocol_handler_contract_factory.py
  tests/unit/contracts/__init__.py
  tests/unit/contracts/test_default_handler_contracts.py
  tests/unit/factories/__init__.py
  tests/unit/factories/test_handler_contract_factory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(registry): address PR #49 review feedback [OMN-1165]
  src/omnibase_spi/protocols/handlers/protocol_handler_source.py
  src/omnibase_spi/protocols/registry/protocol_capability_registry.py
  src/omnibase_spi/protocols/registry/protocol_provider_registry.py
  tests/protocols/event_bus/test_event_bus_client.py
  tests/protocols/event_bus/test_event_bus_client_base.py
  tests/protocols/event_bus/test_event_bus_consumer.py
  tests/protocols/event_bus/test_event_bus_extended.py
  tests/protocols/event_bus/test_event_bus_inheritance.py
  tests/protocols/event_bus/test_event_bus_producers.py
  tests/protocols/event_bus/test_event_bus_provider.py
  tests/protocols/registry/test_protocol_registry_base.py
  tests/protocols/registry/test_versioned_registry.py
  tests/test_forward_references.py
  tests/unit/protocols/__init__.py
  tests/unit/protocols/event_bus/test_protocol_event_bus_producer_handler.py
  tests/unit/protocols/handlers/test_handler_discovery_error.py
  tests/unit/protocols/handlers/test_handler_source_types.py
  tests/unit/protocols/handlers/test_protocol_handler_descriptor.py
  tests/unit/protocols/handlers/test_protocol_handler_source.py
  tests/unit/protocols/projections/test_protocol_projection_reader.py
  tests/unit/protocols/registry/__init__.py
  tests/unit/protocols/registry/test_protocol_capability_registry.py
  tests/unit/protocols/registry/test_protocol_provider_registry.py
  tests/unit/protocols/storage/test_protocol_graph_database_handler.py
  tests/unit/protocols/storage/test_protocol_vector_store_handler.py
  tests/unit/test_exception_handlers.py
  tests/unit/test_exceptions.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(validation): allow omnibase_core.enums imports and add docstrings [OMN-1120]
  scripts/validation/comprehensive_spi_validator.py
  src/omnibase_spi/factories/handler_contract_factory.py
  src/omnibase_spi/protocols/factories/protocol_handler_contract_factory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): address PR review feedback for ProtocolHandlerContract [OMN-1164]
  src/omnibase_spi/protocols/contracts/protocol_handler_contract.py
  src/omnibase_spi/protocols/protocol_execution_constrainable.py
  tests/test_forward_references.py
  tests/unit/protocols/contracts/test_protocol_handler_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

refactor(tests): consolidate duplicate MockHandlerDescriptor and fix lint issues
  tests/unit/protocols/handlers/conftest.py
  tests/unit/protocols/handlers/test_handler_source_types.py
  tests/unit/protocols/handlers/test_protocol_handler_descriptor.py
  tests/unit/protocols/handlers/test_protocol_handler_source.py
Due: ruff-format, ruff-fix

docs: add git commit rules to CLAUDE.md, fix async discover_handlers
  CLAUDE.md
  src/omnibase_spi/protocols/handlers/protocol_handler_source.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(registry): make registry methods async for CI validation [OMN-1165]
  src/omnibase_spi/protocols/registry/protocol_capability_registry.py
  src/omnibase_spi/protocols/registry/protocol_provider_registry.py
  tests/unit/protocols/registry/test_protocol_capability_registry.py
  tests/unit/protocols/registry/test_protocol_provider_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): enhance ProtocolHandler.describe() to return ModelHandlerDescriptor [OMN-1118] (#50)
  pyproject.toml
  src/omnibase_spi/protocols/handlers/protocol_handler.py
  src/omnibase_spi/protocols/handlers/protocol_handler_source.py
  src/omnibase_spi/protocols/handlers/types.py
  tests/conftest.py
  tests/protocols/handlers/test_protocol_handler.py
  tests/test_forward_references.py
  tests/unit/protocols/handlers/conftest.py
  tests/unit/protocols/handlers/test_handler_discovery_error.py
  tests/unit/protocols/handlers/test_handler_source_types.py
  tests/unit/protocols/handlers/test_protocol_handler_descriptor.py
  tests/unit/protocols/handlers/test_protocol_handler_source.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(factories): address PR #52 review feedback [OMN-1120]
  src/omnibase_spi/exceptions.py
  src/omnibase_spi/factories/handler_contract_factory.py
  tests/unit/factories/test_handler_contract_factory.py
  validation_config.yaml
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): add ProtocolPackageVerifier for handler verification [OMN-1232]
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/verification/__init__.py
  src/omnibase_spi/protocols/verification/protocol_package_verifier.py
  src/omnibase_spi/protocols/verification/types.py
  tests/unit/protocols/verification/__init__.py
  tests/unit/protocols/verification/test_protocol_package_verifier.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): add ProtocolProviderRegistry and ProtocolCapabilityRegistry [OMN-1165] (#49)
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/handlers/protocol_handler_source.py
  src/omnibase_spi/protocols/registry/__init__.py
  src/omnibase_spi/protocols/registry/protocol_capability_registry.py
  src/omnibase_spi/protocols/registry/protocol_provider_registry.py
  tests/protocols/event_bus/test_event_bus_client.py
  tests/protocols/event_bus/test_event_bus_client_base.py
  tests/protocols/event_bus/test_event_bus_consumer.py
  tests/protocols/event_bus/test_event_bus_extended.py
  tests/protocols/event_bus/test_event_bus_inheritance.py
  tests/protocols/event_bus/test_event_bus_producers.py
  tests/protocols/event_bus/test_event_bus_provider.py
  tests/protocols/registry/test_protocol_registry_base.py
  tests/protocols/registry/test_versioned_registry.py
  tests/test_forward_references.py
  tests/unit/protocols/__init__.py
  tests/unit/protocols/event_bus/test_protocol_event_bus_producer_handler.py
  tests/unit/protocols/handlers/test_handler_source_types.py
  tests/unit/protocols/handlers/test_protocol_handler_source.py
  tests/unit/protocols/projections/test_protocol_projection_reader.py
  tests/unit/protocols/registry/__init__.py
  tests/unit/protocols/registry/test_protocol_capability_registry.py
  tests/unit/protocols/registry/test_protocol_provider_registry.py
  tests/unit/protocols/storage/test_protocol_graph_database_handler.py
  tests/unit/protocols/storage/test_protocol_vector_store_handler.py
  tests/unit/test_exception_handlers.py
  tests/unit/test_exceptions.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(factories): address PR #52 release-ready review feedback [OMN-1120]
  CHANGELOG.md
  src/omnibase_spi/factories/handler_contract_factory.py
  src/omnibase_spi/protocols/factories/protocol_handler_contract_factory.py
  tests/unit/factories/test_handler_contract_factory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(contracts): add default handler contract templates [OMN-1120] (#52)
  CHANGELOG.md
  scripts/validation/comprehensive_spi_validator.py
  src/omnibase_spi/__init__.py
  src/omnibase_spi/contracts/__init__.py
  src/omnibase_spi/contracts/defaults/__init__.py
  src/omnibase_spi/contracts/defaults/default_compute_handler.yaml
  src/omnibase_spi/contracts/defaults/default_effect_handler.yaml
  src/omnibase_spi/contracts/defaults/default_nondeterministic_compute_handler.yaml
  src/omnibase_spi/exceptions.py
  src/omnibase_spi/factories/__init__.py
  src/omnibase_spi/factories/handler_contract_factory.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/factories/__init__.py
  src/omnibase_spi/protocols/factories/protocol_handler_contract_factory.py
  tests/unit/contracts/__init__.py
  tests/unit/contracts/test_default_handler_contracts.py
  tests/unit/factories/__init__.py
  tests/unit/factories/test_handler_contract_factory.py
  validation_config.yaml
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): make ProtocolPackageVerifier methods async [OMN-1232]
  src/omnibase_spi/protocols/verification/protocol_package_verifier.py
  tests/unit/protocols/verification/test_protocol_package_verifier.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(tests): address PR review feedback for test coverage and consistency [OMN-1164]
  tests/test_forward_references.py
  tests/unit/protocols/contracts/test_protocol_handler_contract.py
Due: ruff-format, ruff-fix

feat(protocols): add ProtocolPackageVerifier for handler verification [OMN-1232] (#53)
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/verification/__init__.py
  src/omnibase_spi/protocols/verification/protocol_package_verifier.py
  src/omnibase_spi/protocols/verification/types.py
  tests/unit/protocols/verification/__init__.py
  tests/unit/protocols/verification/test_protocol_package_verifier.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): add ProtocolEventProjector and ProtocolProjectorLoader [OMN-1167]
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/handlers/protocol_handler_source.py
  src/omnibase_spi/protocols/projectors/__init__.py
  src/omnibase_spi/protocols/projectors/protocol_event_projector.py
  src/omnibase_spi/protocols/projectors/protocol_projector_loader.py
  src/omnibase_spi/protocols/registry/__init__.py
  src/omnibase_spi/protocols/registry/protocol_capability_registry.py
  src/omnibase_spi/protocols/registry/protocol_provider_registry.py
  tests/protocols/event_bus/test_event_bus_client.py
  tests/protocols/event_bus/test_event_bus_client_base.py
  tests/protocols/event_bus/test_event_bus_consumer.py
  tests/protocols/event_bus/test_event_bus_extended.py
  tests/protocols/event_bus/test_event_bus_inheritance.py
  tests/protocols/event_bus/test_event_bus_producers.py
  tests/protocols/event_bus/test_event_bus_provider.py
  tests/protocols/registry/test_protocol_registry_base.py
  tests/protocols/registry/test_versioned_registry.py
  tests/test_forward_references.py
  tests/unit/protocols/__init__.py
  tests/unit/protocols/event_bus/test_protocol_event_bus_producer_handler.py
  tests/unit/protocols/handlers/test_handler_source_types.py
  tests/unit/protocols/handlers/test_protocol_handler_source.py
  tests/unit/protocols/projections/test_protocol_projection_reader.py
  tests/unit/protocols/projectors/__init__.py
  tests/unit/protocols/projectors/test_protocol_event_projector.py
  tests/unit/protocols/projectors/test_protocol_projector_loader.py
  tests/unit/protocols/registry/__init__.py
  tests/unit/protocols/registry/test_protocol_capability_registry.py
  tests/unit/protocols/registry/test_protocol_provider_registry.py
  tests/unit/protocols/storage/test_protocol_graph_database_handler.py
  tests/unit/protocols/storage/test_protocol_vector_store_handler.py
  tests/unit/test_exception_handlers.py
  tests/unit/test_exceptions.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): address PR #54 review feedback [OMN-1167]
  tests/unit/protocols/__init__.py
  tests/unit/protocols/registry/test_protocol_provider_registry.py
Due: ruff-format, ruff-fix

fix(factories): remove __init__ from HandlerContractFactory for SPI purity
  src/omnibase_spi/factories/handler_contract_factory.py
  tests/unit/factories/test_handler_contract_factory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

refactor(factories): remove concrete HandlerContractFactory for SPI purity
  src/omnibase_spi/factories/__init__.py
  src/omnibase_spi/factories/handler_contract_factory.py
  tests/unit/factories/test_handler_contract_factory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): address PR #54 review feedback - release ready [OMN-1167]
  src/omnibase_spi/exceptions.py
  src/omnibase_spi/protocols/projectors/protocol_event_projector.py
  src/omnibase_spi/protocols/projectors/protocol_projector_loader.py
  tests/unit/protocols/projectors/test_protocol_event_projector.py
  tests/unit/protocols/projectors/test_protocol_projector_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars
