Repository OmniNode-ai/omnibase_spi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-protocols: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/|src/omnibase_spi/exceptions\.py).*$)
  validate-protocol-duplicates: any of: ^src/.*protocol.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-typing-patterns: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-naming-conventions: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-naming-patterns: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-namespace-isolation-new: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$

fix(protocols): address remaining PR #54 review feedback [OMN-1167]
  src/omnibase_spi/protocols/projectors/protocol_projector_loader.py
  src/omnibase_spi/protocols/registry/protocol_provider_registry.py
  tests/unit/protocols/projectors/test_protocol_event_projector.py
  tests/unit/protocols/projectors/test_protocol_projector_loader.py
  tests/unit/protocols/registry/test_protocol_provider_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): address final PR #54 nitpicks for release ready [OMN-1167]
  src/omnibase_spi/protocols/projectors/protocol_projector_loader.py
  tests/unit/protocols/projectors/test_protocol_event_projector.py
  tests/unit/protocols/projectors/test_protocol_projector_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(validation): add get_available_capability_ids to sync_exceptions [OMN-1167]
  scripts/validation/comprehensive_spi_validator.py
Due: ruff-format, ruff-fix

feat(protocols): add ProtocolEventProjector and ProtocolProjectorLoader [OMN-1167] (#54)
  scripts/validation/comprehensive_spi_validator.py
  src/omnibase_spi/exceptions.py
  src/omnibase_spi/factories/__init__.py
  src/omnibase_spi/factories/handler_contract_factory.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/projectors/__init__.py
  src/omnibase_spi/protocols/projectors/protocol_event_projector.py
  src/omnibase_spi/protocols/projectors/protocol_projector_loader.py
  src/omnibase_spi/protocols/registry/protocol_provider_registry.py
  tests/protocols/event_bus/test_event_bus_client.py
  tests/unit/factories/test_handler_contract_factory.py
  tests/unit/protocols/__init__.py
  tests/unit/protocols/projectors/__init__.py
  tests/unit/protocols/projectors/test_protocol_event_projector.py
  tests/unit/protocols/projectors/test_protocol_projector_loader.py
  tests/unit/protocols/registry/test_protocol_provider_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): align SPI protocols with omnibase_core 0.6.2 models [OMN-1164]
  pyproject.toml
  src/omnibase_spi/protocols/contracts/protocol_handler_contract.py
  src/omnibase_spi/protocols/contracts/protocol_handler_contract_types.py
  tests/unit/protocols/contracts/test_protocol_handler_contract.py
  tests/unit/protocols/handlers/test_handler_discovery_error.py
  tests/unit/protocols/handlers/test_handler_source_types.py
  tests/unit/protocols/handlers/test_protocol_handler_descriptor.py
  tests/unit/protocols/handlers/test_protocol_handler_source.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(docs): align docstrings with ProtocolExecutionConstraints semantics [OMN-1164]
  src/omnibase_spi/protocols/contracts/protocol_handler_contract.py
  src/omnibase_spi/protocols/protocol_execution_constrainable.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

style: consolidate imports and remove unused imports [OMN-1164]
  src/omnibase_spi/__init__.py
  src/omnibase_spi/protocols/container/__init__.py
  tests/protocols/handlers/test_protocol_handler.py
  tests/unit/contracts/test_default_handler_contracts.py
  tests/unit/protocols/contracts/test_protocol_handler_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(docs): address PR review feedback for docstrings and test naming [OMN-1164]
  src/omnibase_spi/protocols/protocol_execution_constrainable.py
  tests/test_forward_references.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(docs): address remaining PR #51 review feedback [OMN-1164]
  src/omnibase_spi/protocols/contracts/protocol_handler_contract.py
  tests/test_forward_references.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(tests): add pytest markers and fix docstrings per PR #51 review [OMN-1164]
  tests/test_forward_references.py
  tests/unit/protocols/projections/test_protocol_projection_reader.py
  tests/unit/protocols/projections/test_protocol_projector.py
  tests/unit/protocols/storage/test_protocol_idempotency_store.py
Due: ruff-format, ruff-fix

fix(docs): address final PR #51 review feedback [OMN-1164]
  pyproject.toml
  src/omnibase_spi/protocols/contracts/protocol_handler_contract.py
  src/omnibase_spi/protocols/protocol_execution_constrainable.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): add ProtocolHandlerContract interface [OMN-1164] (#51)
  CLAUDE.md
  pyproject.toml
  scripts/validation/validate_no_empty_directories.py
  src/omnibase_spi/__init__.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/container/__init__.py
  src/omnibase_spi/protocols/contracts/__init__.py
  src/omnibase_spi/protocols/contracts/protocol_handler_contract.py
  src/omnibase_spi/protocols/contracts/protocol_handler_contract_types.py
  src/omnibase_spi/protocols/handlers/protocol_handler_source.py
  src/omnibase_spi/protocols/protocol_execution_constrainable.py
  tests/protocols/handlers/test_protocol_handler.py
  tests/test_forward_references.py
  tests/unit/contracts/test_default_handler_contracts.py
  tests/unit/protocols/contracts/__init__.py
  tests/unit/protocols/contracts/test_protocol_handler_contract.py
  tests/unit/protocols/projections/test_protocol_projection_reader.py
  tests/unit/protocols/projections/test_protocol_projector.py
  tests/unit/protocols/storage/test_protocol_idempotency_store.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): update ProtocolHandlerSource to sync API with ModelHandlerDescriptor [OMN-1084]
  pyproject.toml
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/handlers/protocol_handler_source.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(tests): update test_protocol_handler_source.py for new sync API [OMN-1084]
  scripts/validation/comprehensive_spi_validator.py
  tests/unit/protocols/handlers/test_protocol_handler_source.py
Due: ruff-format, ruff-fix

fix(validation): add sync exceptions for handler descriptor methods [OMN-1084]
  scripts/validation/validate_spi_typing_patterns.py
  src/omnibase_spi/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(validation): address PR #55 review feedback [OMN-1084]
  scripts/validation/validate_spi_typing_patterns.py
  tests/unit/protocols/handlers/test_protocol_handler_source.py
Due: ruff-format, ruff-fix

feat(protocols): update ProtocolHandlerSource to sync API with ModelHandlerDescriptor [OMN-1084] (#55)
  pyproject.toml
  scripts/validation/comprehensive_spi_validator.py
  scripts/validation/validate_spi_typing_patterns.py
  src/omnibase_spi/__init__.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/handlers/protocol_handler_source.py
  tests/unit/protocols/handlers/test_protocol_handler_source.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#56)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

chore(deps): upgrade omnibase-core to 0.7.0
  pyproject.toml
  src/omnibase_spi/protocols/handlers/protocol_handler_source.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(deps): upgrade omnibase-core to 0.7.0 (#57)
  pyproject.toml
  src/omnibase_spi/protocols/handlers/protocol_handler_source.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): add MCP protocols for ONEX integration [OMN-1287]
  src/omnibase_spi/protocols/mcp/__init__.py
  src/omnibase_spi/protocols/mcp/protocol_mcp_handler.py
  src/omnibase_spi/protocols/mcp/protocol_mcp_node_adapter.py
  src/omnibase_spi/protocols/mcp/protocol_mcp_registry.py
  src/omnibase_spi/protocols/mcp/protocol_mcp_schema_generator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): add dashboard protocols [OMN-1285]
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/dashboard/__init__.py
  src/omnibase_spi/protocols/dashboard/protocol_dashboard_event_subscriber.py
  src/omnibase_spi/protocols/dashboard/protocol_dashboard_service.py
  src/omnibase_spi/protocols/dashboard/protocol_registry_query_service.py
  src/omnibase_spi/protocols/dashboard/protocol_widget_renderer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(docs): fix malformed docstrings with corrupted list[Any] patterns [OMN-1190]
  src/omnibase_spi/protocols/advanced/protocol_direct_knowledge_pipeline.py
  src/omnibase_spi/protocols/advanced/protocol_enum_generator.py
  src/omnibase_spi/protocols/schema/protocol_naming_conventions.py
  src/omnibase_spi/protocols/schema/protocol_trusted_schema_loader.py
  src/omnibase_spi/protocols/types/protocol_validation_types.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

docs: update CLAUDE.md for dashboard protocols [OMN-1285]
  CLAUDE.md
Due: none

fix(protocols): make ProtocolMCPSchemaGenerator methods async
  src/omnibase_spi/protocols/mcp/protocol_mcp_schema_generator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): replace `pass` with `...` in protocol bodies [OMN-1183]
  src/omnibase_spi/protocols/advanced/protocol_contract_analyzer.py
  src/omnibase_spi/protocols/advanced/protocol_output_field_tool.py
  src/omnibase_spi/protocols/llm/protocol_llm_tool_provider.py
  src/omnibase_spi/protocols/types/protocol_advanced_types.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

docs: add MCP protocol integration section to CLAUDE.md
  CLAUDE.md
Due: none

fix(docs): fix malformed docstrings with corrupted list[Any] patterns [OMN-1190] (#60)
  src/omnibase_spi/protocols/advanced/protocol_direct_knowledge_pipeline.py
  src/omnibase_spi/protocols/advanced/protocol_enum_generator.py
  src/omnibase_spi/protocols/schema/protocol_naming_conventions.py
  src/omnibase_spi/protocols/schema/protocol_trusted_schema_loader.py
  src/omnibase_spi/protocols/types/protocol_validation_types.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): remove redundant naming prefixes [OMN-1185]
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/advanced/__init__.py
  src/omnibase_spi/protocols/advanced/protocol_enum_generator.py
  src/omnibase_spi/protocols/onex/__init__.py
  src/omnibase_spi/protocols/onex/protocol_onex_version_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): replace `pass` with `...` in protocol bodies [OMN-1183] (#61)
  src/omnibase_spi/protocols/advanced/protocol_contract_analyzer.py
  src/omnibase_spi/protocols/advanced/protocol_output_field_tool.py
  src/omnibase_spi/protocols/llm/protocol_llm_tool_provider.py
  src/omnibase_spi/protocols/types/protocol_advanced_types.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): convert widget renderer methods to async [OMN-1285]
  src/omnibase_spi/protocols/dashboard/protocol_widget_renderer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): use Any type for JSON schema values in MCP generator
  src/omnibase_spi/protocols/mcp/protocol_mcp_schema_generator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): address PR #59 review feedback [OMN-1285]
  CLAUDE.md
  README.md
  docs/README.md
  docs/api-reference/README.md
  docs/architecture/README.md
  src/omnibase_spi/protocols/dashboard/protocol_dashboard_event_subscriber.py
  src/omnibase_spi/protocols/dashboard/protocol_registry_query_service.py
  src/omnibase_spi/protocols/dashboard/protocol_widget_renderer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars
