Repository OmniNode-ai/omnibase_spi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-protocols: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/|src/omnibase_spi/exceptions\.py).*$)
  validate-protocol-duplicates: any of: ^src/.*protocol.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-typing-patterns: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-naming-conventions: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-naming-patterns: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-namespace-isolation-new: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$

chore(OMN-18426): add strip-ai-coauthor-trailer commit-msg hook (#299)
  .pre-commit-config.yaml
Due: none

chore: release omnibase_spi 0.23.4 (OMN-18595)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: sync the api-reference version badges to 0.23.4 (OMN-18595)
  docs/api-reference/CONTAINER.md
  docs/api-reference/CONTRACTS.md
  docs/api-reference/CORE.md
  docs/api-reference/EVENT-BUS.md
  docs/api-reference/EXCEPTIONS.md
  docs/api-reference/FILE-HANDLING.md
  docs/api-reference/HANDLERS.md
  docs/api-reference/MCP.md
  docs/api-reference/MEMORY.md
  docs/api-reference/NETWORKING.md
  docs/api-reference/NODES.md
  docs/api-reference/PROJECTIONS.md
  docs/api-reference/REGISTRY.md
  docs/api-reference/VALIDATION.md
  docs/api-reference/WORKFLOW-ORCHESTRATION.md
Due: none

chore: release omnibase_spi 0.23.4 (OMN-18595) (#305)
  CHANGELOG.md
  docs/api-reference/CONTAINER.md
  docs/api-reference/CONTRACTS.md
  docs/api-reference/CORE.md
  docs/api-reference/EVENT-BUS.md
  docs/api-reference/EXCEPTIONS.md
  docs/api-reference/FILE-HANDLING.md
  docs/api-reference/HANDLERS.md
  docs/api-reference/MCP.md
  docs/api-reference/MEMORY.md
  docs/api-reference/NETWORKING.md
  docs/api-reference/NODES.md
  docs/api-reference/PROJECTIONS.md
  docs/api-reference/REGISTRY.md
  docs/api-reference/VALIDATION.md
  docs/api-reference/WORKFLOW-ORCHESTRATION.md
  pyproject.toml
  uv.lock
Due: none

fix(OMN-18595): move the main sync off a mitigation actions/checkout defeated
  .github/workflows/release.yml
Due: none

fix(OMN-18595): move the main sync off a mitigation actions/checkout defeated (#306)
  .github/workflows/release.yml
Due: none

fix(OMN-17272): sync-only workflow_dispatch for release.yml main sync
  .github/workflows/release.yml
  tests/ci/test_release_sync_only_dispatch_omn_17272.py
Due: ruff-format, ruff-fix

fix(OMN-17272): sync-only workflow_dispatch for release.yml main sync (#307)
  .github/workflows/release.yml
  tests/ci/test_release_sync_only_dispatch_omn_17272.py
Due: ruff-format, ruff-fix

fix(OMN-18658): push release tags with the App token so release.yml fires
  .github/workflows/auto-tag-on-merge.yml
  tests/ci/test_auto_tag_app_token_push_omn_18658.py
Due: ruff-format, ruff-fix

fix(OMN-18658): push release tags with the App token so release.yml fires (#308)
  .github/workflows/auto-tag-on-merge.yml
  tests/ci/test_auto_tag_app_token_push_omn_18658.py
Due: ruff-format, ruff-fix

chore(OMN-18033): adopt the gitignore-baseline hook in omnibase_spi
  .gitignore
  .pre-commit-config.yaml
Due: none

fix(OMN-18033): anchor the python block, and move the pin that defines it
  .gitignore
  .pre-commit-config.yaml
Due: none

fix(OMN-18033): repoint the baseline pin at the merged spec on dev
  .pre-commit-config.yaml
Due: none

chore(OMN-18033): adopt the gitignore-baseline hook in omnibase_spi (#309)
  .gitignore
  .pre-commit-config.yaml
Due: none

feat(OMN-18922): the dispatch protocol accepts an optional delivery context
  src/omnibase_spi/protocols/runtime/protocol_dispatch_engine.py
  tests/test_omn18922_dispatch_delivery_context.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(OMN-18922): raise the core floor to 0.47.20 and record the signature change
  pyproject.toml
  tests/snapshots/protocol_signatures.json
  uv.lock
Due: none

feat(OMN-18922): the dispatch protocol accepts an optional delivery context (#310)
  pyproject.toml
  src/omnibase_spi/protocols/runtime/protocol_dispatch_engine.py
  tests/snapshots/protocol_signatures.json
  tests/test_omn18922_dispatch_delivery_context.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(OMN-18595): refresh the 15 api-reference version badges and the lockfile self-version to the cut version
  docs/api-reference/CONTAINER.md
  docs/api-reference/CONTRACTS.md
  docs/api-reference/CORE.md
  docs/api-reference/EVENT-BUS.md
  docs/api-reference/EXCEPTIONS.md
  docs/api-reference/FILE-HANDLING.md
  docs/api-reference/HANDLERS.md
  docs/api-reference/MCP.md
  docs/api-reference/MEMORY.md
  docs/api-reference/NETWORKING.md
  docs/api-reference/NODES.md
  docs/api-reference/PROJECTIONS.md
  docs/api-reference/REGISTRY.md
  docs/api-reference/VALIDATION.md
  docs/api-reference/WORKFLOW-ORCHESTRATION.md
  uv.lock
Due: none

fix: scope local validators to staged files (OMN-19612)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/validation/validate_namespace_isolation.py
  scripts/validation/validate_naming_patterns.py
  scripts/validation/validate_spi_naming.py
  scripts/validation/validate_spi_typing_patterns.py
  tests/unit/validation/test_staged_validator_scope.py
Due: ruff-format, ruff-fix

ci(OMN-19641): cancel superseded pull request runs
  .github/workflows/auto-merge.yml
  .github/workflows/auto-tag-on-merge.yml
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/call-reject-skip.yml
  .github/workflows/check-handshake.yml
  .github/workflows/dep-provenance-gate.yml
  .github/workflows/docs-validate.yml
  .github/workflows/kb-doc-gate.yml
  .github/workflows/main-target-guard.yml
  .github/workflows/namespace-validation.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/precommit-parity-gate.yml
  .github/workflows/public-repo-hygiene.yml
  .github/workflows/required-check-skip-guard-caller.yml
  .github/workflows/security-scan.yml
  .github/workflows/spi-validation.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/todo-audit-on-merge.yml
  .github/workflows/validate-validator-requirements.yml
  .github/workflows/workflow-script-refs.yml
Due: none

feat(OMN-19655): judge PyPI pin resolvability before merge, with the release step's own script
  .github/workflows/pin-resolvability-gate.yml
  scripts/ci/verify_pypi_pin_resolvability.py
  tests/ci/test_pin_resolvability_conflict_report.py
  tests/ci/test_pin_resolvability_gate_workflow.py
Due: ruff-format, ruff-fix

ci(OMN-19641): cancel superseded pull request runs (#318)
  .github/workflows/auto-merge.yml
  .github/workflows/auto-tag-on-merge.yml
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/call-reject-skip.yml
  .github/workflows/check-handshake.yml
  .github/workflows/dep-provenance-gate.yml
  .github/workflows/docs-validate.yml
  .github/workflows/kb-doc-gate.yml
  .github/workflows/main-target-guard.yml
  .github/workflows/namespace-validation.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/precommit-parity-gate.yml
  .github/workflows/public-repo-hygiene.yml
  .github/workflows/required-check-skip-guard-caller.yml
  .github/workflows/security-scan.yml
  .github/workflows/spi-validation.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/todo-audit-on-merge.yml
  .github/workflows/validate-validator-requirements.yml
  .github/workflows/workflow-script-refs.yml
Due: none

fix(ci): restore SPI validator backstops (OMN-19612)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/validate-namespace-isolation.sh
  tests/unit/validation/test_precommit_ci_backstops_omn19612.py
Due: ruff-format, ruff-fix

fix(ci): make SPI validation backstop fail closed (OMN-19669)
  .github/workflows/ci.yml
  tests/unit/validation/test_precommit_ci_backstops_omn19612.py
Due: ruff-format, ruff-fix

fix(OMN-19666): use released pre-commit hook dependencies
  .gitignore
  .pre-commit-config.yaml
  scripts/validation/check_precommit_additional_dependencies.sh
  tests/fixtures/omn19666/pre-commit-git-dependency.yaml
  tests/fixtures/omn19666/pre-commit-pypi-dependency.yaml
  tests/test_precommit_additional_dependencies_omn19666.sh
Due: none

fix(ci): raise SPI validation-gate timeout and require the whole-tree suite (OMN-19612)
  .github/workflows/ci.yml
  tests/unit/validation/test_precommit_ci_backstops_omn19612.py
Due: ruff-format, ruff-fix

feat(OMN-19655): judge PyPI pin resolvability before merge, with the release step's own script (#319)
  .github/workflows/pin-resolvability-gate.yml
  scripts/ci/verify_pypi_pin_resolvability.py
  tests/ci/test_pin_resolvability_conflict_report.py
  tests/ci/test_pin_resolvability_gate_workflow.py
Due: ruff-format, ruff-fix

fix(ci): run the skip-vector hook in the whole-tree suite without OMNI_HOME (OMN-19612)
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-hooks/reject-required-check-skip-vector.sh
  scripts/ci/detect_test_paths.py
  tests/unit/test_smart_test_selection.py
  tests/unit/validation/test_precommit_ci_backstops_omn19612.py
Due: ruff-format, ruff-fix

fix(OMN-19612): scope SPI hooks to staged files (#317)
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .pre-commit-hooks/reject-required-check-skip-vector.sh
  scripts/ci/detect_test_paths.py
  scripts/validate-namespace-isolation.sh
  scripts/validation/validate_namespace_isolation.py
  scripts/validation/validate_naming_patterns.py
  scripts/validation/validate_spi_naming.py
  scripts/validation/validate_spi_typing_patterns.py
  tests/unit/test_smart_test_selection.py
  tests/unit/validation/test_precommit_ci_backstops_omn19612.py
  tests/unit/validation/test_staged_validator_scope.py
Due: ruff-format, ruff-fix

fix(OMN-19666): use released pre-commit hook dependencies (#320)
  .gitignore
  .pre-commit-config.yaml
  scripts/validation/check_precommit_additional_dependencies.sh
  tests/fixtures/omn19666/pre-commit-git-dependency.yaml
  tests/fixtures/omn19666/pre-commit-pypi-dependency.yaml
  tests/test_precommit_additional_dependencies_omn19666.sh
Due: none

ci(OMN-19766): re-pin the public-repo hygiene caller to omniclaude 6ccd525e2
  .github/workflows/public-repo-hygiene.yml
Due: none

ci(OMN-19766): re-pin the stale kb-doc-gate caller to omniclaude 6ccd525e2
  .github/workflows/kb-doc-gate.yml
Due: none

ci(OMN-19766): re-pin the public-repo hygiene caller to omniclaude 6ccd525e2 (#321)
  .github/workflows/kb-doc-gate.yml
  .github/workflows/public-repo-hygiene.yml
Due: none

ci(OMN-19895): bump runner-IP check pin to omniclaude#2393 merge sha
  .github/workflows/ban-hardcoded-runner-ip.yml
Due: none

ci(OMN-19895): bump runner-IP check pin to omniclaude#2393 merge sha (#322)
  .github/workflows/ban-hardcoded-runner-ip.yml
Due: none

ci(OMN-20005): wire the hardcoded-model-config guard with a shrink-only baseline
  .github/workflows/hardcoded-model-config.yml
  .pre-commit-config.yaml
  .public-repo-hygiene.yaml
  config/hardcoded_model_config_baseline.yaml
Due: none

fix(OMN-20005): repin the hardcoded-model-config caller to omniclaude 1ad181a3 so the PR base sha resolves
  .github/workflows/hardcoded-model-config.yml
Due: none

ci(OMN-20005): wire the hardcoded-model-config guard into omnibase_spi (#323)
  .github/workflows/hardcoded-model-config.yml
  .pre-commit-config.yaml
  .public-repo-hygiene.yaml
  config/hardcoded_model_config_baseline.yaml
Due: none

fix(OMN-9050): refresh architecture handshake for omnibase_core ca5df31cec2f
  .claude/architecture-handshake.md
  .github/workflows/check-handshake.yml
Due: none
