Repository OmniNode-ai/omnibase_spi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-protocols: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/|src/omnibase_spi/exceptions\.py).*$)
  validate-protocol-duplicates: any of: ^src/.*protocol.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-typing-patterns: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-naming-conventions: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-naming-patterns: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-namespace-isolation-new: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$

fix(ci): pin actions/checkout@v4 and actions/setup-python@v5 (OMN-3809) (#118)
  .github/workflows/check-handshake.yml
  .github/workflows/ci.yml
  .github/workflows/namespace-validation.yml
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
  .github/workflows/spi-validation.yml
Due: none

OMN-3831: replace hardcoded __version__ with importlib.metadata
  src/omnibase_spi/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

OMN-3832: add validate-string-versions pre-commit hook
  .pre-commit-config.yaml
Due: none

OMN-3832: add validate-string-versions pre-commit hook (#120)
  .pre-commit-config.yaml
Due: none

OMN-3831: replace hardcoded __version__ with importlib.metadata (#119)
  src/omnibase_spi/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(measurement): add model_id and producer_kind to ContractMeasurementContext
  src/omnibase_spi/contracts/measurement/contract_measurement_context.py
  tests/unit/contracts/measurement/test_contract_measurement_context.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(measurement): add ContractPrValidationRollup model and VTS computation
  src/omnibase_spi/contracts/measurement/__init__.py
  src/omnibase_spi/contracts/measurement/contract_pr_validation_rollup.py
  src/omnibase_spi/contracts/measurement/vts.py
  tests/unit/contracts/measurement/test_vts.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix: sync __version__ to 0.15.1 to match pyproject.toml
  src/omnibase_spi/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(ci): remove broken validate-string-versions external hook
  .pre-commit-config.yaml
Due: none

OMN-4052: wire contract validation gate into omnibase_spi CI
  .github/workflows/contract-validation.yml
Due: none

OMN-4052: wire contract validation gate into omnibase_spi CI (#122)
  .github/workflows/contract-validation.yml
Due: none

OMN-3994: remove consul protocol references and regenerate snapshot
  src/omnibase_spi/protocols/core/protocol_uri_parser.py
  src/omnibase_spi/protocols/node/protocol_node_registry.py
  tests/snapshots/protocol_signatures.json
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

OMN-3994: remove consul protocol references and regenerate snapshot (#123)
  src/omnibase_spi/protocols/core/protocol_uri_parser.py
  src/omnibase_spi/protocols/node/protocol_node_registry.py
  tests/snapshots/protocol_signatures.json
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(ci): format test file and update version check for importlib.metadata
  .github/workflows/namespace-validation.yml
  tests/unit/contracts/measurement/test_contract_measurement_context.py
Due: ruff-format, ruff-fix

feat(measurement): add model attribution and VTS computation (#121)
  .github/workflows/namespace-validation.yml
  .pre-commit-config.yaml
  src/omnibase_spi/__init__.py
  src/omnibase_spi/contracts/measurement/__init__.py
  src/omnibase_spi/contracts/measurement/contract_measurement_context.py
  src/omnibase_spi/contracts/measurement/contract_pr_validation_rollup.py
  src/omnibase_spi/contracts/measurement/vts.py
  tests/unit/contracts/measurement/test_contract_measurement_context.py
  tests/unit/contracts/measurement/test_vts.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(chunking): add ChunkableEnvelope and EnvelopeChunker SPI protocols
  pyproject.toml
  src/omnibase_spi/protocols/chunking/__init__.py
  src/omnibase_spi/protocols/chunking/protocol_chunkable_envelope.py
  src/omnibase_spi/protocols/chunking/protocol_envelope_chunker.py
  tests/unit/protocols/chunking/__init__.py
  tests/unit/protocols/chunking/test_protocol_chunkable_envelope.py
  tests/unit/protocols/chunking/test_protocol_envelope_chunker.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(spi): add ProtocolFSMSurfaceAdapter to workflow_orchestration domain
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/workflow_orchestration/__init__.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_fsm_surface_adapter.py
  tests/unit/protocols/workflow_orchestration/__init__.py
  tests/unit/protocols/workflow_orchestration/test_protocol_fsm_surface_adapter.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(spi): update protocol snapshot to include ProtocolFSMSurfaceAdapter
  tests/snapshots/protocol_signatures.json
Due: none

fix(deps): remove local editable override for omnibase-core in pyproject.toml
  pyproject.toml
  uv.lock
Due: none

fix(chunking): fix ruff lint errors in chunker protocol and tests
  src/omnibase_spi/protocols/chunking/protocol_envelope_chunker.py
  tests/unit/protocols/chunking/test_protocol_chunkable_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(spi): clear core model from sys.modules in import boundary test
  tests/unit/protocols/workflow_orchestration/test_protocol_fsm_surface_adapter.py
Due: ruff-format, ruff-fix

feat(spi): add ProtocolFSMSurfaceAdapter to workflow_orchestration (#125)
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/workflow_orchestration/__init__.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_fsm_surface_adapter.py
  tests/snapshots/protocol_signatures.json
  tests/unit/protocols/workflow_orchestration/__init__.py
  tests/unit/protocols/workflow_orchestration/test_protocol_fsm_surface_adapter.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(spi): add PrimitiveEffectExecutor typed protocol for kernel-level HTTP and Kafka dispatch (OMN-4220)
  src/omnibase_spi/__init__.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/primitive_effect_executor.py
  tests/unit/protocols/effects/test_primitive_effect_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

style: fix ruff I001/F401 in primitive_effect_executor files [OMN-4220]
  src/omnibase_spi/protocols/primitive_effect_executor.py
  tests/unit/protocols/effects/test_primitive_effect_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(spi): rename to Protocol-prefixed names to satisfy SPI naming convention (OMN-4220)
  src/omnibase_spi/__init__.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/primitive_effect_executor.py
  tests/unit/protocols/effects/test_primitive_effect_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

style: fix line-length in test_primitive_effect_executor.py [OMN-4220]
  tests/unit/protocols/effects/test_primitive_effect_executor.py
Due: ruff-format, ruff-fix

fix(spi): update snapshot + ruff format after protocol rename (OMN-4220)
  tests/snapshots/protocol_signatures.json
Due: none

feat(spi): add PrimitiveEffectExecutor typed SPI protocol (OMN-4220) (#126)
  src/omnibase_spi/__init__.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/primitive_effect_executor.py
  tests/snapshots/protocol_signatures.json
  tests/unit/protocols/effects/test_primitive_effect_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(ci): skip contract validation on merge-queue branch names (OMN-4308)
  .github/workflows/contract-validation.yml
Due: none

fix(ci): skip contract validation on merge-queue branch names (OMN-4308) (#127)
  .github/workflows/contract-validation.yml
Due: none

fix(chunking): guard omnibase_core import with TYPE_CHECKING; remove SPDX headers
  src/omnibase_spi/protocols/chunking/__init__.py
  src/omnibase_spi/protocols/chunking/protocol_chunkable_envelope.py
  src/omnibase_spi/protocols/chunking/protocol_envelope_chunker.py
  tests/unit/protocols/chunking/test_protocol_envelope_chunker.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(ci): pre-check ticket ID in workflow to avoid composite action edge case
  .github/workflows/contract-validation.yml
Due: none

feat(chunking): ChunkableEnvelope and EnvelopeChunker SPI protocols [OMN-4144] (#124)
  .github/workflows/contract-validation.yml
  pyproject.toml
  src/omnibase_spi/protocols/chunking/__init__.py
  src/omnibase_spi/protocols/chunking/protocol_chunkable_envelope.py
  src/omnibase_spi/protocols/chunking/protocol_envelope_chunker.py
  tests/unit/protocols/chunking/__init__.py
  tests/unit/protocols/chunking/test_protocol_chunkable_envelope.py
  tests/unit/protocols/chunking/test_protocol_envelope_chunker.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

release: omnibase_spi v0.15.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

release: omnibase_spi v0.15.2 (#128)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

ci: add ci-summary aggregator job wrapping build-and-verify and tests-gate [OMN-4500]
  .github/workflows/ci.yml
Due: none
