Repository OmniNode-ai/omnibase_spi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-protocols: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/|src/omnibase_spi/exceptions\.py).*$)
  validate-protocol-duplicates: any of: ^src/.*protocol.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-typing-patterns: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-naming-conventions: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-naming-patterns: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-namespace-isolation-new: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$

fix(OMN-12273): type protocol duplicate classifications
  scripts/validation/validate_protocol_duplicates.py
  tests/unit/validation/test_validate_protocol_duplicates.py
Due: ruff-format, ruff-fix

fix(OMN-12273): type protocol duplicate classifications (#239)
  scripts/validation/validate_protocol_duplicates.py
  tests/unit/validation/test_validate_protocol_duplicates.py
Due: ruff-format, ruff-fix

feat(OMN-13443): relocate local-runtime protocols to omnibase_spi.protocols.runtime
  src/omnibase_spi/protocols/runtime/__init__.py
  src/omnibase_spi/protocols/runtime/protocol_local_runtime_bus.py
  src/omnibase_spi/protocols/runtime/protocol_local_runtime_callable_target.py
  src/omnibase_spi/protocols/runtime/protocol_local_runtime_dump_model.py
  src/omnibase_spi/protocols/runtime/protocol_local_runtime_message.py
  src/omnibase_spi/protocols/runtime/protocol_local_runtime_payload_model.py
  tests/protocols/runtime/test_protocol_local_runtime.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(OMN-13443): relocate local-runtime protocols to omnibase_spi.protocols.runtime (#240)
  src/omnibase_spi/protocols/runtime/__init__.py
  src/omnibase_spi/protocols/runtime/protocol_local_runtime_bus.py
  src/omnibase_spi/protocols/runtime/protocol_local_runtime_callable_target.py
  src/omnibase_spi/protocols/runtime/protocol_local_runtime_dump_model.py
  src/omnibase_spi/protocols/runtime/protocol_local_runtime_message.py
  src/omnibase_spi/protocols/runtime/protocol_local_runtime_payload_model.py
  tests/protocols/runtime/test_protocol_local_runtime.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

refactor(OMN-13453): remove redundant spi local-runtime protocol copies
  src/omnibase_spi/protocols/runtime/__init__.py
  src/omnibase_spi/protocols/runtime/protocol_local_runtime_bus.py
  src/omnibase_spi/protocols/runtime/protocol_local_runtime_callable_target.py
  src/omnibase_spi/protocols/runtime/protocol_local_runtime_dump_model.py
  src/omnibase_spi/protocols/runtime/protocol_local_runtime_message.py
  src/omnibase_spi/protocols/runtime/protocol_local_runtime_payload_model.py
  tests/protocols/runtime/test_protocol_local_runtime.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

refactor(OMN-13453): remove redundant spi local-runtime protocol copies (#241)
  src/omnibase_spi/protocols/runtime/__init__.py
  src/omnibase_spi/protocols/runtime/protocol_local_runtime_bus.py
  src/omnibase_spi/protocols/runtime/protocol_local_runtime_callable_target.py
  src/omnibase_spi/protocols/runtime/protocol_local_runtime_dump_model.py
  src/omnibase_spi/protocols/runtime/protocol_local_runtime_message.py
  src/omnibase_spi/protocols/runtime/protocol_local_runtime_payload_model.py
  tests/protocols/runtime/test_protocol_local_runtime.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

docs(OMN-13456): refresh architecture docs verified against code
  CLAUDE.md
  README.md
  docs/api-reference/README.md
  docs/architecture/README.md
Due: none

fix(OMN-13456): remove ticket ids from public docs
  docs/api-reference/README.md
Due: none

docs(OMN-13456): refresh architecture docs + exhibit (omnibase_spi) (#242)
  CLAUDE.md
  README.md
  docs/api-reference/README.md
  docs/architecture/README.md
Due: none

chore(OMN-12186): remove from __future__ import annotations in omnibase_spi src
  architecture-handshakes/validator-requirements-baseline.yaml
  architecture-handshakes/validator-requirements.yaml
  src/omnibase_spi/protocols/agent/protocol_remote_agent_transport.py
  src/omnibase_spi/protocols/dashboard/protocol_renderer.py
  src/omnibase_spi/protocols/dashboard/protocol_renderer_capability_negotiator.py
  src/omnibase_spi/protocols/event_bus/protocol_redpanda_adapter.py
  src/omnibase_spi/protocols/factories/protocol_handler_contract_factory.py
  src/omnibase_spi/protocols/handlers/protocol_handler.py
  src/omnibase_spi/protocols/llm/protocol_llm_provider.py
  src/omnibase_spi/protocols/nodes/compute.py
  src/omnibase_spi/protocols/nodes/effect.py
  src/omnibase_spi/protocols/nodes/orchestrator.py
  src/omnibase_spi/protocols/nodes/reducer.py
  src/omnibase_spi/protocols/projections/protocol_projection_database.py
  src/omnibase_spi/protocols/projections/protocol_projection_database_sync.py
  src/omnibase_spi/protocols/validation/protocol_constraint_validator.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_fsm_surface_adapter.py
  tests/snapshots/protocol_signatures.json
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(OMN-12186): remove from __future__ import annotations in omnibase_spi src (#243)
  architecture-handshakes/validator-requirements-baseline.yaml
  architecture-handshakes/validator-requirements.yaml
  src/omnibase_spi/protocols/agent/protocol_remote_agent_transport.py
  src/omnibase_spi/protocols/dashboard/protocol_renderer.py
  src/omnibase_spi/protocols/dashboard/protocol_renderer_capability_negotiator.py
  src/omnibase_spi/protocols/event_bus/protocol_redpanda_adapter.py
  src/omnibase_spi/protocols/factories/protocol_handler_contract_factory.py
  src/omnibase_spi/protocols/handlers/protocol_handler.py
  src/omnibase_spi/protocols/llm/protocol_llm_provider.py
  src/omnibase_spi/protocols/nodes/compute.py
  src/omnibase_spi/protocols/nodes/effect.py
  src/omnibase_spi/protocols/nodes/orchestrator.py
  src/omnibase_spi/protocols/nodes/reducer.py
  src/omnibase_spi/protocols/projections/protocol_projection_database.py
  src/omnibase_spi/protocols/projections/protocol_projection_database_sync.py
  src/omnibase_spi/protocols/validation/protocol_constraint_validator.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_fsm_surface_adapter.py
  tests/snapshots/protocol_signatures.json
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

docs(OMN-13570): sanitize omnibase_spi documentation (local-env + OMN-XXXX + renames)
  CHANGELOG.md
  docs/api-reference/CORE.md
  docs/api-reference/HANDLERS.md
  docs/api-reference/MCP.md
  docs/api-reference/PROJECTIONS.md
  docs/api-reference/WORKFLOW-ORCHESTRATION.md
  docs/developer-guide/README.md
  docs/examples/MEMORY_PROTOCOLS_GUIDE.md
  docs/examples/README.md
Due: none

docs(OMN-13570): sanitize omnibase_spi documentation (local-env + OMN-XXXX + renames) (#246)
  CHANGELOG.md
  docs/api-reference/CORE.md
  docs/api-reference/HANDLERS.md
  docs/api-reference/MCP.md
  docs/api-reference/PROJECTIONS.md
  docs/api-reference/WORKFLOW-ORCHESTRATION.md
  docs/developer-guide/README.md
  docs/examples/MEMORY_PROTOCOLS_GUIDE.md
  docs/examples/README.md
Due: none

test(OMN-13742): raise coverage of protocol_advanced_types.py from 0%
  tests/unit/protocols/test_advanced_types_protocols.py
Due: ruff-format, ruff-fix

test(OMN-13745): raise coverage of protocol_agent_ai_types to ~100%
  src/omnibase_spi/protocols/types/protocol_agent_ai_types.py
  tests/unit/protocols/test_agent_ai_types_protocols.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

test(OMN-13742): resolve advanced protocol review findings
  tests/unit/protocols/test_advanced_types_protocols.py
Due: ruff-format, ruff-fix

test(OMN-13742): tighten protocol return hint assertions
  tests/unit/protocols/test_advanced_types_protocols.py
Due: ruff-format, ruff-fix

test(OMN-13745): avoid mixed module imports in agent AI tests
  tests/unit/protocols/test_agent_ai_types_protocols.py
Due: ruff-format, ruff-fix

test(OMN-13745): raise coverage of protocol_agent_ai_types to ~100% (#248)
  src/omnibase_spi/protocols/types/protocol_agent_ai_types.py
  tests/unit/protocols/test_agent_ai_types_protocols.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

test(OMN-13742): raise coverage of protocol_advanced_types.py from 0% (#247)
  tests/unit/protocols/test_advanced_types_protocols.py
Due: ruff-format, ruff-fix

chore(OMN-13762): release v0.23.0 — repin omnibase-core to PyPI >=0.46.1,<0.47.0
  CHANGELOG.md
  pyproject.toml
Due: none

chore(OMN-13762): refresh uv.lock against published omnibase-core 0.46.1
  uv.lock
Due: none

chore(OMN-13762): release v0.23.0 — repin omnibase-core to PyPI >=0.46.1,<0.47.0 (#249)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat(OMN-12549): relocate ProtocolDispatchEngine from infra to spi
  scripts/export_allowlist.txt
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/runtime/__init__.py
  src/omnibase_spi/protocols/runtime/protocol_dispatch_engine.py
  tests/snapshots/protocol_signatures.json
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(OMN-12549): replace protocol ellipsis bodies
  src/omnibase_spi/protocols/runtime/protocol_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

revert(OMN-12549): restore Protocol ellipsis bodies (doctrine + repo convention)
  src/omnibase_spi/protocols/runtime/protocol_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(OMN-12549): relocate ProtocolDispatchEngine infra→spi (S0-seam, epic OMN-12525) (#252)
  scripts/export_allowlist.txt
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/runtime/__init__.py
  src/omnibase_spi/protocols/runtime/protocol_dispatch_engine.py
  tests/snapshots/protocol_signatures.json
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(OMN-13877): dep-provenance gate — omnibase_spi
  .github/workflows/dep-provenance-gate.yml
  .pre-commit-config.yaml
  scripts/check_dep_provenance.py
  tests/scripts/__init__.py
  tests/scripts/test_check_dep_provenance.py
Due: ruff-format, ruff-fix

feat(OMN-13877): dep-provenance gate — omnibase_spi (#253)
  .github/workflows/dep-provenance-gate.yml
  .pre-commit-config.yaml
  scripts/check_dep_provenance.py
  tests/scripts/__init__.py
  tests/scripts/test_check_dep_provenance.py
Due: ruff-format, ruff-fix

ci(OMN-13875): CI Summary fails on skipped deps — close contract-compliance slip
  .github/workflows/ci.yml
Due: none

ci(OMN-13875): CI Summary fails on skipped deps — close contract-compliance slip (#254)
  .github/workflows/ci.yml
Due: none

chore(OMN-12549): bump omnibase_spi 0.23.0->0.23.1 for dev->main promotion
  pyproject.toml
  uv.lock
Due: none

ci(OMN-12549): spi main-target-guard accepts promotion/* (match core)
  .github/workflows/main-target-guard.yml
Due: none

chore(OMN-12549): promote omnibase_spi 0.23.1 dev->main (ProtocolDispatchEngine relocation) (#255)
  .github/workflows/dep-provenance-gate.yml
  .github/workflows/main-target-guard.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check_dep_provenance.py
  scripts/export_allowlist.txt
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/runtime/__init__.py
  src/omnibase_spi/protocols/runtime/protocol_dispatch_engine.py
  tests/scripts/__init__.py
  tests/scripts/test_check_dep_provenance.py
  tests/snapshots/protocol_signatures.json
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

ci(OMN-13914): add synchronize+reopened to pr-title-check trigger
  .github/workflows/pr-title-check.yml
Due: none

ci(OMN-13914): add synchronize+reopened to pr-title-check trigger (#256)
  .github/workflows/pr-title-check.yml
Due: none

refactor(OMN-13944): relocate stray topic literals into SPI event registry
  src/omnibase_spi/contracts/events/contract_git_hook_event.py
  src/omnibase_spi/contracts/events/contract_github_pr_status_event.py
  src/omnibase_spi/contracts/events/contract_linear_snapshot_event.py
  src/omnibase_spi/registry/event_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars
