Repository OmniNode-ai/omnibase_spi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (lint + import sort)
  entry: poetry run ruff check --fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: poetry run mypy
  language: system
  args:
  - --strict
  - --ignore-missing-imports
  - --show-error-codes
  - --no-error-summary
  stages:
  - pre-commit

validate-spi-protocols:
  name: SPI Protocol Architecture Validation
  entry: poetry run python scripts/validation/validate_spi_protocols.py
  language: system
  pass_filenames: false
  args:
  - src/
  - --exclude-pattern
  - exceptions.py
  stages:
  - pre-commit

validate-protocol-duplicates:
  name: SPI Protocol Duplicate Detection
  entry: poetry run python scripts/validation/validate_protocol_duplicates.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-spi-typing-patterns:
  name: SPI Typing Pattern Validation
  entry: poetry run python scripts/validation/validate_spi_typing_patterns.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-spi-naming-conventions:
  name: SPI Naming Convention Validation
  entry: poetry run python scripts/validation/validate_spi_naming.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-naming-patterns:
  name: SPI Naming Pattern Validation
  entry: python scripts/validation/validate_naming_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-namespace-isolation-new:
  name: SPI Namespace Isolation (No Infra, No Pydantic)
  entry: python scripts/validation/validate_namespace_isolation.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-secrets:
  name: SPI Secret Detection
  entry: poetry run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-hardcoded-env-vars:
  name: SPI Hardcoded Environment Variable Prevention
  entry: poetry run python scripts/validation/validate_hardcoded_env_vars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ci: add ci-summary aggregator job wrapping build-and-verify and tests-gate [OMN-4500] (#130)
  .github/workflows/ci.yml
Due: none

release: omnibase_spi v0.16.0
  pyproject.toml
  uv.lock
Due: none

release: omnibase_spi v0.16.0 (#131)
  pyproject.toml
  uv.lock
Due: none

release: omnibase_spi v0.16.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

release: omnibase_spi v0.16.1 (#134)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat(breaking): remove Ollama protocol surface from omnibase_spi (OMN-4849 Phase 3)
  pyproject.toml
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/llm/__init__.py
  src/omnibase_spi/protocols/llm/protocol_llm_provider.py
  src/omnibase_spi/protocols/llm/protocol_llm_tool_provider.py
  src/omnibase_spi/protocols/llm/protocol_ollama_client.py
  src/omnibase_spi/protocols/types/protocol_llm_types.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(tests): update protocol snapshot after Ollama protocol removal
  tests/snapshots/protocol_signatures.json
Due: none

feat(breaking): remove Ollama protocol surface (#135)
  pyproject.toml
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/llm/__init__.py
  src/omnibase_spi/protocols/llm/protocol_llm_provider.py
  src/omnibase_spi/protocols/llm/protocol_llm_tool_provider.py
  src/omnibase_spi/protocols/llm/protocol_ollama_client.py
  src/omnibase_spi/protocols/types/protocol_llm_types.py
  tests/snapshots/protocol_signatures.json
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore: wire onex-validate-links pre-commit hook [OMN-5086]
  .markdown-link-check.json
  .pre-commit-config.yaml
  scripts/check_links.py
Due: ruff-format, ruff-fix

chore: wire onex-validate-links pre-commit hook [OMN-5086] (#137)
  .markdown-link-check.json
  .pre-commit-config.yaml
  scripts/check_links.py
Due: ruff-format, ruff-fix

docs: create AGENT.md for LLM navigation [OMN-5089]
  AGENT.md
Due: none

docs(readme): restructure to 7-section OSS format [OMN-5093]
  README.md
Due: none

docs: create AGENT.md for LLM navigation [OMN-5089] (#138)
  AGENT.md
Due: none

docs(readme): restructure to 7-section OSS format [OMN-5093] (#139)
  README.md
Due: none

release: omnibase_spi v0.17.1
  pyproject.toml
  uv.lock
Due: none

release: omnibase_spi v0.17.1 (#140)
  pyproject.toml
  uv.lock
Due: none

docs: remove env-prefix mandate from SPI protocol contracts [OMN-5221]
  src/omnibase_spi/protocols/event_bus/protocol_kafka_adapter.py
  src/omnibase_spi/protocols/event_bus/protocol_redpanda_adapter.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

docs: remove env-prefix mandate from SPI protocol contracts [OMN-5221] (#141)
  src/omnibase_spi/protocols/event_bus/protocol_kafka_adapter.py
  src/omnibase_spi/protocols/event_bus/protocol_redpanda_adapter.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

ci(omnibase_spi): add ruff UP007 standards compliance workflow [OMN-5132]
  .github/workflows/omni-standards-compliance.yml
  .markdown-link-check.json
  docs/api-reference/REGISTRY.md
  pyproject.toml
Due: none

ci(omnibase_spi): add ruff UP007 standards compliance workflow [OMN-5132] (#142)
  .github/workflows/omni-standards-compliance.yml
  .markdown-link-check.json
  docs/api-reference/REGISTRY.md
  pyproject.toml
Due: none

feat(ci): deploy CodeQL security scanning to omnibase_spi [OMN-5422]
  .github/workflows/security-scan.yml
Due: none

feat(ci): deploy CodeQL security scanning to omnibase_spi [OMN-5422] (#143)
  .github/workflows/security-scan.yml
Due: none

chore(release): bump version to 0.18.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(release): bump version to 0.18.0 (#144)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(hooks): add no-hardcoded-topics + cosmetic-lint from onex_change_control
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  README.md
  pyproject.toml
Due: none

feat(spi): add ContractSavingsEstimate wire-format model with tiered attribution [OMN-5544]
  src/omnibase_spi/contracts/measurement/__init__.py
  src/omnibase_spi/contracts/measurement/contract_savings_estimate.py
  tests/unit/contracts/measurement/test_contract_savings_estimate.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(hooks): add no-hardcoded-topics + cosmetic-lint from onex_change_control (#145)
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  README.md
  pyproject.toml
Due: none

feat(spi): add ContractSavingsEstimate wire-format model with tiered attribution [OMN-5544] (#146)
  src/omnibase_spi/contracts/measurement/__init__.py
  src/omnibase_spi/contracts/measurement/contract_savings_estimate.py
  tests/unit/contracts/measurement/test_contract_savings_estimate.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore: release v0.19.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: release v0.19.0 (#147)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: enable Python stub implementation detector hook [OMN-5599]
  .pre-commit-config.yaml
Due: none

chore: enable Python stub implementation detector hook [OMN-5599] (#148)
  .pre-commit-config.yaml
Due: none

ci: deploy TODO enforcement hooks and workflows [OMN-5694][OMN-5695] (#149)
  .github/workflows/stale-todo-gate.yml
  .github/workflows/todo-audit-on-merge.yml
  .pre-commit-config.yaml
Due: none

fix: add pragma allowlist secret to pre-commit rev SHA [OMN-5694]
  .pre-commit-config.yaml
Due: none

chore: release v0.19.1
  pyproject.toml
  uv.lock
Due: none

chore: release v0.19.1 (#150)
  pyproject.toml
  uv.lock
Due: none

chore(ci): add CI naming convention check to standards compliance [OMN-6222]
  .github/workflows/omni-standards-compliance.yml
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-protocols: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/|src/omnibase_spi/exceptions\.py).*$)
  validate-protocol-duplicates: any of: ^src/.*protocol.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-typing-patterns: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-naming-conventions: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-naming-patterns: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-namespace-isolation-new: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
