Repository OmniNode-ai/omnibase_spi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (lint + import sort)
  entry: poetry run ruff check --fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: poetry run mypy
  language: system
  args:
  - --strict
  - --ignore-missing-imports
  - --show-error-codes
  - --no-error-summary
  stages:
  - pre-commit

validate-spi-protocols:
  name: SPI Protocol Architecture Validation
  entry: poetry run python scripts/validation/validate_spi_protocols.py
  language: system
  pass_filenames: false
  args:
  - src/
  - --exclude-pattern
  - exceptions.py
  stages:
  - pre-commit

validate-protocol-duplicates:
  name: SPI Protocol Duplicate Detection
  entry: poetry run python scripts/validation/validate_protocol_duplicates.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-spi-typing-patterns:
  name: SPI Typing Pattern Validation
  entry: poetry run python scripts/validation/validate_spi_typing_patterns.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-spi-naming-conventions:
  name: SPI Naming Convention Validation
  entry: poetry run python scripts/validation/validate_spi_naming.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-naming-patterns:
  name: SPI Naming Pattern Validation
  entry: python scripts/validation/validate_naming_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-namespace-isolation-new:
  name: SPI Namespace Isolation (No Infra, No Pydantic)
  entry: python scripts/validation/validate_namespace_isolation.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-secrets:
  name: SPI Secret Detection
  entry: poetry run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-hardcoded-env-vars:
  name: SPI Hardcoded Environment Variable Prevention
  entry: poetry run python scripts/validation/validate_hardcoded_env_vars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

chore(pre-existing): remove SPDX headers added during conflict resolution
  src/omnibase_spi/protocols/effects/__init__.py
  src/omnibase_spi/protocols/effects/protocol_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): return type object, asyncio caveat, remove broad sync_exceptions, doc fixes
  scripts/validation/comprehensive_spi_validator.py
  scripts/validation/validate_spi_typing_patterns.py
  src/omnibase_spi/contracts/pipeline/contract_schema_compat.py
  src/omnibase_spi/contracts/projections/contract_projection_result.py
  src/omnibase_spi/effects/node_projection_effect.py
  src/omnibase_spi/protocols/effects/protocol_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): fix docstring inconsistencies and extra='allow' hazard warning
  src/omnibase_spi/contracts/pipeline/contract_schema_compat.py
  src/omnibase_spi/contracts/projections/contract_projection_result.py
  src/omnibase_spi/protocols/effects/protocol_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): get_type_hints runtime fix, Literal schema_version, remove redundant imports, strict-mode test
  scripts/validation/validate_spi_protocols.py
  src/omnibase_spi/contracts/projections/contract_projection_result.py
  src/omnibase_spi/effects/node_projection_effect.py
  tests/unit/test_node_projection_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): remove asyncio.run 'Correct' label, ModelProjectionIntent xref, narrow exception catch, spi validator gap test
  src/omnibase_spi/effects/node_projection_effect.py
  tests/unit/test_node_projection_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(tests): replace hardcoded local path with Path(__file__) relative cwd
  tests/unit/test_node_projection_effect.py
Due: ruff-format, ruff-fix

feat(spi): implement ProtocolNodeProjectionEffect as synchronous ProtocolEffect [OMN-2508] (#87)
  .gitignore
  scripts/validation/validate_namespace_isolation.py
  scripts/validation/validate_spi_protocols.py
  src/omnibase_spi/__init__.py
  src/omnibase_spi/contracts/pipeline/contract_schema_compat.py
  src/omnibase_spi/contracts/projections/__init__.py
  src/omnibase_spi/contracts/projections/contract_projection_result.py
  src/omnibase_spi/effects/__init__.py
  src/omnibase_spi/effects/node_projection_effect.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/effects/__init__.py
  src/omnibase_spi/protocols/effects/protocol_effect.py
  tests/unit/contracts/pipeline/test_contract_schema_compat.py
  tests/unit/test_node_projection_effect.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore: bump version to 0.12.0, update omnibase-core dep to >=0.19.0
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/__init__.py
  tests/unit/test_node_projection_effect.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(changelog): correct ContractProjectionResult field names (artifact_ref, error)
  CHANGELOG.md
Due: none

chore: bump omnibase_spi to 0.12.0, update omnibase-core dep to >=0.19.0 (#89)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/__init__.py
  tests/unit/test_node_projection_effect.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(pre-existing): fix pre-existing linting issues [OMN-2655]
  examples/protocol_container_usage.py
  scripts/validation/timeout_utils.py
  src/omnibase_spi/contracts/measurement/enum_measurement_check.py
  src/omnibase_spi/contracts/measurement/enum_pipeline_phase.py
  src/omnibase_spi/contracts/measurement/enum_result_classification.py
  src/omnibase_spi/contracts/measurement/enum_usage_source.py
  src/omnibase_spi/contracts/pipeline/contract_wire_codec.py
  src/omnibase_spi/contracts/pipeline/enum_auth_reason_code.py
  src/omnibase_spi/contracts/validation/enum_validation_check.py
  src/omnibase_spi/effects/node_projection_effect.py
  src/omnibase_spi/enums/enum_rrh_rule.py
  src/omnibase_spi/protocols/container/protocol_cache_service.py
  src/omnibase_spi/protocols/container/protocol_container.py
  src/omnibase_spi/protocols/event_bus/protocol_event_envelope.py
  src/omnibase_spi/protocols/registry/protocol_registry_base.py
  src/omnibase_spi/protocols/registry/protocol_versioned_registry.py
  src/omnibase_spi/protocols/types/protocol_workflow_value_types.py
  tests/protocols/registry/test_versioned_registry.py
  tests/test_protocol_container.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(events): add event registry, SPI contracts, and producer protocols [OMN-2655]
  scripts/validation/validate_namespace_isolation.py
  scripts/validation/validate_spi_protocols.py
  src/omnibase_spi/contracts/defaults/default_github_pr_poller.yaml
  src/omnibase_spi/contracts/events/__init__.py
  src/omnibase_spi/contracts/events/contract_git_hook_event.py
  src/omnibase_spi/contracts/events/contract_github_pr_status_event.py
  src/omnibase_spi/contracts/events/contract_linear_snapshot_event.py
  src/omnibase_spi/protocols/effects/__init__.py
  src/omnibase_spi/protocols/effects/protocol_git_hook_effect.py
  src/omnibase_spi/protocols/effects/protocol_github_pr_poller_effect.py
  src/omnibase_spi/protocols/effects/protocol_linear_snapshot_effect.py
  src/omnibase_spi/registry/__init__.py
  src/omnibase_spi/registry/event_registry.py
  tests/unit/contracts/test_no_forbidden_imports.py
  tests/unit/test_contract_model_alignment.py
  tests/unit/test_event_registry_fingerprint.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

style: apply ruff format and yamlfmt auto-fixes [OMN-2655]
  src/omnibase_spi/contracts/defaults/default_github_pr_poller.yaml
  src/omnibase_spi/contracts/events/contract_github_pr_status_event.py
  tests/unit/test_event_registry_fingerprint.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(events): add event registry, SPI contracts, and producer protocols [OMN-2655] (#90)
  examples/protocol_container_usage.py
  scripts/validation/timeout_utils.py
  scripts/validation/validate_namespace_isolation.py
  scripts/validation/validate_spi_protocols.py
  src/omnibase_spi/contracts/defaults/default_github_pr_poller.yaml
  src/omnibase_spi/contracts/events/__init__.py
  src/omnibase_spi/contracts/events/contract_git_hook_event.py
  src/omnibase_spi/contracts/events/contract_github_pr_status_event.py
  src/omnibase_spi/contracts/events/contract_linear_snapshot_event.py
  src/omnibase_spi/contracts/measurement/enum_measurement_check.py
  src/omnibase_spi/contracts/measurement/enum_pipeline_phase.py
  src/omnibase_spi/contracts/measurement/enum_result_classification.py
  src/omnibase_spi/contracts/measurement/enum_usage_source.py
  src/omnibase_spi/contracts/pipeline/contract_wire_codec.py
  src/omnibase_spi/contracts/pipeline/enum_auth_reason_code.py
  src/omnibase_spi/contracts/validation/enum_validation_check.py
  src/omnibase_spi/effects/node_projection_effect.py
  src/omnibase_spi/enums/enum_rrh_rule.py
  src/omnibase_spi/protocols/container/protocol_cache_service.py
  src/omnibase_spi/protocols/container/protocol_container.py
  src/omnibase_spi/protocols/effects/__init__.py
  src/omnibase_spi/protocols/effects/protocol_git_hook_effect.py
  src/omnibase_spi/protocols/effects/protocol_github_pr_poller_effect.py
  src/omnibase_spi/protocols/effects/protocol_linear_snapshot_effect.py
  src/omnibase_spi/protocols/event_bus/protocol_event_envelope.py
  src/omnibase_spi/protocols/registry/protocol_registry_base.py
  src/omnibase_spi/protocols/registry/protocol_versioned_registry.py
  src/omnibase_spi/protocols/types/protocol_workflow_value_types.py
  src/omnibase_spi/registry/__init__.py
  src/omnibase_spi/registry/event_registry.py
  tests/protocols/registry/test_versioned_registry.py
  tests/test_protocol_container.py
  tests/unit/contracts/test_no_forbidden_imports.py
  tests/unit/test_contract_model_alignment.py
  tests/unit/test_event_registry_fingerprint.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(projections): add ProtocolProjectionView SPI contract for NodeProjectionEffect pattern [OMN-2382]
  src/omnibase_spi/__init__.py
  src/omnibase_spi/effects/__init__.py
  src/omnibase_spi/protocols/projections/__init__.py
  src/omnibase_spi/protocols/projections/protocol_projection_view.py
  tests/unit/effects/__init__.py
  tests/unit/effects/test_node_projection_effect_impl.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(projections): add ProtocolProjectionView SPI contract for NodeProjectionEffect pattern [OMN-2382] (#91)
  src/omnibase_spi/__init__.py
  src/omnibase_spi/effects/__init__.py
  src/omnibase_spi/protocols/projections/__init__.py
  src/omnibase_spi/protocols/projections/protocol_projection_view.py
  tests/unit/effects/__init__.py
  tests/unit/effects/test_node_projection_effect_impl.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(release): add publish-on-tag workflow and bump version to 0.13.0
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/__init__.py
  src/omnibase_spi/protocols/projections/protocol_projection_view.py
  tests/unit/effects/test_node_projection_effect_impl.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(release): add publish-on-tag workflow and bump version to 0.13.0 (#92)
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/__init__.py
  src/omnibase_spi/protocols/projections/protocol_projection_view.py
  tests/unit/effects/test_node_projection_effect_impl.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(ci): add build and package verification workflow [OMN-793]
  .github/workflows/ci.yml
Due: none

feat(protocols): export ProtocolRateLimiter and add resilience protocol tests [OMN-796]
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/file_handling/__init__.py
  tests/unit/protocols/test_resilience_protocols.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): export ProtocolRateLimiter and add resilience protocol tests [OMN-796] (#98)
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/file_handling/__init__.py
  tests/unit/protocols/test_resilience_protocols.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(ci): use uv pip install instead of bare pip in build verification
  .github/workflows/ci.yml
Due: none

fix(ci): add merge_queue trigger to prevent queue deadlock
  .github/workflows/ci.yml
Due: none

fix(ci): correct merge_queue to merge_group event name
  .github/workflows/ci.yml
Due: none

release: omnibase_spi v0.14.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: bump __version__ to 0.14.0 in __init__.py
  src/omnibase_spi/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(ci): add merge_group trigger to SPI Comprehensive Validation workflow
  .github/workflows/namespace-validation.yml
Due: none

ci: add merge_group trigger to namespace-validation workflow
  .github/workflows/namespace-validation.yml
Due: none

release: omnibase_spi v0.14.0 (#101)
  .github/workflows/namespace-validation.yml
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/__init__.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(tooling): add unused protocol export checker with CI test [OMN-794]
  scripts/check_unused_exports.py
  scripts/export_allowlist.txt
  tests/test_unused_exports.py
Due: ruff-format, ruff-fix

fix(tooling): use AST-based consumer detection and support single-quoted __all__
  scripts/check_unused_exports.py
  scripts/export_allowlist.txt
Due: ruff-format, ruff-fix

fix(tooling): fail fast on missing allowlist path and expand CI path filter
  .github/workflows/namespace-validation.yml
  scripts/check_unused_exports.py
Due: ruff-format, ruff-fix

feat(tooling): unused protocol export checker (#96)
  .github/workflows/namespace-validation.yml
  scripts/check_unused_exports.py
  scripts/export_allowlist.txt
  tests/test_unused_exports.py
Due: ruff-format, ruff-fix

feat(testing): add protocol signature snapshot tests for SPI drift detection [OMN-359]
  tests/snapshots/protocol_signatures.json
  tests/test_protocol_snapshot.py
Due: ruff-format, ruff-fix

chore: update protocol snapshot for ProtocolRateLimiter
  tests/snapshots/protocol_signatures.json
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-protocols: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/|src/omnibase_spi/exceptions\.py).*$)
  validate-protocol-duplicates: any of: ^src/.*protocol.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-typing-patterns: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-naming-conventions: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-naming-patterns: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-namespace-isolation-new: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
