Repository OmniNode-ai/omnibase_spi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-protocols: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/|src/omnibase_spi/exceptions\.py).*$)
  validate-protocol-duplicates: any of: ^src/.*protocol.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-typing-patterns: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-naming-conventions: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-naming-patterns: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-namespace-isolation-new: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$

chore(release): bump version to 0.7.0 and update omnibase-core to 0.16.0 (#77)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(enums): add canonical 13-rule RRHRule enum [OMN-2139]
  src/omnibase_spi/contracts/__init__.py
  src/omnibase_spi/contracts/pipeline/__init__.py
  src/omnibase_spi/contracts/pipeline/enum_rrh_rule.py
  src/omnibase_spi/enums/__init__.py
  src/omnibase_spi/enums/enum_rrh_rule.py
  tests/unit/contracts/pipeline/test_enums.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): [minor] add CHANGELOG entry, fix import ordering, expand test coverage
  CHANGELOG.md
  src/omnibase_spi/contracts/__init__.py
  tests/unit/contracts/pipeline/test_enums.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(enums): add canonical 13-rule RRHRule enum [OMN-2139] (#78)
  CHANGELOG.md
  src/omnibase_spi/contracts/__init__.py
  src/omnibase_spi/contracts/pipeline/__init__.py
  src/omnibase_spi/contracts/pipeline/enum_rrh_rule.py
  src/omnibase_spi/enums/__init__.py
  src/omnibase_spi/enums/enum_rrh_rule.py
  tests/unit/contracts/pipeline/test_enums.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(release): bump version to 0.8.0 and update omnibase-core to 0.17.0
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(release): bump version to 0.8.0 and update omnibase-core to 0.17.0 (#79)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

docs: extract shared standards to ~/.claude/CLAUDE.md [OMN-2162]
  CLAUDE.md
Due: none

docs: extract shared standards to ~/.claude/CLAUDE.md [OMN-2162] (#80)
  CLAUDE.md
Due: none

feat(spi): add LLM cost tracking contracts [OMN-2235]
  src/omnibase_spi/contracts/__init__.py
  src/omnibase_spi/contracts/measurement/__init__.py
  src/omnibase_spi/contracts/measurement/contract_llm_call_metrics.py
  src/omnibase_spi/contracts/measurement/enum_usage_source.py
  tests/unit/contracts/measurement/test_llm_call_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): address CodeRabbit feedback on LLM cost tracking contracts [OMN-2235]
  src/omnibase_spi/contracts/measurement/contract_llm_call_metrics.py
  tests/unit/contracts/measurement/test_llm_call_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): enforce total_tokens == prompt + completion per CodeRabbit [OMN-2235]
  src/omnibase_spi/contracts/measurement/contract_llm_call_metrics.py
  tests/unit/contracts/measurement/test_llm_call_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): add cross-validation and improve field docs for LLM cost contracts [OMN-2235]
  src/omnibase_spi/contracts/measurement/contract_llm_call_metrics.py
  tests/unit/contracts/measurement/test_llm_call_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): disambiguate source fields, add model_id and estimation flag validation [OMN-2235]
  src/omnibase_spi/contracts/measurement/contract_llm_call_metrics.py
  tests/unit/contracts/measurement/test_llm_call_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): correct docstring, add timestamp validation and edge case tests [OMN-2235]
  src/omnibase_spi/contracts/measurement/contract_llm_call_metrics.py
  tests/unit/contracts/measurement/test_llm_call_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(spi): add LLM cost tracking contracts [OMN-2235] (#81)
  src/omnibase_spi/contracts/__init__.py
  src/omnibase_spi/contracts/measurement/__init__.py
  src/omnibase_spi/contracts/measurement/contract_llm_call_metrics.py
  src/omnibase_spi/contracts/measurement/enum_usage_source.py
  tests/unit/contracts/measurement/test_llm_call_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(release): bump version to 0.9.0 and update omnibase-core to 0.18.0
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(release): bump version to 0.9.0 and update omnibase-core to 0.18.0 (#82)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(spi): add delegation output contracts [OMN-2254]
  scripts/validation/validate_namespace_isolation.py
  src/omnibase_spi/contracts/__init__.py
  src/omnibase_spi/contracts/delegation/__init__.py
  src/omnibase_spi/contracts/delegation/contract_attachment.py
  src/omnibase_spi/contracts/delegation/contract_compliance_result.py
  src/omnibase_spi/contracts/delegation/contract_delegated_response.py
  src/omnibase_spi/contracts/delegation/contract_delegation_attribution.py
  tests/unit/contracts/delegation/__init__.py
  tests/unit/contracts/delegation/test_delegation_contracts.py
  tests/unit/contracts/test_no_forbidden_imports.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): [minor] clarify validation deferral in delegation contracts
  src/omnibase_spi/contracts/delegation/contract_attachment.py
  src/omnibase_spi/contracts/delegation/contract_compliance_result.py
  src/omnibase_spi/contracts/delegation/contract_delegated_response.py
  src/omnibase_spi/contracts/delegation/contract_delegation_attribution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): [minor] add rendered_text min_length and document passed/verdict relationship
  src/omnibase_spi/contracts/delegation/contract_compliance_result.py
  src/omnibase_spi/contracts/delegation/contract_delegated_response.py
  tests/unit/contracts/delegation/test_delegation_contracts.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(spi): add delegation output contracts [OMN-2254] (#83)
  scripts/validation/validate_namespace_isolation.py
  src/omnibase_spi/contracts/__init__.py
  src/omnibase_spi/contracts/delegation/__init__.py
  src/omnibase_spi/contracts/delegation/contract_attachment.py
  src/omnibase_spi/contracts/delegation/contract_compliance_result.py
  src/omnibase_spi/contracts/delegation/contract_delegated_response.py
  src/omnibase_spi/contracts/delegation/contract_delegation_attribution.py
  tests/unit/contracts/delegation/__init__.py
  tests/unit/contracts/delegation/test_delegation_contracts.py
  tests/unit/contracts/test_no_forbidden_imports.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(spi): add context enrichment protocol and contract [OMN-2252]
  scripts/validation/validate_namespace_isolation.py
  src/omnibase_spi/contracts/__init__.py
  src/omnibase_spi/contracts/enrichment/__init__.py
  src/omnibase_spi/contracts/enrichment/contract_enrichment_result.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/intelligence/__init__.py
  src/omnibase_spi/protocols/intelligence/protocol_context_enrichment.py
  tests/unit/contracts/enrichment/__init__.py
  tests/unit/contracts/enrichment/test_enrichment_contracts.py
  tests/unit/contracts/test_no_forbidden_imports.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(validation): allow omnibase_spi.contracts imports in protocol files [OMN-2252]
  scripts/validation/comprehensive_spi_validator.py
  validation_config.yaml
Due: ruff-format, ruff-fix

fix(tests): replace no-op runtime_checkable test with real isinstance check [OMN-2252]
  tests/unit/contracts/enrichment/test_enrichment_contracts.py
Due: ruff-format, ruff-fix

fix(review): [minor] update docstrings to include enrichment contracts [OMN-2252]
  scripts/validation/validate_namespace_isolation.py
  src/omnibase_spi/contracts/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(review): address minor and nit issues from local review [OMN-2252]
  src/omnibase_spi/contracts/__init__.py
  src/omnibase_spi/contracts/enrichment/contract_enrichment_result.py
  src/omnibase_spi/protocols/intelligence/protocol_context_enrichment.py
  tests/unit/contracts/enrichment/test_enrichment_contracts.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(spi): add context enrichment protocol contract [OMN-2252] (#84)
  scripts/validation/comprehensive_spi_validator.py
  scripts/validation/validate_namespace_isolation.py
  src/omnibase_spi/contracts/__init__.py
  src/omnibase_spi/contracts/enrichment/__init__.py
  src/omnibase_spi/contracts/enrichment/contract_enrichment_result.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/intelligence/__init__.py
  src/omnibase_spi/protocols/intelligence/protocol_context_enrichment.py
  tests/unit/contracts/enrichment/__init__.py
  tests/unit/contracts/enrichment/test_enrichment_contracts.py
  tests/unit/contracts/test_no_forbidden_imports.py
  validation_config.yaml
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(release): bump version to 0.10.0
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(release): fill out 0.10.0 changelog with actual features (OMN-2252, OMN-2254)
  CHANGELOG.md
Due: none

chore(release): bump version to 0.10.0 (#85)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(tooling): migrate omnibase_spi from Poetry to uv [OMN-2341]
  .github/workflows/namespace-validation.yml
  .github/workflows/spi-validation.yml
  .pre-commit-config-push.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  PROTOCOL_CONTAINER_IMPLEMENTATION.md
  README.md
  docs/CONTRIBUTING.md
  docs/MVP_PLAN.md
  docs/QUICK-START.md
  docs/README.md
  docs/VALIDATION_INTEGRATION_PLAN.md
  docs/developer-guide/README.md
  pyproject.toml
  scripts/fix_spi_typing_patterns_README.md
  scripts/validate-namespace-isolation.sh
  tests/integration/README.md
Due: none

feat(tooling): migrate omnibase_spi from Poetry to uv [OMN-2341] (#86)
  .github/workflows/namespace-validation.yml
  .github/workflows/spi-validation.yml
  .pre-commit-config-push.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  PROTOCOL_CONTAINER_IMPLEMENTATION.md
  README.md
  docs/CONTRIBUTING.md
  docs/MVP_PLAN.md
  docs/QUICK-START.md
  docs/README.md
  docs/VALIDATION_INTEGRATION_PLAN.md
  docs/developer-guide/README.md
  pyproject.toml
  scripts/fix_spi_typing_patterns_README.md
  scripts/validate-namespace-isolation.sh
  tests/integration/README.md
Due: none

feat(spi): implement ProtocolNodeProjectionEffect as synchronous ProtocolEffect [OMN-2508]
  scripts/validation/validate_namespace_isolation.py
  scripts/validation/validate_spi_protocols.py
  scripts/validation/validate_spi_typing_patterns.py
  src/omnibase_spi/__init__.py
  src/omnibase_spi/contracts/pipeline/contract_schema_compat.py
  src/omnibase_spi/contracts/projections/__init__.py
  src/omnibase_spi/contracts/projections/contract_projection_result.py
  src/omnibase_spi/effects/__init__.py
  src/omnibase_spi/effects/node_projection_effect.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/effects/__init__.py
  src/omnibase_spi/protocols/effects/protocol_effect.py
  tests/unit/contracts/pipeline/test_contract_schema_compat.py
  tests/unit/test_node_projection_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore: add uv.lock and unblock it from global gitignore
  .gitignore
  uv.lock
Due: none

fix(validation): add 'execute' to sync_exceptions in comprehensive_spi_validator
  scripts/validation/comprehensive_spi_validator.py
Due: ruff-format, ruff-fix

fix(contracts): add schema_version field and extra='allow' to ContractProjectionResult
  src/omnibase_spi/contracts/projections/contract_projection_result.py
  tests/unit/test_node_projection_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(spi): replace sync_exceptions list with synchronous_execution contract flag [OMN-2628]
  scripts/validation/comprehensive_spi_validator.py
  scripts/validation/validate_spi_typing_patterns.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/effects/__init__.py
  src/omnibase_spi/protocols/effects/protocol_effect.py
  tests/unit/protocols/effects/__init__.py
  tests/unit/protocols/effects/test_protocol_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(pre-existing): fix pre-existing ruff formatting across scripts and tests
  scripts/validation/comprehensive_spi_validator.py
  scripts/validation/run_all_validations.py
  scripts/validation/test_signature_improvements.py
  scripts/validation/validate_no_spdx_headers.py
  scripts/validation/validate_spi_typing_patterns.py
  src/omnibase_spi/contracts/pipeline/contract_wire_codec.py
  tests/protocols/effects/test_protocol_primitive_effect_executor.py
  tests/protocols/event_bus/test_event_bus_inheritance.py
  tests/protocols/event_bus/test_event_bus_provider.py
  tests/protocols/handlers/test_protocol_handler.py
  tests/protocols/registry/test_protocol_registry_base.py
  tests/test_forward_references.py
  tests/test_protocol_imports.py
  tests/unit/contracts/measurement/test_llm_call_metrics.py
  tests/unit/contracts/measurement/test_measurement_contracts.py
  tests/unit/contracts/test_default_handler_contracts.py
  tests/unit/contracts/test_no_forbidden_imports.py
  tests/unit/protocols/effects/test_protocol_effect.py
  tests/unit/protocols/event_bus/test_protocol_event_publisher.py
  tests/unit/protocols/projectors/test_protocol_event_projector.py
  tests/unit/protocols/projectors/test_protocol_projector_loader.py
  tests/unit/protocols/validation/test_protocol_constraint_validator.py
  tests/unit/test_exception_handlers.py
  tests/unit/test_exceptions.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(spi): replace sync_exceptions list with synchronous_execution contract flag [OMN-2628] (#88)
  scripts/validation/comprehensive_spi_validator.py
  scripts/validation/run_all_validations.py
  scripts/validation/test_signature_improvements.py
  scripts/validation/validate_no_spdx_headers.py
  scripts/validation/validate_spi_typing_patterns.py
  src/omnibase_spi/contracts/pipeline/contract_wire_codec.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/effects/__init__.py
  src/omnibase_spi/protocols/effects/protocol_effect.py
  tests/protocols/effects/test_protocol_primitive_effect_executor.py
  tests/protocols/event_bus/test_event_bus_inheritance.py
  tests/protocols/event_bus/test_event_bus_provider.py
  tests/protocols/handlers/test_protocol_handler.py
  tests/protocols/registry/test_protocol_registry_base.py
  tests/test_forward_references.py
  tests/test_protocol_imports.py
  tests/unit/contracts/measurement/test_llm_call_metrics.py
  tests/unit/contracts/measurement/test_measurement_contracts.py
  tests/unit/contracts/test_default_handler_contracts.py
  tests/unit/contracts/test_no_forbidden_imports.py
  tests/unit/protocols/effects/__init__.py
  tests/unit/protocols/effects/test_protocol_effect.py
  tests/unit/protocols/event_bus/test_protocol_event_publisher.py
  tests/unit/protocols/projectors/test_protocol_event_projector.py
  tests/unit/protocols/projectors/test_protocol_projector_loader.py
  tests/unit/protocols/validation/test_protocol_constraint_validator.py
  tests/unit/test_exception_handlers.py
  tests/unit/test_exceptions.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(tests): add synchronous_execution ClassVar to helper effects; fix ruff + docstrings
  src/omnibase_spi/effects/node_projection_effect.py
  src/omnibase_spi/protocols/effects/protocol_effect.py
  tests/unit/test_node_projection_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars
