Repository OmniNode-ai/omnibase_spi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-protocols: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/|src/omnibase_spi/exceptions\.py).*$)
  validate-protocol-duplicates: any of: ^src/.*protocol.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-typing-patterns: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-naming-conventions: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-naming-patterns: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-namespace-isolation-new: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$

refactor(OMN-11819): decompose comprehensive_spi_validator.py into spi_validator package (#221)
  pyproject.toml
  scripts/validation/comprehensive_spi_validator.py
  scripts/validation/spi_validator/__init__.py
  scripts/validation/spi_validator/ast_checks.py
  scripts/validation/spi_validator/autofix.py
  scripts/validation/spi_validator/config.py
  scripts/validation/spi_validator/duplicate_analyzer.py
  scripts/validation/spi_validator/engine.py
  scripts/validation/spi_validator/file_validator.py
  scripts/validation/spi_validator/models.py
  scripts/validation/spi_validator/reporter.py
  tests/fixtures/comprehensive_validator_baseline.txt
  tests/unit/validation/test_comprehensive_spi_validator.py
Due: ruff-format, ruff-fix

refactor(OMN-11820): reduce complexity in check_ai_slop.py (#219)
  scripts/validation/check_ai_slop.py
  tests/fixtures/ai_slop_check_baseline.txt
  tests/unit/scripts/test_check_ai_slop.py
Due: ruff-format, ruff-fix

chore(OMN-11831): deprecate root barrel protocols/__init__.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/types/__init__.py
  src/omnibase_spi/protocols/validation/protocol_contract_compliance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(OMN-11831): deprecate root barrel protocols/__init__.py (#222)
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/types/__init__.py
  src/omnibase_spi/protocols/validation/protocol_contract_compliance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

refactor(OMN-11829): delete orphaned and deprecated SPI protocol files
  src/omnibase_spi/protocols/advanced/protocol_direct_knowledge_pipeline.py
  src/omnibase_spi/protocols/advanced/protocol_multi_vector_indexer.py
  src/omnibase_spi/protocols/advanced/protocol_orchestrator.py
  src/omnibase_spi/protocols/container/protocol_configuration_manager.py
  src/omnibase_spi/protocols/container/protocol_reference_resolver.py
  src/omnibase_spi/protocols/container/protocol_registry.py
  src/omnibase_spi/protocols/container/protocol_registry_resolver.py
  src/omnibase_spi/protocols/container/protocol_testable_registry.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_types.py
  src/omnibase_spi/protocols/mcp/protocol_base_tool_with_logger.py
  src/omnibase_spi/protocols/mcp/protocol_hub_execution.py
  src/omnibase_spi/protocols/mcp/protocol_tool.py
  src/omnibase_spi/protocols/mcp/protocol_tool_bootstrap.py
  src/omnibase_spi/protocols/mcp/protocol_tool_health_check.py
  src/omnibase_spi/protocols/mcp/protocol_tool_name_resolver.py
  src/omnibase_spi/protocols/node/protocol_node_configuration.py
  src/omnibase_spi/protocols/validation/protocol_contract_compliance.py
  src/omnibase_spi/protocols/validation/protocol_input_validation_tool.py
  src/omnibase_spi/protocols/validation/protocol_precommit_checker.py
  src/omnibase_spi/protocols/validation/protocol_validate.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

refactor(OMN-11829): delete orphaned and deprecated SPI protocol files (#223)
  src/omnibase_spi/protocols/advanced/protocol_direct_knowledge_pipeline.py
  src/omnibase_spi/protocols/advanced/protocol_multi_vector_indexer.py
  src/omnibase_spi/protocols/advanced/protocol_orchestrator.py
  src/omnibase_spi/protocols/container/protocol_configuration_manager.py
  src/omnibase_spi/protocols/container/protocol_reference_resolver.py
  src/omnibase_spi/protocols/container/protocol_registry.py
  src/omnibase_spi/protocols/container/protocol_registry_resolver.py
  src/omnibase_spi/protocols/container/protocol_testable_registry.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_types.py
  src/omnibase_spi/protocols/mcp/protocol_base_tool_with_logger.py
  src/omnibase_spi/protocols/mcp/protocol_hub_execution.py
  src/omnibase_spi/protocols/mcp/protocol_tool.py
  src/omnibase_spi/protocols/mcp/protocol_tool_bootstrap.py
  src/omnibase_spi/protocols/mcp/protocol_tool_health_check.py
  src/omnibase_spi/protocols/mcp/protocol_tool_name_resolver.py
  src/omnibase_spi/protocols/node/protocol_node_configuration.py
  src/omnibase_spi/protocols/validation/protocol_contract_compliance.py
  src/omnibase_spi/protocols/validation/protocol_input_validation_tool.py
  src/omnibase_spi/protocols/validation/protocol_precommit_checker.py
  src/omnibase_spi/protocols/validation/protocol_validate.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(OMN-11821): remove unreachable protocol type branch
  scripts/validation/validate_protocol_duplicates.py
Due: ruff-format, ruff-fix

refactor(OMN-11821): reduce complexity in validate_spi_protocols.py and validate_protocol_duplicates.py (#220)
  scripts/validation/validate_protocol_duplicates.py
  scripts/validation/validate_spi_protocols.py
  tests/fixtures/validate_protocol_duplicates_baseline.txt
  tests/fixtures/validate_spi_protocols_baseline.txt
  uv.lock
Due: ruff-format, ruff-fix

fix(OMN-12160): Replace hardcoded Kafka topic in SPI exceptions
  src/omnibase_spi/exceptions_skill_routing.py
  src/omnibase_spi/registry/event_registry.py
  tests/unit/test_skill_routing_error.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(OMN-12190): Migrate projection protocols from compat to SPI
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/projections/__init__.py
  src/omnibase_spi/protocols/projections/protocol_projection_database.py
  src/omnibase_spi/protocols/projections/protocol_projection_database_sync.py
  tests/snapshots/protocol_signatures.json
  tests/unit/protocols/projections/test_protocol_projection_database.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(OMN-12160): avoid invalid smart test paths
  scripts/ci/detect_test_paths.py
  tests/unit/test_smart_test_selection.py
Due: ruff-format, ruff-fix

fix(OMN-12160): Replace hardcoded Kafka topic in SPI exceptions
  scripts/ci/detect_test_paths.py
  src/omnibase_spi/exceptions_skill_routing.py
  src/omnibase_spi/registry/event_registry.py
  tests/unit/test_skill_routing_error.py
  tests/unit/test_smart_test_selection.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(OMN-12190): declare sync projection protocol contract
  src/omnibase_spi/protocols/projections/protocol_projection_database_sync.py
  tests/snapshots/protocol_signatures.json
  tests/unit/protocols/projections/test_protocol_projection_database.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore: release v0.22.0
  pyproject.toml
Due: none

chore: release v0.22.0 (OMN-12245) (#228)
  pyproject.toml
  scripts/ci/detect_test_paths.py
  src/omnibase_spi/exceptions_skill_routing.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/projections/__init__.py
  src/omnibase_spi/protocols/projections/protocol_projection_database.py
  src/omnibase_spi/protocols/projections/protocol_projection_database_sync.py
  src/omnibase_spi/registry/event_registry.py
  tests/snapshots/protocol_signatures.json
  tests/unit/protocols/projections/test_protocol_projection_database.py
  tests/unit/test_skill_routing_error.py
  tests/unit/test_smart_test_selection.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

ci(OMN-12243): add main target guard (#229)
  .github/workflows/main-target-guard.yml
Due: none

fix(OMN-12380): retire ProtocolLLMAgentProvider and surface file_handling LACKS_INTEGRATION protocols
  src/omnibase_spi/protocols/file_handling/__init__.py
  src/omnibase_spi/protocols/mcp/protocol_llm_agent_provider.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(OMN-12380): retire ProtocolLLMAgentProvider and surface file_handling LACKS_INTEGRATION protocols (#230)
  src/omnibase_spi/protocols/file_handling/__init__.py
  src/omnibase_spi/protocols/mcp/protocol_llm_agent_provider.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

ci(OMN-12477): add dev-only main-target-guard (forward-port from main)
  .github/workflows/main-target-guard.yml
Due: none

ci(OMN-12477): add dev-only main-target-guard (forward-port from main) (#231)
  .github/workflows/main-target-guard.yml
Due: none

chore: release v0.22.0 (OMN-12561)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(OMN-12561): repair release package isolation
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/protocols/effects/protocol_git_hook_effect.py
  src/omnibase_spi/protocols/effects/protocol_github_pr_poller_effect.py
  src/omnibase_spi/protocols/effects/protocol_linear_snapshot_effect.py
  src/omnibase_spi/protocols/intelligence/protocol_context_enrichment.py
  src/omnibase_spi/protocols/overseer/protocol_code_repository.py
  src/omnibase_spi/protocols/projections/protocol_projection_view.py
  src/omnibase_spi/protocols/services/protocol_database_service.py
  src/omnibase_spi/protocols/services/protocol_project_tracker.py
  src/omnibase_spi/protocols/services/protocol_source_control.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore: address release metadata review
  CHANGELOG.md
  pyproject.toml
Due: none

ci: install pinned core source in namespace validation
  .github/workflows/namespace-validation.yml
  uv.lock
Due: none

chore: release v0.22.0 (OMN-12561) (#232)
  .github/workflows/namespace-validation.yml
  CHANGELOG.md
  pyproject.toml
  src/omnibase_spi/protocols/effects/protocol_git_hook_effect.py
  src/omnibase_spi/protocols/effects/protocol_github_pr_poller_effect.py
  src/omnibase_spi/protocols/effects/protocol_linear_snapshot_effect.py
  src/omnibase_spi/protocols/intelligence/protocol_context_enrichment.py
  src/omnibase_spi/protocols/overseer/protocol_code_repository.py
  src/omnibase_spi/protocols/projections/protocol_projection_view.py
  src/omnibase_spi/protocols/services/protocol_database_service.py
  src/omnibase_spi/protocols/services/protocol_project_tracker.py
  src/omnibase_spi/protocols/services/protocol_source_control.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

docs(OMN-13184): refresh omnibase_spi documentation
  CLAUDE.md
  PROTOCOL_CONTAINER_IMPLEMENTATION.md
  README.md
  docs/QUICK-START.md
  docs/README.md
  docs/api-reference/EVENT-BUS.md
  docs/api-reference/HANDLERS.md
  docs/api-reference/MEMORY.md
  docs/api-reference/PROJECTIONS.md
  docs/api-reference/README.md
  docs/api-reference/WORKFLOW-ORCHESTRATION.md
  docs/examples/IMPLEMENTATION-EXAMPLES.md
Due: none

docs(OMN-13172): fix handler docs anchor
  docs/api-reference/HANDLERS.md
Due: none

docs(OMN-13172): refresh omnibase_spi documentation (#234)
  CLAUDE.md
  PROTOCOL_CONTAINER_IMPLEMENTATION.md
  README.md
  docs/QUICK-START.md
  docs/README.md
  docs/api-reference/EVENT-BUS.md
  docs/api-reference/HANDLERS.md
  docs/api-reference/MEMORY.md
  docs/api-reference/PROJECTIONS.md
  docs/api-reference/README.md
  docs/api-reference/WORKFLOW-ORCHESTRATION.md
  docs/examples/IMPLEMENTATION-EXAMPLES.md
Due: none

docs(OMN-13198): retarget ModelOnexEnvelope doc references to ModelEventEnvelope
  docs/PROTOCOL_SEQUENCE_DIAGRAMS.md
  src/omnibase_spi/protocols/README.md
Due: none

docs(OMN-13198): retarget ModelOnexEnvelope doc references to ModelEventEnvelope (#235)
  docs/PROTOCOL_SEQUENCE_DIAGRAMS.md
  src/omnibase_spi/protocols/README.md
Due: none

feat(OMN-13221): renderer + capability-negotiation protocols for bus-native action loop
  pyproject.toml
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/dashboard/__init__.py
  src/omnibase_spi/protocols/dashboard/protocol_renderer.py
  src/omnibase_spi/protocols/dashboard/protocol_renderer_capability_negotiator.py
  tests/protocols/dashboard/__init__.py
  tests/protocols/dashboard/test_protocol_renderer.py
  tests/snapshots/protocol_signatures.json
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(OMN-13221): renderer + capability-negotiation protocols for bus-native action loop (#236)
  pyproject.toml
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/dashboard/__init__.py
  src/omnibase_spi/protocols/dashboard/protocol_renderer.py
  src/omnibase_spi/protocols/dashboard/protocol_renderer_capability_negotiator.py
  tests/protocols/dashboard/__init__.py
  tests/protocols/dashboard/test_protocol_renderer.py
  tests/snapshots/protocol_signatures.json
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(OMN-13296): add reject-deploy-gate-skip-token pre-commit hook
  .pre-commit-config.yaml
  .pre-commit-hooks/reject-deploy-gate-skip-token.sh
Due: none

feat(OMN-13296): add reject-deploy-gate-skip-token pre-commit hook (#237)
  .pre-commit-config.yaml
  .pre-commit-hooks/reject-deploy-gate-skip-token.sh
Due: none

feat(OMN-13291): wire validate-validator-requirements fleet gate (omnibase_spi)
  .github/workflows/validate-validator-requirements.yml
  .pre-commit-config.yaml
  architecture-handshakes/validator-requirements-baseline.yaml
  architecture-handshakes/validator-requirements.yaml
Due: none

feat(OMN-13291): wire validate-validator-requirements fleet gate (omnibase_spi) (#238)
  .github/workflows/validate-validator-requirements.yml
  .pre-commit-config.yaml
  architecture-handshakes/validator-requirements-baseline.yaml
  architecture-handshakes/validator-requirements.yaml
Due: none
