Repository OmniNode-ai/omnibase_spi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (lint + import sort)
  entry: poetry run ruff check --fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: poetry run mypy
  language: system
  args:
  - --strict
  - --ignore-missing-imports
  - --show-error-codes
  - --no-error-summary
  stages:
  - pre-commit

validate-spi-protocols:
  name: SPI Protocol Architecture Validation
  entry: poetry run python scripts/validation/validate_spi_protocols.py
  language: system
  pass_filenames: false
  args:
  - src/
  - --exclude-pattern
  - exceptions.py
  stages:
  - pre-commit

validate-protocol-duplicates:
  name: SPI Protocol Duplicate Detection
  entry: poetry run python scripts/validation/validate_protocol_duplicates.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-spi-typing-patterns:
  name: SPI Typing Pattern Validation
  entry: poetry run python scripts/validation/validate_spi_typing_patterns.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-spi-naming-conventions:
  name: SPI Naming Convention Validation
  entry: poetry run python scripts/validation/validate_spi_naming.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-naming-patterns:
  name: SPI Naming Pattern Validation
  entry: python scripts/validation/validate_naming_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-namespace-isolation-new:
  name: SPI Namespace Isolation (No Infra, No Pydantic)
  entry: python scripts/validation/validate_namespace_isolation.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-secrets:
  name: SPI Secret Detection
  entry: poetry run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-hardcoded-env-vars:
  name: SPI Hardcoded Environment Variable Prevention
  entry: poetry run python scripts/validation/validate_hardcoded_env_vars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(ci): CR Thread Gate caller job emits 'gate / CodeRabbit Thread Check' [OMN-9032] (#183)
  .github/workflows/cr-thread-gate-caller.yml
  .github/workflows/cr-thread-gate.yml
Due: none

ci(handshake): drop path filter + add merge_group trigger [OMN-9049]
  .github/workflows/check-handshake.yml
Due: none

ci(handshake): drop path filter + add merge_group trigger [OMN-9049] (#184)
  .github/workflows/check-handshake.yml
Due: none

feat(spi): add ProtocolHandlerResolver + ProtocolHandlerOwnershipQuery, relocate ProtocolHandleable [OMN-9197]
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/runtime/__init__.py
  src/omnibase_spi/protocols/runtime/protocol_handleable.py
  src/omnibase_spi/protocols/runtime/protocol_handler_ownership_query.py
  src/omnibase_spi/protocols/runtime/protocol_handler_resolver.py
  tests/protocols/runtime/test_protocol_handleable.py
  tests/protocols/runtime/test_protocol_handler_ownership_query.py
  tests/protocols/runtime/test_protocol_handler_resolver.py
  tests/snapshots/protocol_signatures.json
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

docs(spi): address CodeRabbit findings on resolver protocol docstrings [OMN-9197]
  src/omnibase_spi/protocols/runtime/protocol_handleable.py
  src/omnibase_spi/protocols/runtime/protocol_handler_ownership_query.py
  src/omnibase_spi/protocols/runtime/protocol_handler_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(spi): add ProtocolHandlerResolver + ProtocolHandlerOwnershipQuery, relocate ProtocolHandleable [OMN-9197] (#186)
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/runtime/__init__.py
  src/omnibase_spi/protocols/runtime/protocol_handleable.py
  src/omnibase_spi/protocols/runtime/protocol_handler_ownership_query.py
  src/omnibase_spi/protocols/runtime/protocol_handler_resolver.py
  tests/protocols/runtime/test_protocol_handleable.py
  tests/protocols/runtime/test_protocol_handler_ownership_query.py
  tests/protocols/runtime/test_protocol_handler_resolver.py
  tests/snapshots/protocol_signatures.json
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(ci): switch auto-merge workflow to squash method (OMN-9348)
  .github/workflows/auto-merge.yml
Due: none

fix(ci): switch auto-merge workflow to squash method (OMN-9348) (#187)
  .github/workflows/auto-merge.yml
Due: none

fix(ci): omit merge method flag for queue-enabled repo (OMN-9354)
  .github/workflows/auto-merge.yml
Due: none

fix(ci): omit merge method flag for queue-enabled repo (OMN-9354) (#188)
  .github/workflows/auto-merge.yml
Due: none

chore(ci): propagate normalization-symmetry-hook [bot] [OMN-9344]
  .pre-commit-config.yaml
Due: none

chore(ci): propagate normalization-symmetry-hook [bot] [OMN-9344] (#190)
  .pre-commit-config.yaml
Due: none

fix(ci): remove orphaned normalization-symmetry hook from ci: mapping
  .pre-commit-config.yaml
Due: none

fix(ci): move normalization-symmetry hook to repos list, fix module path, skip in CI
  .pre-commit-config.yaml
Due: none

fix(ci): move normalization-symmetry hook to repos list, fix module path, skip in CI (#189)
  .pre-commit-config.yaml
Due: none

chore: bump version to 0.20.5, fix pre-commit config [OMN-9414]
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore: bump version to 0.20.5, fix pre-commit config [OMN-9414] (#194)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

feat(OMN-9755): create SPI default handler-contract loader with model_validate
  src/omnibase_spi/contracts/defaults/__init__.py
  src/omnibase_spi/factories/default_handler_contract_loader.py
  tests/unit/contracts/test_default_handler_contract_validated.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(OMN-9755): harden loader against path traversal + info disclosure
  src/omnibase_spi/factories/default_handler_contract_loader.py
  tests/unit/contracts/test_default_handler_contract_validated.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(OMN-9628): add remote agent transport protocol
  src/omnibase_spi/protocols/agent/__init__.py
  src/omnibase_spi/protocols/agent/protocol_remote_agent_transport.py
  tests/unit/protocols/agent/__init__.py
  tests/unit/protocols/agent/test_protocol_remote_agent_transport.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(OMN-9628): bump omnibase-core to v0.40.0 for delegation models
  uv.lock
Due: none

test(OMN-9628): assert watch is coroutine function (CR consistency fix)
  tests/unit/protocols/agent/test_protocol_remote_agent_transport.py
Due: ruff-format, ruff-fix

feat(OMN-9628): add remote agent transport protocol (#197)
  src/omnibase_spi/protocols/agent/__init__.py
  src/omnibase_spi/protocols/agent/protocol_remote_agent_transport.py
  tests/unit/protocols/agent/__init__.py
  tests/unit/protocols/agent/test_protocol_remote_agent_transport.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(OMN-10316): wire docs-validate as required CI gate in omnibase_spi
  .github/workflows/docs-validate.yml
  .markdown-link-check.json
Due: none

docs(OMN-10348): define ONEX (OmniNode eXecution) on first use; fix conflicting expansions
  README.md
  docs/CONTRIBUTING.md
  docs/GLOSSARY.md
Due: none

fix(OMN-10316): remove paths filter so required check runs on every PR
  .github/workflows/docs-validate.yml
Due: none

docs(OMN-10348): define ONEX (OmniNode eXecution) on first use; fix conflicting expansions (#200)
  README.md
  docs/CONTRIBUTING.md
  docs/GLOSSARY.md
Due: none

feat(OMN-10316): wire docs-validate as required CI gate in omnibase_spi (#199)
  .github/workflows/docs-validate.yml
  .markdown-link-check.json
Due: none

chore(ci): propagate normalization-symmetry-hook [bot]
  .pre-commit-config.yaml
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-protocols: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/|src/omnibase_spi/exceptions\.py).*$)
  validate-protocol-duplicates: any of: ^src/.*protocol.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-typing-patterns: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-naming-conventions: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-naming-patterns: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-namespace-isolation-new: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
