Repository OmniNode-ai/omnibase_spi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-protocols: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/|src/omnibase_spi/exceptions\.py).*$)
  validate-protocol-duplicates: any of: ^src/.*protocol.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-typing-patterns: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-naming-conventions: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-naming-patterns: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-namespace-isolation-new: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$

docs(spi): Add docstrings to EventBus protocol methods [OMN-511]
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_mixin.py
  src/omnibase_spi/protocols/event_bus/protocol_event_envelope.py
  src/omnibase_spi/protocols/types/protocol_event_bus_types.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(spi): Add ProtocolTopicConfig and validation methods [OMN-511]
  src/omnibase_spi/protocols/event_bus/__init__.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_client.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_extended.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_types.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

refactor(spi): Rename Kafka protocols to EventBus for backend-agnostic design [OMN-511] (#39)
  CLAUDE.md
  docs/DEPRECATIONS.md
  docs/README.md
  docs/api-reference/EVENT-BUS.md
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/container/__init__.py
  src/omnibase_spi/protocols/container/protocol_client_config.py
  src/omnibase_spi/protocols/event_bus/__init__.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_client.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_extended.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_mixin.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_types.py
  src/omnibase_spi/protocols/event_bus/protocol_event_envelope.py
  src/omnibase_spi/protocols/networking/__init__.py
  src/omnibase_spi/protocols/networking/protocol_kafka_extended.py
  src/omnibase_spi/protocols/nodes/legacy/__init__.py
  src/omnibase_spi/protocols/nodes/legacy/compute.py
  src/omnibase_spi/protocols/nodes/legacy/effect.py
  src/omnibase_spi/protocols/nodes/legacy/orchestrator.py
  src/omnibase_spi/protocols/nodes/legacy/reducer.py
  src/omnibase_spi/protocols/types/protocol_event_bus_types.py
  tests/protocols/effects/test_protocol_primitive_effect_executor.py
  tests/test_deprecation_warnings.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(spi): EventBus cleanup and test addition [OMN-708, OMN-709]
  .mypy.ini
  src/omnibase_spi/protocols/event_bus/protocol_event_envelope_impl.py
  tests/protocols/event_bus/test_event_bus_client.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

refactor(spi): Improve EventBus test quality and best practices [OMN-708, OMN-709]
  tests/protocols/event_bus/test_event_bus_client.py
Due: ruff-format, ruff-fix

test(spi): Address PR #40 review feedback for EventBus tests [OMN-708, OMN-709]
  tests/protocols/event_bus/test_event_bus_client.py
  tests/protocols/event_bus/test_event_bus_provider.py
Due: ruff-format, ruff-fix

fix(spi): Address PR #40 review - strict mypy and cleaner mock patterns [OMN-708, OMN-709]
  .mypy.ini
  tests/protocols/event_bus/test_event_bus_client.py
Due: ruff-format, ruff-fix

test(spi): Expand EventBus test coverage with comprehensive edge cases [OMN-708, OMN-709]
  pyproject.toml
  tests/protocols/event_bus/test_event_bus_client.py
  tests/protocols/event_bus/test_event_bus_provider.py
Due: ruff-format, ruff-fix

refactor(spi): Split EventBus test files for better organization [OMN-708, OMN-709]
  tests/protocols/event_bus/conftest.py
  tests/protocols/event_bus/test_event_bus_client.py
  tests/protocols/event_bus/test_event_bus_client_base.py
  tests/protocols/event_bus/test_event_bus_consumer.py
  tests/protocols/event_bus/test_event_bus_extended.py
  tests/protocols/event_bus/test_event_bus_inheritance.py
  tests/protocols/event_bus/test_event_bus_producers.py
Due: ruff-format, ruff-fix

chore(spi): EventBus cleanup and test addition [OMN-708, OMN-709] (#40)
  .mypy.ini
  pyproject.toml
  src/omnibase_spi/protocols/event_bus/protocol_event_envelope_impl.py
  tests/protocols/event_bus/conftest.py
  tests/protocols/event_bus/test_event_bus_client.py
  tests/protocols/event_bus/test_event_bus_client_base.py
  tests/protocols/event_bus/test_event_bus_consumer.py
  tests/protocols/event_bus/test_event_bus_extended.py
  tests/protocols/event_bus/test_event_bus_inheritance.py
  tests/protocols/event_bus/test_event_bus_producers.py
  tests/protocols/event_bus/test_event_bus_provider.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): create generic ProtocolRegistry[K, V] to unify all registry protocols [OMN-845]
  CHANGELOG.md
  DEPENDENCY_UPDATE_SUMMARY.md
  REFACTORING_SUMMARY.md
  VERSION_BUMP_SUMMARY.md
  docs/api-reference/REGISTRY.md
  pyproject.toml
  src/omnibase_spi/__init__.py
  src/omnibase_spi/protocols/container/protocol_service_registry.py
  src/omnibase_spi/protocols/registry/__init__.py
  src/omnibase_spi/protocols/registry/handler_registry.py
  src/omnibase_spi/protocols/registry/protocol_registry_base.py
  src/omnibase_spi/protocols/registry/protocol_versioned_registry.py
  tests/protocols/registry/test_handler_registry.py
  tests/protocols/registry/test_protocol_registry_base.py
  tests/test_forward_references.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): resolve CI validation failures [OMN-845]
  docs/api-reference/README.md
  docs/api-reference/REGISTRY.md
  scripts/validation/comprehensive_spi_validator.py
  src/omnibase_spi/protocols/registry/handler_registry.py
  src/omnibase_spi/protocols/registry/protocol_versioned_registry.py
  tests/protocols/registry/test_handler_registry.py
  tests/test_forward_references.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): address all PR #41 review feedback [OMN-845]
  docs/api-reference/REGISTRY.md
  src/omnibase_spi/protocols/registry/__init__.py
  src/omnibase_spi/protocols/registry/protocol_registry_base.py
  src/omnibase_spi/protocols/registry/protocol_versioned_registry.py
  tests/protocols/registry/test_protocol_registry_base.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): address all PR #41 review feedback [OMN-845]
  docs/api-reference/REGISTRY.md
  src/omnibase_spi/protocols/registry/__init__.py
  src/omnibase_spi/protocols/registry/handler_registry.py
  src/omnibase_spi/protocols/registry/protocol_versioned_registry.py
  tests/test_forward_references.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(deps): update omnibase_core to 0.4.0 [OMN-845]
  pyproject.toml
Due: none

fix(protocols): resolve PR #41 async/sync design inconsistency [OMN-845]
  src/omnibase_spi/protocols/registry/protocol_versioned_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

docs(protocols): enhance ProtocolVersionedRegistry implementation guidance [OMN-845]
  src/omnibase_spi/protocols/registry/protocol_versioned_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): create generic ProtocolRegistry[K, V] to unify all registry protocols [OMN-845] (#41)
  CHANGELOG.md
  DEPENDENCY_UPDATE_SUMMARY.md
  REFACTORING_SUMMARY.md
  VERSION_BUMP_SUMMARY.md
  docs/api-reference/README.md
  docs/api-reference/REGISTRY.md
  pyproject.toml
  scripts/validation/comprehensive_spi_validator.py
  src/omnibase_spi/__init__.py
  src/omnibase_spi/protocols/container/protocol_service_registry.py
  src/omnibase_spi/protocols/registry/__init__.py
  src/omnibase_spi/protocols/registry/handler_registry.py
  src/omnibase_spi/protocols/registry/protocol_registry_base.py
  src/omnibase_spi/protocols/registry/protocol_versioned_registry.py
  tests/protocols/registry/test_handler_registry.py
  tests/protocols/registry/test_protocol_registry_base.py
  tests/test_forward_references.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): address PR #41 follow-up review feedback
  docs/api-reference/REGISTRY.md
  src/omnibase_spi/protocols/registry/protocol_versioned_registry.py
  tests/protocols/registry/test_handler_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

docs(protocols): address PR #42 review feedback - version annotations, decisions, and tests
  docs/api-reference/REGISTRY.md
  docs/decisions/PR42_PROTOCOL_DESIGN_ANALYSIS.md
  docs/decisions/SHARED_ASYNC_BASE_PROTOCOL_DECISION.md
  src/omnibase_spi/protocols/registry/protocol_versioned_registry.py
  tests/protocols/registry/test_versioned_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

docs(protocols): address PR #42 review feedback - complete documentation enhancement
  docs/api-reference/REGISTRY.md
  src/omnibase_spi/protocols/registry/protocol_versioned_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): PR #41 follow-up review feedback (#42)
  docs/api-reference/REGISTRY.md
  docs/decisions/PR42_PROTOCOL_DESIGN_ANALYSIS.md
  docs/decisions/SHARED_ASYNC_BASE_PROTOCOL_DECISION.md
  src/omnibase_spi/protocols/registry/protocol_versioned_registry.py
  tests/protocols/registry/test_handler_registry.py
  tests/protocols/registry/test_versioned_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): add ProtocolIdempotencyStore for runtime deduplication [OMN-991]
  pyproject.toml
  src/omnibase_spi/__init__.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/storage/__init__.py
  src/omnibase_spi/protocols/storage/protocol_idempotency_store.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(exceptions): add IdempotencyStoreError for ProtocolIdempotencyStore [OMN-991]
  src/omnibase_spi/__init__.py
  src/omnibase_spi/exceptions.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(protocols): address PR #43 review feedback [OMN-991]
  src/omnibase_spi/protocols/storage/protocol_idempotency_store.py
  tests/unit/__init__.py
  tests/unit/protocols/__init__.py
  tests/unit/protocols/storage/__init__.py
  tests/unit/protocols/storage/test_protocol_idempotency_store.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): add ProtocolIdempotencyStore for runtime deduplication [OMN-991] (#43)
  pyproject.toml
  src/omnibase_spi/__init__.py
  src/omnibase_spi/exceptions.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/storage/__init__.py
  src/omnibase_spi/protocols/storage/protocol_idempotency_store.py
  tests/unit/__init__.py
  tests/unit/protocols/__init__.py
  tests/unit/protocols/storage/__init__.py
  tests/unit/protocols/storage/test_protocol_idempotency_store.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat(protocols): add projection protocols for orchestrator state management [OMN-930, OMN-940]
  src/omnibase_spi/exceptions.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/projections/__init__.py
  src/omnibase_spi/protocols/projections/protocol_projection_reader.py
  src/omnibase_spi/protocols/projections/protocol_projector.py
  tests/unit/protocols/projections/__init__.py
  tests/unit/protocols/projections/test_protocol_projection_reader.py
  tests/unit/protocols/projections/test_protocol_projector.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(validation): exclude @property methods from async requirement check
  scripts/validation/comprehensive_spi_validator.py
Due: ruff-format, ruff-fix

fix(protocols): address PR #44 review feedback for projection protocols
  src/omnibase_spi/__init__.py
  src/omnibase_spi/exceptions.py
  src/omnibase_spi/protocols/projections/protocol_projection_reader.py
  src/omnibase_spi/protocols/projections/protocol_projector.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(tests): add missing confirmed parameter to MockProjector.cleanup_before_sequence
  tests/unit/protocols/projections/test_protocol_projector.py
Due: ruff-format, ruff-fix

feat(protocols): add projection protocols for orchestrator state management [OMN-930, OMN-940] (#44)
  scripts/validation/comprehensive_spi_validator.py
  src/omnibase_spi/__init__.py
  src/omnibase_spi/exceptions.py
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/projections/__init__.py
  src/omnibase_spi/protocols/projections/protocol_projection_reader.py
  src/omnibase_spi/protocols/projections/protocol_projector.py
  tests/unit/protocols/projections/__init__.py
  tests/unit/protocols/projections/test_protocol_projection_reader.py
  tests/unit/protocols/projections/test_protocol_projector.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

test(exceptions): add comprehensive tests and enforce coverage thresholds [OMN-789]
  pyproject.toml
  tests/test_exceptions.py
Due: ruff-format, ruff-fix

fix(exceptions): address PR #46 review feedback [OMN-789]
  src/omnibase_spi/exceptions.py
  tests/test_exceptions.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

test(exceptions): add shallow copy test and type annotations [OMN-789]
  tests/test_exceptions.py
Due: ruff-format, ruff-fix

test(exceptions): add chaining tests and integration examples [OMN-789]
  pyproject.toml
  tests/integration/test_exception_integration.py
  tests/test_exceptions.py
Due: ruff-format, ruff-fix

test(exceptions): add SPIError fallback tests and documentation [OMN-789]
  tests/integration/test_exception_integration.py
Due: ruff-format, ruff-fix

refactor(exceptions): use deepcopy for context isolation and reorganize tests [OMN-789]
  pyproject.toml
  src/omnibase_spi/exceptions.py
  tests/integration/test_exception_integration.py
  tests/test_exceptions.py
  tests/unit/test_exception_handlers.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore: move test_exceptions.py to tests/unit/ and add coverage comment [OMN-789]
  pyproject.toml
  tests/integration/test_exception_integration.py
  tests/unit/test_exceptions.py
Due: ruff-format, ruff-fix

refactor(tests): consolidate shared mocks and add test markers [OMN-789]
  CLAUDE.md
  tests/conftest.py
  tests/integration/test_exception_integration.py
  tests/unit/test_exception_handlers.py
  tests/unit/test_exceptions.py
Due: ruff-format, ruff-fix
