Repository OmniNode-ai/omnibase_spi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (lint + import sort)
  entry: poetry run ruff check --fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: poetry run mypy
  language: system
  args:
  - --strict
  - --ignore-missing-imports
  - --show-error-codes
  - --no-error-summary
  stages:
  - pre-commit

validate-spi-protocols:
  name: SPI Protocol Architecture Validation
  entry: poetry run python scripts/validation/validate_spi_protocols.py
  language: system
  pass_filenames: false
  args:
  - src/
  - --exclude-pattern
  - exceptions.py
  stages:
  - pre-commit

validate-protocol-duplicates:
  name: SPI Protocol Duplicate Detection
  entry: poetry run python scripts/validation/validate_protocol_duplicates.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-spi-typing-patterns:
  name: SPI Typing Pattern Validation
  entry: poetry run python scripts/validation/validate_spi_typing_patterns.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-spi-naming-conventions:
  name: SPI Naming Convention Validation
  entry: poetry run python scripts/validation/validate_spi_naming.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-naming-patterns:
  name: SPI Naming Pattern Validation
  entry: python scripts/validation/validate_naming_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-namespace-isolation-new:
  name: SPI Namespace Isolation (No Infra, No Pydantic)
  entry: python scripts/validation/validate_namespace_isolation.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-secrets:
  name: SPI Secret Detection
  entry: poetry run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-hardcoded-env-vars:
  name: SPI Hardcoded Environment Variable Prevention
  entry: poetry run python scripts/validation/validate_hardcoded_env_vars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

chore(ci): add CI naming convention check to standards compliance [OMN-6222] (#151)
  .github/workflows/omni-standards-compliance.yml
Due: none

release: omnibase_spi v0.20.0
  pyproject.toml
  uv.lock
Due: none

release: omnibase_spi v0.20.0 (#152)
  pyproject.toml
  uv.lock
Due: none

chore: release v0.20.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: release v0.20.1 (#154)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(lint): remove unused ModelDeliveryResult import suppression [OMN-6670]
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_producer_handler.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(lint): remove unused ModelDeliveryResult import suppression [OMN-6670] (#155)
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_producer_handler.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore: release v0.20.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: release v0.20.2 (#156)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

ci: add CodeQL security scanning workflow [OMN-5412]
  .github/workflows/codeql.yml
Due: none

ci: add CodeQL security scanning workflow [OMN-5412] (#157)
  .github/workflows/codeql.yml
Due: none

ci: add PR title check caller workflow [OMN-6916]
  .github/workflows/pr-title-check.yml
Due: none

ci: add PR title check caller workflow [OMN-6916] (#158)
  .github/workflows/pr-title-check.yml
Due: none

release: omnibase_spi v0.20.3
  pyproject.toml
  uv.lock
Due: none

release: omnibase_spi v0.20.3 (#159)
  pyproject.toml
  uv.lock
Due: none

fix(ci): auto-tag workflow matches chore: release PR titles [OMN-6909]
  .github/workflows/auto-tag-on-merge.yml
Due: none

fix(ci): auto-tag workflow matches chore: release PR titles [OMN-6909] (#160)
  .github/workflows/auto-tag-on-merge.yml
Due: none

release: omnibase_spi v0.20.4
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

release: omnibase_spi v0.20.4 (#161)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix: resolve validate-links hook and stub implementation failures
  .pre-commit-config.yaml
  scripts/validation/timeout_utils.py
  scripts/validation/validate_spi_typing_patterns.py
Due: ruff-format, ruff-fix

fix: resolve validate-links hook and stub implementation failures (#162)
  .pre-commit-config.yaml
  scripts/validation/timeout_utils.py
  scripts/validation/validate_spi_typing_patterns.py
Due: ruff-format, ruff-fix

feat: add service lifecycle protocols [OMN-7576]
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/services/__init__.py
  src/omnibase_spi/protocols/services/protocol_code_host.py
  src/omnibase_spi/protocols/services/protocol_secret_store.py
  src/omnibase_spi/protocols/services/protocol_ticket_service.py
  tests/unit/protocols/services/__init__.py
  tests/unit/protocols/services/test_service_protocols.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix: resolve CI failures — import sorting + protocol snapshot update [OMN-7576]
  src/omnibase_spi/protocols/__init__.py
  tests/snapshots/protocol_signatures.json
  tests/unit/protocols/services/test_service_protocols.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat: add service lifecycle protocols [OMN-7576] (#163)
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/services/__init__.py
  src/omnibase_spi/protocols/services/protocol_code_host.py
  src/omnibase_spi/protocols/services/protocol_secret_store.py
  src/omnibase_spi/protocols/services/protocol_ticket_service.py
  tests/snapshots/protocol_signatures.json
  tests/unit/protocols/services/__init__.py
  tests/unit/protocols/services/test_service_protocols.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

docs: remove stale doc references from CLAUDE.md [OMN-7649]
  CLAUDE.md
Due: none

docs: remove stale doc references from CLAUDE.md [OMN-7649] (#164)
  CLAUDE.md
Due: none

feat: define ProtocolExternalService base protocol [OMN-7700]
  src/omnibase_spi/protocols/services/__init__.py
  src/omnibase_spi/protocols/services/protocol_external_service.py
  tests/unit/protocols/services/test_service_protocols.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat: define ProtocolExternalService base protocol [OMN-7700] (#165)
  src/omnibase_spi/protocols/services/__init__.py
  src/omnibase_spi/protocols/services/protocol_external_service.py
  tests/unit/protocols/services/test_service_protocols.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat: add source control and database wire-format contracts [OMN-7702, OMN-7713]
  src/omnibase_spi/contracts/__init__.py
  src/omnibase_spi/contracts/database/__init__.py
  src/omnibase_spi/contracts/database/model_query_result.py
  src/omnibase_spi/contracts/database/model_transaction_result.py
  src/omnibase_spi/contracts/source_control/__init__.py
  src/omnibase_spi/contracts/source_control/model_branch.py
  src/omnibase_spi/contracts/source_control/model_check_run.py
  src/omnibase_spi/contracts/source_control/model_diff.py
  src/omnibase_spi/contracts/source_control/model_merge_result.py
  src/omnibase_spi/contracts/source_control/model_pull_request.py
  tests/unit/test_database_contracts.py
  tests/unit/test_source_control_contracts.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat: add Wave 1 external service protocols [OMN-7701, OMN-7707, OMN-7708, OMN-7712]
  src/omnibase_spi/contracts/services/__init__.py
  src/omnibase_spi/contracts/services/contract_database_service_types.py
  src/omnibase_spi/contracts/services/contract_project_tracker_types.py
  src/omnibase_spi/contracts/services/contract_source_control_types.py
  src/omnibase_spi/protocols/services/__init__.py
  src/omnibase_spi/protocols/services/protocol_database_service.py
  src/omnibase_spi/protocols/services/protocol_project_tracker.py
  src/omnibase_spi/protocols/services/protocol_source_control.py
  src/omnibase_spi/protocols/services/protocol_ticket_service.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix: resolve lint and namespace isolation CI failures
  scripts/validation/validate_namespace_isolation.py
  src/omnibase_spi/protocols/services/protocol_project_tracker.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix: add database and source_control to namespace isolation exemptions
  scripts/validation/validate_namespace_isolation.py
  src/omnibase_spi/contracts/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix: format test_source_control_contracts.py with ruff
  tests/unit/test_source_control_contracts.py
Due: ruff-format, ruff-fix

feat: add Wave 1 external service protocols [OMN-3835] (#167)
  scripts/validation/validate_namespace_isolation.py
  src/omnibase_spi/contracts/services/__init__.py
  src/omnibase_spi/contracts/services/contract_database_service_types.py
  src/omnibase_spi/contracts/services/contract_project_tracker_types.py
  src/omnibase_spi/contracts/services/contract_source_control_types.py
  src/omnibase_spi/protocols/services/__init__.py
  src/omnibase_spi/protocols/services/protocol_database_service.py
  src/omnibase_spi/protocols/services/protocol_project_tracker.py
  src/omnibase_spi/protocols/services/protocol_source_control.py
  src/omnibase_spi/protocols/services/protocol_ticket_service.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

feat: source control and database wire-format contracts [OMN-7702, OMN-7713] (#166)
  scripts/validation/validate_namespace_isolation.py
  src/omnibase_spi/contracts/__init__.py
  src/omnibase_spi/contracts/database/__init__.py
  src/omnibase_spi/contracts/database/model_query_result.py
  src/omnibase_spi/contracts/database/model_transaction_result.py
  src/omnibase_spi/contracts/source_control/__init__.py
  src/omnibase_spi/contracts/source_control/model_branch.py
  src/omnibase_spi/contracts/source_control/model_check_run.py
  src/omnibase_spi/contracts/source_control/model_diff.py
  src/omnibase_spi/contracts/source_control/model_merge_result.py
  src/omnibase_spi/contracts/source_control/model_pull_request.py
  tests/unit/test_database_contracts.py
  tests/unit/test_source_control_contracts.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(ci): re-trigger auto-merge after review and checks complete [OMN-7786]
  .github/workflows/auto-merge.yml
Due: none

fix(ci): re-trigger auto-merge after review and checks complete [OMN-7786] (#168)
  .github/workflows/auto-merge.yml
Due: none

ci(auto-merge): add --repo flag to gh pr merge workflow (OMN-8509)
  .github/workflows/auto-merge.yml
Due: none

ci(auto-merge): add --repo flag to gh pr merge workflow (OMN-8509) (#169)
  .github/workflows/auto-merge.yml
Due: none

refactor: move ProtocolDomainPlugin to omnibase_spi [OMN-8550]
  src/omnibase_spi/protocols/__init__.py
  src/omnibase_spi/protocols/runtime/__init__.py
  src/omnibase_spi/protocols/runtime/model_domain_plugin_config.py
  src/omnibase_spi/protocols/runtime/model_domain_plugin_result.py
  src/omnibase_spi/protocols/runtime/protocol_domain_plugin.py
  tests/protocols/runtime/__init__.py
  tests/protocols/runtime/test_protocol_domain_plugin.py
  tests/snapshots/protocol_signatures.json
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-protocols: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/|src/omnibase_spi/exceptions\.py).*$)
  validate-protocol-duplicates: any of: ^src/.*protocol.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-typing-patterns: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-naming-conventions: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-naming-patterns: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-namespace-isolation-new: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
