Repository OmniNode-ai/omnibase_spi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (lint + import sort)
  entry: poetry run ruff check --fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: poetry run mypy
  language: system
  args:
  - --strict
  - --ignore-missing-imports
  - --show-error-codes
  - --no-error-summary
  stages:
  - pre-commit

validate-spi-protocols:
  name: SPI Protocol Architecture Validation
  entry: poetry run python scripts/validation/validate_spi_protocols.py
  language: system
  pass_filenames: false
  args:
  - src/
  - --exclude-pattern
  - exceptions.py
  stages:
  - pre-commit

validate-protocol-duplicates:
  name: SPI Protocol Duplicate Detection
  entry: poetry run python scripts/validation/validate_protocol_duplicates.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-spi-typing-patterns:
  name: SPI Typing Pattern Validation
  entry: poetry run python scripts/validation/validate_spi_typing_patterns.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-spi-naming-conventions:
  name: SPI Naming Convention Validation
  entry: poetry run python scripts/validation/validate_spi_naming.py
  language: system
  pass_filenames: false
  args:
  - src/
  stages:
  - pre-commit

validate-naming-patterns:
  name: SPI Naming Pattern Validation
  entry: python scripts/validation/validate_naming_patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-namespace-isolation-new:
  name: SPI Namespace Isolation (No Infra, No Pydantic)
  entry: python scripts/validation/validate_namespace_isolation.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-secrets:
  name: SPI Secret Detection
  entry: poetry run python scripts/validation/validate_secrets.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-hardcoded-env-vars:
  name: SPI Hardcoded Environment Variable Prevention
  entry: poetry run python scripts/validation/validate_hardcoded_env_vars.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

feat(ci): add auto-tag-on-merge caller workflow
  .github/workflows/auto-tag-on-merge.yml
Due: none

feat(lint): enable pydocstyle rules for public API docstring enforcement [OMN-795]
  pyproject.toml
  tests/test_simple_imports.py
  tests/unit/effects/test_node_projection_effect_impl.py
Due: ruff-format, ruff-fix

feat(lint): enable pydocstyle rules for public API docstrings (#97)
  pyproject.toml
  tests/test_simple_imports.py
  tests/unit/effects/test_node_projection_effect_impl.py
Due: ruff-format, ruff-fix

feat(testing): protocol signature snapshot tests for SPI drift detection (#94)
  tests/snapshots/protocol_signatures.json
  tests/test_protocol_snapshot.py
Due: ruff-format, ruff-fix

feat(ci): add auto-tag-on-merge caller workflow (#93)
  .github/workflows/auto-tag-on-merge.yml
Due: none

ci: add tests-gate aggregator job for branch protection
  .github/workflows/ci.yml
Due: none

ci: add tests-gate aggregator job for branch protection (#103)
  .github/workflows/ci.yml
Due: none

chore(omnibase_spi): add AI-slop checker (Phase 2 rollout)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/validation/check_ai_slop.py
Due: ruff-format, ruff-fix

style: apply ruff format to check_ai_slop.py [OMN-2972]
  scripts/validation/check_ai_slop.py
Due: ruff-format, ruff-fix

chore(omnibase_spi): add AI-slop checker (Phase 2 rollout) (#104)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/validation/check_ai_slop.py
Due: ruff-format, ruff-fix

release: omnibase_spi v0.15.0
  CHANGELOG.md
  pyproject.toml
  scripts/validation/check_ai_slop.py
  scripts/validation/compare_protocols.py
  scripts/validation/protocol_signature_hasher.py
  scripts/validation/validate_protocol_duplicates.py
  uv.lock
Due: ruff-format, ruff-fix

fix: bump __version__ to 0.15.0 in __init__.py
  src/omnibase_spi/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

release: omnibase_spi v0.15.0 (#105)
  CHANGELOG.md
  pyproject.toml
  scripts/validation/check_ai_slop.py
  scripts/validation/compare_protocols.py
  scripts/validation/protocol_signature_hasher.py
  scripts/validation/validate_protocol_duplicates.py
  src/omnibase_spi/__init__.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(validation): tune AI-slop checker v1.0 — scope step_narration to markdown only [OMN-3191]
  scripts/validation/check_ai_slop.py
Due: ruff-format, ruff-fix

fix(validation): tune AI-slop checker v1.0 — scope step_narration to markdown only [OMN-3191] (#106)
  scripts/validation/check_ai_slop.py
Due: ruff-format, ruff-fix

fix(validation): fix ruff PIE810 — use tuple form for startswith calls [OMN-3191]
  scripts/validation/check_ai_slop.py
Due: ruff-format, ruff-fix

fix(validation): add markdown code fence tracking to AI-slop checker [OMN-3191]
  scripts/validation/check_ai_slop.py
Due: ruff-format, ruff-fix

[OMN-3191] fix(validation): add code fence tracking to AI-slop checker (follow-up) (#107)
  scripts/validation/check_ai_slop.py
Due: ruff-format, ruff-fix

docs: migrate plan files to omni_home/docs/plans/ (OMN-3319)
  docs/MVP_PLAN.md
  docs/VALIDATION_INTEGRATION_PLAN.md
Due: none

ci: add trailing newline to trigger path-filtered workflows
  .github/workflows/namespace-validation.yml
Due: none

docs: remove plan files migrated to omni_home (#108)
  .github/workflows/namespace-validation.yml
  docs/MVP_PLAN.md
  docs/VALIDATION_INTEGRATION_PLAN.md
Due: none

chore: fix pre-existing AI-slop violations for --strict mode [OMN-3669]
  src/omnibase_spi/contracts/__init__.py
  src/omnibase_spi/contracts/defaults/__init__.py
  src/omnibase_spi/contracts/delegation/__init__.py
  src/omnibase_spi/contracts/enrichment/__init__.py
  src/omnibase_spi/contracts/measurement/__init__.py
  src/omnibase_spi/factories/__init__.py
  src/omnibase_spi/protocols/container/protocol_service_registry.py
  src/omnibase_spi/protocols/dashboard/protocol_dashboard_event_subscriber.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_context_manager.py
  src/omnibase_spi/protocols/event_bus/protocol_kafka_adapter.py
  src/omnibase_spi/protocols/event_bus/protocol_redpanda_adapter.py
  src/omnibase_spi/protocols/mcp/__init__.py
  src/omnibase_spi/protocols/observability/__init__.py
  src/omnibase_spi/protocols/onex/protocol_compute_node.py
  src/omnibase_spi/protocols/onex/protocol_effect_node.py
  src/omnibase_spi/protocols/onex/protocol_node.py
  src/omnibase_spi/protocols/onex/protocol_orchestrator_node.py
  src/omnibase_spi/protocols/onex/protocol_reducer_node.py
  src/omnibase_spi/protocols/projections/__init__.py
  src/omnibase_spi/protocols/projectors/__init__.py
  src/omnibase_spi/protocols/protocol_execution_constrainable.py
  src/omnibase_spi/protocols/registry/protocol_registry_base.py
  src/omnibase_spi/protocols/registry/protocol_versioned_registry.py
  src/omnibase_spi/protocols/types/protocol_advanced_types.py
  src/omnibase_spi/protocols/types/protocol_agent_ai_types.py
  src/omnibase_spi/protocols/types/protocol_analytics_types.py
  src/omnibase_spi/protocols/types/protocol_base_types.py
  src/omnibase_spi/protocols/types/protocol_connection_types.py
  src/omnibase_spi/protocols/types/protocol_marker_types.py
  src/omnibase_spi/protocols/types/protocol_node_types.py
  src/omnibase_spi/protocols/types/protocol_retry_types.py
  src/omnibase_spi/protocols/types/protocol_state_types.py
  src/omnibase_spi/protocols/types/protocol_validation_types.py
  src/omnibase_spi/protocols/validation/__init__.py
  src/omnibase_spi/protocols/validation/protocol_validation.py
  src/omnibase_spi/protocols/verification/__init__.py
  src/omnibase_spi/protocols/workflow_orchestration/__init__.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_event_bus.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore: fix pre-existing AI-slop violations for --strict mode [OMN-3669] (#111)
  src/omnibase_spi/contracts/__init__.py
  src/omnibase_spi/contracts/defaults/__init__.py
  src/omnibase_spi/contracts/delegation/__init__.py
  src/omnibase_spi/contracts/enrichment/__init__.py
  src/omnibase_spi/contracts/measurement/__init__.py
  src/omnibase_spi/factories/__init__.py
  src/omnibase_spi/protocols/container/protocol_service_registry.py
  src/omnibase_spi/protocols/dashboard/protocol_dashboard_event_subscriber.py
  src/omnibase_spi/protocols/event_bus/protocol_event_bus_context_manager.py
  src/omnibase_spi/protocols/event_bus/protocol_kafka_adapter.py
  src/omnibase_spi/protocols/event_bus/protocol_redpanda_adapter.py
  src/omnibase_spi/protocols/mcp/__init__.py
  src/omnibase_spi/protocols/observability/__init__.py
  src/omnibase_spi/protocols/onex/protocol_compute_node.py
  src/omnibase_spi/protocols/onex/protocol_effect_node.py
  src/omnibase_spi/protocols/onex/protocol_node.py
  src/omnibase_spi/protocols/onex/protocol_orchestrator_node.py
  src/omnibase_spi/protocols/onex/protocol_reducer_node.py
  src/omnibase_spi/protocols/projections/__init__.py
  src/omnibase_spi/protocols/projectors/__init__.py
  src/omnibase_spi/protocols/protocol_execution_constrainable.py
  src/omnibase_spi/protocols/registry/protocol_registry_base.py
  src/omnibase_spi/protocols/registry/protocol_versioned_registry.py
  src/omnibase_spi/protocols/types/protocol_advanced_types.py
  src/omnibase_spi/protocols/types/protocol_agent_ai_types.py
  src/omnibase_spi/protocols/types/protocol_analytics_types.py
  src/omnibase_spi/protocols/types/protocol_base_types.py
  src/omnibase_spi/protocols/types/protocol_connection_types.py
  src/omnibase_spi/protocols/types/protocol_marker_types.py
  src/omnibase_spi/protocols/types/protocol_node_types.py
  src/omnibase_spi/protocols/types/protocol_retry_types.py
  src/omnibase_spi/protocols/types/protocol_state_types.py
  src/omnibase_spi/protocols/types/protocol_validation_types.py
  src/omnibase_spi/protocols/validation/__init__.py
  src/omnibase_spi/protocols/validation/protocol_validation.py
  src/omnibase_spi/protocols/verification/__init__.py
  src/omnibase_spi/protocols/workflow_orchestration/__init__.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_event_bus.py
  src/omnibase_spi/protocols/workflow_orchestration/protocol_workflow_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore: add no-env-file pre-commit hook to omnibase_spi [OMN-3700]
  .pre-commit-config.yaml
  scripts/validation/check_ai_slop.py
Due: ruff-format, ruff-fix

chore: add no-env-file pre-commit hook to omnibase_spi [OMN-3700] (#112)
  .pre-commit-config.yaml
  scripts/validation/check_ai_slop.py
Due: ruff-format, ruff-fix

fix: use --diff-filter and portable path in no-planning-docs hook
  .pre-commit-config.yaml
Due: none

chore: add no-planning-docs pre-commit hook (OMN-3618)
  .pre-commit-config.yaml
Due: none

ci: add --strict AI-slop, dependabot github-actions [OMN-3662]
  .github/dependabot.yml
  .pre-commit-config.yaml
Due: none

ci: add Dependabot github-actions ecosystem [OMN-3662]
  .github/dependabot.yml
Due: none

ci: CI resilience fixes [OMN-3662] (#110)
  .github/dependabot.yml
  .pre-commit-config.yaml
Due: none

chore: add no-planning-docs pre-commit hook (OMN-3618) (#109)
  .pre-commit-config.yaml
Due: none

release: omnibase_spi v0.15.1
  CHANGELOG.md
  pyproject.toml
  scripts/validation/shared_utils.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_exception_integration.py
  tests/protocols/event_bus/conftest.py
  tests/protocols/registry/test_versioned_registry.py
  tests/unit/contracts/test_default_handler_contracts.py
  tests/unit/protocols/handlers/conftest.py
  tests/unit/test_exception_handlers.py
  tests/unit/test_exceptions.py
  uv.lock
Due: ruff-format, ruff-fix

release: omnibase_spi v0.15.1 (#117)
  CHANGELOG.md
  pyproject.toml
  scripts/validation/shared_utils.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_exception_integration.py
  tests/protocols/event_bus/conftest.py
  tests/protocols/registry/test_versioned_registry.py
  tests/unit/contracts/test_default_handler_contracts.py
  tests/unit/protocols/handlers/conftest.py
  tests/unit/test_exception_handlers.py
  tests/unit/test_exceptions.py
  uv.lock
Due: ruff-format, ruff-fix

fix(ci): pin actions/checkout@v4 and actions/setup-python@v5 (OMN-3809)
  .github/workflows/check-handshake.yml
  .github/workflows/ci.yml
  .github/workflows/namespace-validation.yml
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
  .github/workflows/spi-validation.yml
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-protocols: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/|src/omnibase_spi/exceptions\.py).*$)
  validate-protocol-duplicates: any of: ^src/.*protocol.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-typing-patterns: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-naming-conventions: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-naming-patterns: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-namespace-isolation-new: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
