Repository OmniNode-ai/omnibase_spi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/|\.github/workflows/).*$
  mypy-type-check: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-protocols: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/|src/omnibase_spi/exceptions\.py).*$)
  validate-protocol-duplicates: any of: ^src/.*protocol.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-typing-patterns: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-spi-naming-conventions: any of: ^src/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-naming-patterns: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-namespace-isolation-new: any of: ^src/omnibase_spi/.*\.py$ and \.py$ and not (^(tests/|scripts/).*\.py$)
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|scripts/validation/).*\.py$

OMN-20298: Add shape-gate independence guard and CI workflow
  .github/required-checks.yaml
  .github/workflows/shape-gate-independence.yml
  .pre-commit-config.yaml
Due: none

test(OMN-20298): planted bad sample
  .github/workflows/planted-shape-gate.yml
Due: none

feat(OMN-20304): canonical-file-shape ratchet blocks new scripts, plugins and exceptions
  .github/workflows/ci.yml
  .onex_ratchets/canonical_file_shape_baseline.txt
  .pre-commit-config.yaml
  scripts/validation/validate_precommit_pin_parity.py
Due: ruff-format, ruff-fix

OMN-20304: Fix permission mismatch in ban-hardcoded-runner-ip workflow
  .github/workflows/ban-hardcoded-runner-ip.yml
Due: none

fix(OMN-20298): repin shape-gate independence guard to new module path
  .github/workflows/shape-gate-independence.yml
  .pre-commit-config.yaml
Due: none

fix(ci): grant pull-requests: read to ban-hardcoded-runner-ip caller [OMN-20304]
  .github/workflows/ban-hardcoded-runner-ip.yml
Due: none

fix(ci): grant pull-requests: read to ban-hardcoded-runner-ip caller [OMN-20304] (#336)
  .github/workflows/ban-hardcoded-runner-ip.yml
Due: none

feat(OMN-20304): canonical-file-shape ratchet blocks new scripts, plugins and exceptions (#335)
  .github/workflows/ci.yml
  .onex_ratchets/canonical_file_shape_baseline.txt
  .pre-commit-config.yaml
  scripts/validation/validate_precommit_pin_parity.py
Due: ruff-format, ruff-fix

feat(OMN-20298): shape-gate independence guard (#334)
  .github/required-checks.yaml
  .github/workflows/shape-gate-independence.yml
  .pre-commit-config.yaml
Due: none

fix(OMN-20001): pin sibling-repo reads in CI to exact shas
  .github/workflows/call-occ-autobind.yml
  .github/workflows/call-occ-companion-effect.yml
  .github/workflows/ci.yml
  .github/workflows/contract-validation.yml
  .github/workflows/docs-validate.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/security-scan.yml
  tests/ci/test_sibling_refs_pinned_omn20001.py
Due: ruff-format, ruff-fix

fix(OMN-20001): update backstop test to the pinned omniclaude rev
  tests/unit/validation/test_precommit_ci_backstops_omn19612.py
Due: ruff-format, ruff-fix

fix(OMN-20001): pin sibling-repo reads in CI to exact shas (#337)
  .github/workflows/call-occ-autobind.yml
  .github/workflows/call-occ-companion-effect.yml
  .github/workflows/ci.yml
  .github/workflows/contract-validation.yml
  .github/workflows/docs-validate.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/security-scan.yml
  tests/ci/test_sibling_refs_pinned_omn20001.py
  tests/unit/validation/test_precommit_ci_backstops_omn19612.py
Due: ruff-format, ruff-fix

fix(OMN-20460): pin the omnibase_core canonical-file-shape hook to the temp-file blob read fix
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

fix(OMN-20460): pin the omnibase_core canonical-file-shape hook to the temp-file blob read fix (#341)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

ci(OMN-17427): refresh omniclaude workflow pins in omnibase_spi
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/call-occ-autobind.yml
  .github/workflows/call-occ-companion-effect.yml
  .github/workflows/kb-doc-gate.yml
  .github/workflows/required-check-skip-guard-caller.yml
Due: none

ci(OMN-17427): refresh omniclaude workflow pins in omnibase_spi (#349)
  .github/workflows/ban-hardcoded-runner-ip.yml
  .github/workflows/call-occ-autobind.yml
  .github/workflows/call-occ-companion-effect.yml
  .github/workflows/required-check-skip-guard-caller.yml
Due: none

chore(OMN-20837): omnibase_spi names the renamed public repository knowledge_base
  .github/CONTRIBUTING.md
  CLAUDE.md
  README.md
  docs/api-reference/README.md
  pyproject.toml
  src/omnibase_spi/protocols/contracts/protocol_handler_contract.py
  src/omnibase_spi/protocols/contracts/protocol_handler_contract_types.py
  src/omnibase_spi/protocols/dashboard/protocol_renderer.py
  src/omnibase_spi/protocols/dashboard/protocol_renderer_capability_negotiator.py
  src/omnibase_spi/protocols/handlers/protocol_handler_source.py
  src/omnibase_spi/protocols/handlers/types.py
  src/omnibase_spi/protocols/protocol_execution_constrainable.py
  src/omnibase_spi/protocols/verification/protocol_package_verifier.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

chore(OMN-20837): omnibase_spi names the renamed public repository knowledge_base (#352)
  .github/CONTRIBUTING.md
  CLAUDE.md
  README.md
  docs/api-reference/README.md
  pyproject.toml
  src/omnibase_spi/protocols/contracts/protocol_handler_contract.py
  src/omnibase_spi/protocols/contracts/protocol_handler_contract_types.py
  src/omnibase_spi/protocols/dashboard/protocol_renderer.py
  src/omnibase_spi/protocols/dashboard/protocol_renderer_capability_negotiator.py
  src/omnibase_spi/protocols/handlers/protocol_handler_source.py
  src/omnibase_spi/protocols/handlers/types.py
  src/omnibase_spi/protocols/protocol_execution_constrainable.py
  src/omnibase_spi/protocols/verification/protocol_package_verifier.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-spi-protocols, validate-protocol-duplicates, validate-spi-typing-patterns, validate-spi-naming-conventions, validate-naming-patterns, validate-namespace-isolation-new, validate-secrets, validate-hardcoded-env-vars

fix(OMN-18595): align version badges and lock with 0.23.6
  docs/api-reference/CONTAINER.md
  docs/api-reference/CONTRACTS.md
  docs/api-reference/CORE.md
  docs/api-reference/EVENT-BUS.md
  docs/api-reference/EXCEPTIONS.md
  docs/api-reference/FILE-HANDLING.md
  docs/api-reference/HANDLERS.md
  docs/api-reference/MCP.md
  docs/api-reference/MEMORY.md
  docs/api-reference/NETWORKING.md
  docs/api-reference/NODES.md
  docs/api-reference/PROJECTIONS.md
  docs/api-reference/REGISTRY.md
  docs/api-reference/VALIDATION.md
  docs/api-reference/WORKFLOW-ORCHESTRATION.md
  uv.lock
Due: none

ci(OMN-20074): add call-repo-evidence-gate workflow and contracts
  .github/workflows/call-repo-evidence-gate.yml
  contracts/OMN-20074.yaml
  tests/ci/test_repo_evidence_caller_omn20074.py
Due: ruff-format, ruff-fix

ci(OMN-20074): add call-repo-evidence-gate workflow and contracts (#354)
  .github/workflows/call-repo-evidence-gate.yml
  contracts/OMN-20074.yaml
  tests/ci/test_repo_evidence_caller_omn20074.py
Due: ruff-format, ruff-fix

ci(OMN-20032): pin receipt-gate to 4e4f5e04 carrying VERIFIER_FLOOR
  .github/workflows/call-repo-evidence-gate.yml
  contracts/OMN-20032.yaml
  tests/ci/test_repo_evidence_caller_omn20074.py
  tests/ci/test_repo_evidence_caller_verifier_floor_omn20032.py
Due: ruff-format, ruff-fix

ci(OMN-20074): move no-hardcoded-topics and no-untracked-todos to omnibase_core, leave cosmetic-lint on onex_change_control
  .pre-commit-config.yaml
  contracts/OMN-20074.yaml
  tests/ci/test_precommit_hooks_core_omn20074.py
Due: ruff-format, ruff-fix

ci(OMN-20074): compare hook excludes byte-for-byte instead of sha256
  tests/ci/test_precommit_hooks_core_omn20074.py
Due: ruff-format, ruff-fix

fix(OMN-20032): Remove extra_forbidden binds_ac fields from contract
  contracts/OMN-20032.yaml
Due: none

ci(OMN-20074): move cosmetic-lint to the omnibase_core pre-commit block
  .pre-commit-config.yaml
  contracts/OMN-20074.yaml
  tests/ci/test_precommit_hooks_core_omn20074.py
Due: ruff-format, ruff-fix

ci(OMN-20074): move no-hardcoded-topics and no-untracked-todos to omnibase_core, leave cosmetic-lint on onex_change_control (#357)
  .pre-commit-config.yaml
  contracts/OMN-20074.yaml
  tests/ci/test_precommit_hooks_core_omn20074.py
Due: ruff-format, ruff-fix

ci(OMN-20074): bind dod_evidence items to AC1-AC6
  contracts/OMN-20074.yaml
  tests/ci/test_repo_evidence_caller_omn20074.py
Due: ruff-format, ruff-fix

ci(OMN-20032): re-pin repo-evidence caller to the receipt-gate that carries the verifier floor (#356)
  .github/workflows/call-repo-evidence-gate.yml
  contracts/OMN-20032.yaml
  tests/ci/test_repo_evidence_caller_omn20074.py
  tests/ci/test_repo_evidence_caller_verifier_floor_omn20032.py
Due: ruff-format, ruff-fix

ci(OMN-20074): point the S5 shadow OCC lookup at the nested eligibility check this repo reports
  .github/workflows/call-repo-evidence-gate.yml
  contracts/OMN-20074.yaml
  tests/ci/test_repo_evidence_caller_omn20074.py
Due: ruff-format, ruff-fix
